force-app/main/default/flows/Add_Reviewers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Reviewers_to_Display</name>
        <label>Assign Reviewers to Display</label>
        <locationX>440</locationX>
        <locationY>1238</locationY>
        <assignmentItems>
            <assignToReference>VAR_DisplayReviewer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VAR_ReviewersTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Display_Reviewers</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Add_Reviwers</name>
        <label>Check Add Reviwers</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Get_COM_Reviewer_Record_IDs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Check_Add_Reviwers_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_like_to_add_more_reviewers</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Select_Reviewer</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>v6 -- Added Display Reviewers</description>
    <interviewLabel>Add Reviewers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Reviewers</label>
    <loops>
        <name>Loop_COM_Reviewers_Records</name>
        <label>Loop COM Reviewers Records</label>
        <locationX>352</locationX>
        <locationY>1118</locationY>
        <collectionReference>Get_COM_Reviewer_Record_IDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Reviewers_to_Display</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Child_Record</name>
        <label>Create Child Record</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Add_More_Reviewers</targetReference>
        </connector>
        <inputAssignments>
            <field>COM__c</field>
            <value>
                <elementReference>VAR_ParentRecordId_from_Mainflow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewers__c</field>
            <value>
                <elementReference>Get_Selected_Reviewer_Record_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <object>COM_Reviewer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Active_Reviwers</name>
        <label>Get Active Reviwers</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Reviewer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>COM_PTR_Reviewer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_COM_Reviewer_Record_IDs</name>
        <label>Get COM Reviewer Record IDs</label>
        <locationX>352</locationX>
        <locationY>878</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_All_Reviewers_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>COM__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_ParentRecordId_from_Mainflow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>COM_Reviewer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Reviewer_Record_ID</name>
        <label>Get Selected Reviewer Record ID</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Child_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectReviwer.recordName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>COM_PTR_Reviewer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_More_Reviewers</name>
        <label>Add More Reviewers</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Add_Reviwers</targetReference>
        </connector>
        <fields>
            <name>Would_you_like_to_add_more_reviewers</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Would you like to add more reviewers?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_All_Reviewers_List</name>
        <label>Display All Reviewers List</label>
        <locationX>352</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_COM_Reviewers_Records</targetReference>
        </connector>
        <fields>
            <name>Display_All_Reviewers_List_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_All_Reviewers_List_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayAllReviewers</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>COM_Reviewer__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>Tigerface1:flowDataTable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>COM_Reviewer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordList</name>
                        <value>
                            <elementReference>Get_COM_Reviewer_Record_IDs</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fields</name>
                        <value>
                            <stringValue>Reviewers__c,COM__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableMode</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showRowNumbers</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Reviewers</name>
        <label>Display Reviewers</label>
        <locationX>440</locationX>
        <locationY>1358</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_COM_Reviewers_Records</targetReference>
        </connector>
        <fields>
            <name>Display_Reviewers_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Display_Reviewers_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayReviewersList</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;em&gt;&lt;u&gt;Added Reviewers List:&lt;/u&gt;&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Name:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!VAR_DisplayReviewer}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Reviewer</name>
        <label>Select Reviewer</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Reviewer_Record_ID</targetReference>
        </connector>
        <fields>
            <name>SelectReviwer</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>COM_PTR_Reviewer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Reviewer__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Reviewer</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Active_Reviwers</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>VAR_ReviewersTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Loop_COM_Reviewers_Records.Name} &amp;lt;br/&amp;gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>VAR_DisplayReviewer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_ParentRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>COM__c</objectType>
    </variables>
    <variables>
        <name>VAR_ParentRecordId_from_Mainflow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_ReviewerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>COM_PTR_Reviewer__c</objectType>
    </variables>
</Flow>
