force-app/main/default/flows/ADM_BCR_Screen_Flow_For_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <description>remove banner</description>
    <dynamicChoiceSets>
        <name>OptionProjectType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CPR_ProjectType__c</picklistField>
        <picklistObject>OEA__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PublicationTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PublicationType__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ThisActivityOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PriorApprovalReceived__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>OEA CPR Screen Flow For Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADM BCR Screen Flow For Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>768</locationX>
        <locationY>210</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Request_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Request_Data</name>
        <label>Get Request Data</label>
        <locationX>471</locationX>
        <locationY>391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_APP_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.Reference_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ADM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_APP_Request</name>
        <label>Copy 1 of APP_Request</label>
        <locationX>774</locationX>
        <locationY>471</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_APP_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_APP_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>f1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Name on Card: &lt;/strong&gt;{!Get_Request_Data.BCR_New_RequesterName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>f4</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Work Phone: &lt;/strong&gt;{!Get_Request_Data.BCR_New_RequesterWorkPhone__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>f6</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Email: &lt;/strong&gt;{!Get_Request_Data.BCR_New_RequesterEmail__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_APP_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>f2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Title: &lt;/strong&gt;{!Get_Request_Data.BCR_New_RequesterJobTitle__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>f8</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Cell Phone: &lt;/strong&gt;{!Get_Request_Data.BCR_New_RequesterCellPhone__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>f7</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Division: &lt;/strong&gt;{!Get_Request_Data.BCR_New_RequesterDivision2__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_APP_Request_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>f3</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Work Address: &lt;/strong&gt;{!Get_Request_Data.BCR_New_RequesterWorkAddress__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>f5</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Fax: &lt;/strong&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;{!Get_Request_Data.BCR_New_RequesterWorkFax__c} &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>f9</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Bureau: &lt;/strong&gt;{!Get_Request_Data.BCR_New_RequesterBureau2__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>f16</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select your division approver: &lt;/strong&gt;{!Get_Request_Data.BCR_AssignedToName__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>f11</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;1. Does your job require you to spend more than sixty percent of your time interacting with the public?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Request_Data.BCR_PublicDealing__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>f12</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;2. Does your job require that these contacts get back to you specifically as opposed to any others in your office?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Request_Data.BCR_ContactRequired__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>f13</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;3. Does your position require that you are often personally accessible by phone or pager?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Request_Data.BCR_PositionRequired__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>f14</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;4. Do you frequently represent the agency to public and private business contacts?&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Request_Data.BCR_RepresentAgency__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>f15</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Comments:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(2, 2, 2);&quot;&gt;{!Get_Request_Data.BCR_Comments__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>649</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferenceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
