force-app/main/default/flows/ADM_TRAN_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FW_Navigate_to_Case_Record</name>
        <label>FW Navigate to Case Record</label>
        <locationX>776</locationX>
        <locationY>1166</locationY>
        <actionName>c:navigateTo</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navigateto</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>APP_ApplicationURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FW_Submit_for_Approval</name>
        <label>FW_Submit for Approval</label>
        <locationX>776</locationX>
        <locationY>926</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>FW_Case_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>APP_Approval_Process</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <dynamicChoiceSets>
        <name>TRAN_Delivery_Group_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TRAN_DeliverGroup__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TRAN_Delivery_Items_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TRAN_DeliveryItems__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TRAN_Delivery_Policy_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TRAN_DeliveryPolicy__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TRAN_Tran_Bureau_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TRAN_TransFromProgram__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TRAN_Tran_From_Borough_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TRAN_TransFromBorough__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TRAN_Tran_To_Borough_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TRAN_TransToBorough__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TRAN_Tran_To_Bureau_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TRAN_TransToProgram__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TRAN_Tran_To_Division_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TRAN_TransToDivision__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TRAN_Trans_Division_From_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TRAN_TransFromDivision__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TRAN_Transport_Type_List</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TRAN_TransportType__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>APP_CustomApp_RecordData_To_CaseDescriptionSummary</name>
        <dataType>String</dataType>
        <expression>&quot;text&quot;</expression>
    </formulas>
    <interviewLabel>ADM TRAN Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADM TRAN Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>APP_Create_Record_In_Custom_App_Object</name>
        <label>APP Create Record In Custom App Object</label>
        <locationX>776</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>FW_CustomAppObjectRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>APP_Get_App_Record_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>APP_Record__c</field>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FW_Create_Case.Case.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case_ID__c</field>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_ACorAbove__c</field>
            <value>
                <elementReference>ACorAbove</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_AssignedBy__c</field>
            <value>
                <elementReference>Assigned_Delegate_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_DeliveryItems__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_DeliveryPolicy__c</field>
            <value>
                <elementReference>Select_Delivery_Policy</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_PickUpLocation__c</field>
            <value>
                <elementReference>Pickup_location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_ProjectDeliveryDate__c</field>
            <value>
                <elementReference>Projected_Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_ReceiveLocation__c</field>
            <value>
                <elementReference>Receiving_location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_RequestLocation__c</field>
            <value>
                <elementReference>staff_relocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_TransFromAddress1__c</field>
            <value>
                <elementReference>Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_TransFromBorough__c</field>
            <value>
                <elementReference>Borough</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_TransFromCubicle__c</field>
            <value>
                <elementReference>Cubicle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_TransFromDivision__c</field>
            <value>
                <elementReference>Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_TransFromFloor__c</field>
            <value>
                <elementReference>Floor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_TransFromRoom__c</field>
            <value>
                <elementReference>Room</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_TransToProgram__c</field>
            <value>
                <elementReference>Program_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TRAN_TransportType__c</field>
            <value>
                <elementReference>Select_Transport_Type</elementReference>
            </value>
        </inputAssignments>
        <object>ADM__c</object>
    </recordCreates>
    <recordDeletes>
        <name>FW_DeleteCaseRecord</name>
        <label>FW_DeleteCaseRecord</label>
        <locationX>1040</locationX>
        <locationY>1046</locationY>
        <connector>
            <targetReference>FW_Rollback_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <name>APP_Get_App_Record_Details</name>
        <label>APP_Get App Record Details</label>
        <locationX>776</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APP_Update_Related_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_CustomAppObjectRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ADM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>FW_Rollback_AfterCaseUpdate</name>
        <label>FW_Rollback_AfterCaseUpdate</label>
        <locationX>1040</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>FW_DeleteCaseRecord</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>APP_Update_Related_Case_Record</name>
        <label>APP_Update Related Case Record</label>
        <locationX>776</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>FW_Submit_for_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FW_Rollback_AfterCaseUpdate</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FW_ForCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>APP_Request</name>
        <label>APP_Request</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>APP_Create_Record_In_Custom_App_Object</targetReference>
        </connector>
        <fields>
            <name>APP_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_OnBehalfOf_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Requester Name:&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Email</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_WorkPhone</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Work Phone: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.WorkPhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Address</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Address: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Address__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_Space</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Division</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Division: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Division__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Bureau</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Bureau: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Bureau__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Unit</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Work Unit: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Unit__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>APP_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ACorAbove</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Requester is an Assistant Commissioner level title or higher</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>APP_Request_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type</name>
                    <choiceReferences>TRAN_Delivery_Items_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Projected_Delivery_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Projected Delivery Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Assigned_Delegate_Group</name>
                    <choiceReferences>TRAN_Delivery_Group_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Assigned Delegate Group</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Select_all_that_apply</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(51, 51, 51);&quot;&gt;Select all that apply&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>APP_Request_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>staff_relocation</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Request is part of a staff relocation</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pickup_location</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Pickup location is within hub (South of Canal St)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Receiving_location</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Receiving location is within hub (South of Canal St)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>APP_Request_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Delivery_Policy</name>
                    <choiceReferences>TRAN_Delivery_Policy_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Delivery Policy</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Select_Transport_Type</name>
                    <choiceReferences>TRAN_Transport_Type_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Transport Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TRANSPORT_ITEM_S_FROM</name>
            <fieldText>TRANSPORT ITEM(S) FROM</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TRANSPORT_ITEM_S_FROM_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Division</name>
                    <choiceReferences>TRAN_Trans_Division_From_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Division</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TRANSPORT_ITEM_S_FROM_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bureau</name>
                    <choiceReferences>TRAN_Tran_Bureau_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Bureau</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>APP_Request_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address</name>
                    <fieldText>Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>APP_Request_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Floor</name>
                    <dataType>String</dataType>
                    <fieldText>Floor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cubicle</name>
                    <dataType>String</dataType>
                    <fieldText>Cubicle</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Room</name>
                    <dataType>String</dataType>
                    <fieldText>Room</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section8_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Borough</name>
                    <choiceReferences>TRAN_Tran_From_Borough_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Borough</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>From_Operations_Section_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(51, 51, 51);&quot;&gt;Operations will issue a receipt for items REMOVED to&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>APP_Request_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Phone</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Extension</name>
                    <dataType>String</dataType>
                    <fieldText>Extension</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title</name>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Days_Hours_Open</name>
                    <dataType>String</dataType>
                    <fieldText>Days &amp; Hours Open</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TRANSPORT_ITEM_S_TO</name>
            <fieldText>TRANSPORT ITEM(S) TO</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>TRANSPORT_ITEM_S_TO_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Division_To</name>
                    <choiceReferences>TRAN_Tran_To_Division_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Division</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>TRANSPORT_ITEM_S_TO_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bureau_To</name>
                    <choiceReferences>TRAN_Tran_To_Bureau_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Bureau</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Address_To</name>
            <fieldText>Address</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Floor_To</name>
                    <dataType>String</dataType>
                    <fieldText>Floor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cubicle_To</name>
                    <dataType>String</dataType>
                    <fieldText>Cubicle</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Room_To</name>
                    <dataType>String</dataType>
                    <fieldText>Room</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section11_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Borough_To</name>
                    <choiceReferences>TRAN_Tran_To_Borough_List</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Borough</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>To_Operations_Section_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(51, 51, 51);&quot;&gt;Operations will issue a receipt for items RECEIVED to&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>APP_Request_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name_To</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Phone_To</name>
                    <dataType>String</dataType>
                    <fieldText>Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Last_Name_To</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Extension_To</name>
                    <dataType>String</dataType>
                    <fieldText>Extension</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section12_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Title_To</name>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Days_Hours_Open_To</name>
                    <dataType>String</dataType>
                    <fieldText>Days &amp; Hours Open</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Charges_Section_Header</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(51, 51, 51);&quot;&gt;CHARGE COST OF TRANSACTION TO PRICING FOR SMALL ITEMS&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>APP_Request_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Program_code</name>
                    <dataType>String</dataType>
                    <fieldText>Program code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Category</name>
                    <dataType>String</dataType>
                    <fieldText>Category</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Budget_code</name>
                    <dataType>String</dataType>
                    <fieldText>Budget code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Object_code</name>
                    <dataType>String</dataType>
                    <fieldText>Object code</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>APP_Request_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Total_number_of_item_s_in_this_form</name>
                    <dataType>String</dataType>
                    <fieldText>Total number of item(s) in this form</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Total_number_of_items_listed_in_attachments_and_comments</name>
                    <fieldText>Total number of items listed in attachments and comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Grand_total_number_of_items</name>
                    <dataType>String</dataType>
                    <fieldText>Grand total number of items</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Special_Instructions</name>
                    <fieldText>Special Instructions</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Case_Confirmation</name>
        <label>FW Case Confirmation</label>
        <locationX>776</locationX>
        <locationY>1046</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Navigate_to_Case_Record</targetReference>
        </connector>
        <fields>
            <name>FW_Case_Confirmation_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Your case # {!APP_Get_App_Record_Details.Reference_Number_Delete__c} has been created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go to Case Record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Rollback_Confirmation</name>
        <label>FW_Rollback_Confirmation</label>
        <locationX>1040</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FW_Rollback_Confirmation_Message</name>
            <fieldText>&lt;p&gt;An error has occurred. The system admins have been notified of the error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FW_OnBehalfOf</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>FW_Create_Case</name>
        <label>FW Create Case</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>APP_Request</targetReference>
        </connector>
        <flowName>FW_Create_Case</flowName>
        <inputAssignments>
            <name>APP_Application_type</name>
            <value>
                <elementReference>APP_Application_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_ApprovalProcess_FirstStatus</name>
            <value>
                <elementReference>APP_ApprovalProcess_FirstStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Initial_Assigned_Group</name>
            <value>
                <elementReference>APP_Initial_Assigned_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Origin</name>
            <value>
                <elementReference>APP_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Record</name>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_RecordType</name>
            <value>
                <elementReference>APP_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Related_Object</name>
            <value>
                <elementReference>APP_Related_Object</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FW_OnBehalfOf</name>
        <label>FW OnBehalfOf</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>FW_Create_Case</targetReference>
        </connector>
        <flowName>FW_On_Behalf_Of</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>APP_Application_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Business Card Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApplicationURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>business-card-request</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Approval_Process</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_EE_Default_Approval_Process</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApprovalProcess_FirstStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Submitted for Approval</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Initial_Assigned_Group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_EE_Default_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>eForm</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>TRAN</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Application Default</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Related_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ADM</stringValue>
        </value>
    </variables>
    <variables>
        <name>FW_CustomAppObjectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FW_ForCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>APP_CustomApp_RecordData_To_CaseDescriptionSummary</elementReference>
        </value>
    </variables>
</Flow>
