force-app/main/default/flows/ADM_PRQ_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FW_Navigate_to_Case_Record</name>
        <label>FW Navigate to Case Record</label>
        <locationX>776</locationX>
        <locationY>1166</locationY>
        <actionName>c:navigateTo</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navigateto</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>APP_ApplicationURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FW_Submit_for_Approval</name>
        <label>FW_Submit for Approval</label>
        <locationX>776</locationX>
        <locationY>926</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>FW_Case_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>APP_Approval_Process</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>DOHMH_Employee</name>
        <choiceText>DOHMH Employee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DOHMH Employee</stringValue>
        </value>
    </choices>
    <choices>
        <name>FW_Another_User</name>
        <choiceText>Another User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another User</stringValue>
        </value>
    </choices>
    <choices>
        <name>FW_MySelf</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MySelf</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_DOHMH_Employee</name>
        <choiceText>Non DOHMH Employee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non DOHMH Employee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>OptionFinishingType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PRQ_FinishingBinderyWorkType__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OptionFundingSourceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PRQ_FundingSource__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OptionPaperSize</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PRQ_PaperSizeType__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OptionPaperStockColorType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PRQ_PaperStockColorType__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OptionPaperStockType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PRQ_PaperStockType__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OptionPressWorkType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PRQ_PressWorkType__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OptionSalutations</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PRQ_ShipToSalutations__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OptionWorkCategoryType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PRQ_WorkCategoryType__c</picklistField>
        <picklistObject>ADM__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PublicationTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PublicationType__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ThisActivityOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PriorApprovalReceived__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>APP_CustomApp_RecordData_To_CaseDescriptionSummary</name>
        <dataType>String</dataType>
        <expression>&quot;Date Needed: &quot; +TEXT({!Date_Needed}) &amp;BR()
&amp;&quot;Description or Name: &quot; +{!Description_or_Name} &amp;BR()
&amp;&quot;Special Instruction: &quot; +{!Special_Instruction} &amp;BR()
&amp;&quot;Number Of Pages in Document: &quot; +TEXT({!Number_Of_Pages_in_Document}) &amp;BR()
&amp;&quot;Number Of Copies Required: &quot; +TEXT({!Number_Of_Copies_Required}) &amp;BR()
&amp;&quot;Back To Back Printing: &quot; +{!Back_To_Back_Printing} &amp;BR()
&amp;&quot;Type of Work Category: &quot; +{!Type_of_Work_Category} &amp;BR()
&amp;&quot;Type of Work Category: &quot; +{!Type_of_Work_Category} &amp;BR()
&amp;&quot;Type of PressWork: &quot; +{!Type_of_PressWork} &amp;BR()
&amp;&quot;Paper Stock: &quot; +{!Paper_Stock} &amp;BR()
&amp;&quot;Paper Stock Color: &quot; +{!Paper_Stock_Color} &amp;BR()
&amp;&quot;Paper Size: &quot; +{!Paper_Size} &amp;BR()
&amp;&quot;Finishing / Bindery Work: &quot; +{!Finishing_Bindery_Work} &amp;BR()
&amp;&quot;Funding Source: &quot; +{!Funding_Source_1} &amp;BR()</expression>
    </formulas>
    <interviewLabel>ADM PRQ Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADM PRQ Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>APP_Create_Record_In_Custom_App_Object</name>
        <label>APP Create Record In Custom App Object</label>
        <locationX>776</locationX>
        <locationY>565</locationY>
        <assignRecordIdToReference>FW_CustomAppObjectRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>APP_Get_App_Record_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>APP_Record__c</field>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FW_Create_Case.Case.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ClientLogNo__c</field>
            <value>
                <elementReference>Client_Log</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_FinishingBinderyWork__c</field>
            <value>
                <elementReference>Finishing_Bindery_Work</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_FundingSource__c</field>
            <value>
                <elementReference>Funding_Source_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_PRQBackToBackPrinting__c</field>
            <value>
                <elementReference>Back_To_Back_Printing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_PRQDesc__c</field>
            <value>
                <elementReference>Description_or_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_PRQNoOfCopies__c</field>
            <value>
                <elementReference>Number_Of_Copies_Required</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_PRQNoOfPages__c</field>
            <value>
                <elementReference>Pager_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_PRQOrderNo__c</field>
            <value>
                <elementReference>Your_Order</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_PRQSpecialInstruction__c</field>
            <value>
                <elementReference>Special_Instruction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_PaperSize__c</field>
            <value>
                <elementReference>Paper_Size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_PaperStockColor__c</field>
            <value>
                <elementReference>Paper_Stock_Color</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_PaperStock__c</field>
            <value>
                <elementReference>Paper_Stock</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_PressWork__c</field>
            <value>
                <elementReference>Type_of_PressWork</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToAddress1__c</field>
            <value>
                <elementReference>Address1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToAddress2__c</field>
            <value>
                <elementReference>Address2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToBureau__c</field>
            <value>
                <elementReference>Bureau</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToCellNo__c</field>
            <value>
                <elementReference>Cell_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToCity__c</field>
            <value>
                <elementReference>City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToDateNeeded__c</field>
            <value>
                <elementReference>Date_Needed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToDivision__c</field>
            <value>
                <elementReference>Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToEmail__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToFaxNo__c</field>
            <value>
                <elementReference>Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToFirstName__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToLastName__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToPagerNo__c</field>
            <value>
                <elementReference>Pager_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToPhoneExt__c</field>
            <value>
                <elementReference>Tel_Ext</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToPhoneNo__c</field>
            <value>
                <elementReference>Telephone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToProgram__c</field>
            <value>
                <elementReference>Program</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToSalutations__c</field>
            <value>
                <elementReference>Salutations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToState__c</field>
            <value>
                <elementReference>State</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToTitle__c</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_ShipToZip__c</field>
            <value>
                <elementReference>Zip</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PRQ_WorkCategory__c</field>
            <value>
                <elementReference>Type_of_Work_Category</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case_ID__c</field>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ADM__c</object>
    </recordCreates>
    <recordDeletes>
        <name>FW_DeleteCaseRecord</name>
        <label>FW_DeleteCaseRecord</label>
        <locationX>1040</locationX>
        <locationY>1045</locationY>
        <connector>
            <targetReference>FW_Rollback_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <name>APP_Get_App_Record_Details</name>
        <label>APP_Get App Record Details</label>
        <locationX>776</locationX>
        <locationY>686</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APP_Update_Related_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_CustomAppObjectRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ADM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>FW_Rollback_AfterCaseUpdate</name>
        <label>FW_Rollback_AfterCaseUpdate</label>
        <locationX>1040</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>FW_DeleteCaseRecord</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>APP_Update_Related_Case_Record</name>
        <label>APP_Update Related Case Record</label>
        <locationX>776</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>FW_Submit_for_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FW_Rollback_AfterCaseUpdate</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FW_ForCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>APP_Request</name>
        <label>APP_Request</label>
        <locationX>776</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>APP_Create_Record_In_Custom_App_Object</targetReference>
        </connector>
        <fields>
            <name>APP_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_OnBehalfOf_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Requester Name:&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Email</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_WorkPhone</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Work Phone: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.WorkPhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Address</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Address: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Address__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_Space</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Division</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Division: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Division__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Bureau</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Bureau: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Bureau__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Unit</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Work Unit: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Unit__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SHIP_TO_INFORMATION</name>
            <fieldText>SHIP TO INFORMATION</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SHIP_TO_INFORMATION_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Salutations</name>
                    <choiceReferences>OptionSalutations</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Salutations</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>First_Name</name>
                    <dataType>String</dataType>
                    <fieldText>First Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Title</name>
                    <dataType>String</dataType>
                    <fieldText>Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Telephone</name>
                    <dataType>String</dataType>
                    <fieldText>Telephone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Fax</name>
                    <dataType>String</dataType>
                    <fieldText>Fax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address1</name>
                    <dataType>String</dataType>
                    <fieldText>Address1</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Zip</name>
                    <dataType>String</dataType>
                    <fieldText>Zip</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Division</name>
                    <dataType>String</dataType>
                    <fieldText>Division</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Program</name>
                    <dataType>String</dataType>
                    <fieldText>Program</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Your_Order</name>
                    <dataType>String</dataType>
                    <fieldText>Your Order #</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Description_or_Name</name>
                    <fieldText>Description or Name</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Number_Of_Pages_in_Document</name>
                    <dataType>Number</dataType>
                    <fieldText>Number Of Pages in Document</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>Back_To_Back_Printing</name>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Yes</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Back To Back Printing</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type_of_Work_Category</name>
                    <choiceReferences>OptionWorkCategoryType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Work Category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type_of_PressWork</name>
                    <choiceReferences>OptionPressWorkType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of PressWork</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Paper_Stock</name>
                    <choiceReferences>OptionPaperStockType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Paper Stock</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Paper_Stock_Color</name>
                    <choiceReferences>OptionPaperStockColorType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Paper Stock Color</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Paper_Size</name>
                    <choiceReferences>OptionPaperSize</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Paper Size</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Finishing_Bindery_Work</name>
                    <choiceReferences>OptionFinishingType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Finishing / Bindery Work</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SHIP_TO_INFORMATION_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ship_To</name>
                    <choiceReferences>DOHMH_Employee</choiceReferences>
                    <choiceReferences>Non_DOHMH_Employee</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Ship To</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Last_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Last Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Tel_Ext</name>
                    <dataType>String</dataType>
                    <fieldText>Tel Ext</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cell_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Cell Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address2</name>
                    <dataType>String</dataType>
                    <fieldText>Address2</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>State</name>
                    <dataType>String</dataType>
                    <fieldText>State</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Pager_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Pager Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bureau</name>
                    <dataType>String</dataType>
                    <fieldText>Bureau</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Client_Log</name>
                    <dataType>String</dataType>
                    <fieldText>Client Log #</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Date_Needed</name>
                    <dataType>Date</dataType>
                    <fieldText>Date Needed</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>msg</name>
                    <fieldText>&lt;p&gt;&lt;em style=&quot;background-color: rgb(255, 255, 255); font-size: small; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(154, 205, 50);&quot;&gt;Minimum processing time is 10 business days&lt;/em&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Special_Instruction</name>
                    <fieldText>Special Instruction</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Number_Of_Copies_Required</name>
                    <dataType>Number</dataType>
                    <fieldText>Number Of Copies Required</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Hole_Punch_Direction_PLEASE_PLACE_X_s_IN_THE_GRID_TO_INDICATE_PLACEMENT</name>
            <fieldText>Hole Punch Direction(PLEASE PLACE X&apos;s IN THE GRID TO INDICATE PLACEMENT</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Hole_Punch_Direction_PLEASE_PLACE_X_s_IN_THE_GRID_TO_INDICATE_PLACEMENT_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cb1</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cb4</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>cb5</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hole_Punch_Direction_PLEASE_PLACE_X_s_IN_THE_GRID_TO_INDICATE_PLACEMENT_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cb2</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>placeholder1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;    &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>cb6</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hole_Punch_Direction_PLEASE_PLACE_X_s_IN_THE_GRID_TO_INDICATE_PLACEMENT_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>cb3</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>placeholder2</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;    &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>cb7</name>
                    <dataType>Boolean</dataType>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Hole_Punch_Direction_PLEASE_PLACE_X_s_IN_THE_GRID_TO_INDICATE_PLACEMENT_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>FUNDING_SOURCE</name>
            <fieldText>FUNDING SOURCE</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FUNDING_SOURCE_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Funding_Source_1</name>
                    <choiceReferences>OptionFundingSourceType</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Funding Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FUNDING_SOURCE_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Case_Confirmation</name>
        <label>FW Case Confirmation</label>
        <locationX>776</locationX>
        <locationY>1046</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Navigate_to_Case_Record</targetReference>
        </connector>
        <fields>
            <name>FW_Case_Confirmation_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Your case # {!FW_Create_Case.Case.Reference_Number__c} has been created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go to Case Record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Rollback_Confirmation</name>
        <label>FW_Rollback_Confirmation</label>
        <locationX>1040</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FW_Rollback_Confirmation_Message</name>
            <fieldText>&lt;p&gt;An error has occurred. The system admins have been notified of the error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FW_OnBehalfOf</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>FW_Create_Case</name>
        <label>FW Create Case</label>
        <locationX>776</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>APP_Request</targetReference>
        </connector>
        <flowName>FW_Create_Case</flowName>
        <inputAssignments>
            <name>APP_Application_type</name>
            <value>
                <elementReference>APP_Application_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_ApprovalProcess_FirstStatus</name>
            <value>
                <elementReference>APP_ApprovalProcess_FirstStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Initial_Assigned_Group</name>
            <value>
                <elementReference>APP_Initial_Assigned_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Origin</name>
            <value>
                <elementReference>APP_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Record</name>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_RecordType</name>
            <value>
                <elementReference>APP_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Related_Object</name>
            <value>
                <elementReference>APP_Related_Object</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FW_OnBehalfOf</name>
        <label>FW OnBehalfOf</label>
        <locationX>776</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>FW_Create_Case</targetReference>
        </connector>
        <flowName>FW_On_Behalf_Of</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>APP_Application_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Print Requisition</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApplicationURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>print-requisition</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Approval_Process</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_EE_Default_Approval_Process</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApprovalProcess_FirstStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Submitted for Approval</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Initial_Assigned_Group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_EE_Default_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_IsAttachmentRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>APP_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>eForm</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PRQ</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Application Default</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Related_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ADM</stringValue>
        </value>
    </variables>
    <variables>
        <name>FW_CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FW_CustomAppObjectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FW_ForCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>APP_CustomApp_RecordData_To_CaseDescriptionSummary</elementReference>
        </value>
    </variables>
    <variables>
        <name>FW_UserIdVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
