force-app/main/default/flows/ADM_BCR_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel_Request</name>
        <choiceText>Cancel Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reassign</name>
        <choiceText>Reassign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reassign</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <choices>
        <name>Requester_Review</name>
        <choiceText>Requester Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Requester Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_Again</name>
        <choiceText>Submit Again</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit Again</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_To_Print</name>
        <choiceText>Submit To Print</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit To Print</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Copy_1_of_Decision_Division_Approval</name>
        <label>Copy 1 of Decision Division Approval</label>
        <locationX>1979</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Task_Reassignment_Approval_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Task_Reassignment_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_BCR_Graphic_Group</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>Task_Reassignment_Approval_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Task_Reassignment_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Case_4</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
        <rules>
            <name>Task_Reassignment_Approval_Reassign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Task_Reassignment_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reassign</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Case_5</targetReference>
            </connector>
            <label>Reassign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Status</name>
        <label>Current Status</label>
        <locationX>1472</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Status_Division_Approval</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Division Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Task Reassignment Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Division_Approval</targetReference>
            </connector>
            <label>Division Approval OR Task Reassignment Approval</label>
        </rules>
        <rules>
            <name>Current_Status_Print_Shop_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Print Shop Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Print_Shop_Task</targetReference>
            </connector>
            <label>Print Shop Task</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Division_Approval</name>
        <label>Decision Division Approval</label>
        <locationX>393</locationX>
        <locationY>608</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Division_Approval_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionDivisionApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_BCR_Graphic_Group</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>Division_Approval_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionDivisionApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Division_Rejected</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
        <rules>
            <name>Division_Approval_Reassign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionDivisionApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reassign</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Reassignment_Approval</targetReference>
            </connector>
            <label>Reassign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Print_Shop_Task</name>
        <label>Decision Print Shop Task</label>
        <locationX>918</locationX>
        <locationY>603</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Print_Shop_Task_Submit_To_Print</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Print_Shop_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Submit_To_Print</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed</targetReference>
            </connector>
            <label>Submit_To_Print</label>
        </rules>
        <rules>
            <name>Print_Shop_Task_Cancel_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Print_Shop_Task</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cancel_Request</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Print_Shop_Cancelled</targetReference>
            </connector>
            <label>Cancel_Request</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>dasdasd</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>ADM BCR Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ADM BCR Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_BCR_Graphic_Group</name>
        <label>Copy 1 of Get BCR Graphic Group</label>
        <locationX>1899</locationX>
        <locationY>689</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Update_Case_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BCR_Graphic_Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_BCR_Graphic_Group</name>
        <label>Get BCR Graphic Group</label>
        <locationX>138</locationX>
        <locationY>689</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Print_Shop_Task</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BCR_Graphic_Group</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Status</name>
        <label>Get Status</label>
        <locationX>1473</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Back_to_requester</name>
        <label>Back to requester</label>
        <locationX>1414</locationX>
        <locationY>668</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Commentszzz</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Division Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>833</locationX>
        <locationY>820</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058y000001ORmY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Case_3</name>
        <label>Copy 1 of Update Case 3</label>
        <locationX>1840</locationX>
        <locationY>840</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Copy_1_of_Get_BCR_Graphic_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Print Shop Task</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Case_4</name>
        <label>Copy 1 of Update Case 4</label>
        <locationX>2012</locationX>
        <locationY>803</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058y000001ORmY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Division Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Case_5</name>
        <label>Copy 1 of Update Case 5</label>
        <locationX>2111</locationX>
        <locationY>686</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ReassignUser_Task_Reassignment_Approval.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Task Reassignment Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Division_Rejected</name>
        <label>Division Rejected</label>
        <locationX>402</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058y000001ORmY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Division Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Print_Shop_Cancelled</name>
        <label>Print Shop Cancelled</label>
        <locationX>1055</locationX>
        <locationY>823</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058y000001ORmY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Print Shop Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Print_Shop_Task</name>
        <label>Print Shop Task</label>
        <locationX>50</locationX>
        <locationY>808</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_BCR_Graphic_Group.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Print Shop Task</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Task_Reassignment_Approval</name>
        <label>Task Reassignment Approval</label>
        <locationX>572</locationX>
        <locationY>792</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ReassignUser.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Task Reassignment Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Screen_Division_Approval</name>
        <label>Screen Division Approval</label>
        <locationX>395</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Division_Approval</targetReference>
        </connector>
        <fields>
            <name>status2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Action Required - Division Approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Division Approval</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>status3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); background-color: rgb(255, 255, 255);&quot;&gt;Action Required - &lt;/strong&gt;&lt;strong&gt;Task Reassignment Approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Task Reassignment Approval</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Screen_Division_Approval_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Division_Approval_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ActionDivisionApproval</name>
                    <choiceReferences>Approve</choiceReferences>
                    <choiceReferences>Reject</choiceReferences>
                    <choiceReferences>Reassign</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Division_Approval_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReassignUser</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>LastModifiedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pick a user</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ActionDivisionApproval</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Reassign</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Division_Approval_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Division_Approval_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Print_Shop_Task</name>
        <label>Screen Print Shop Task</label>
        <locationX>1064</locationX>
        <locationY>530</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Print_Shop_Task</targetReference>
        </connector>
        <fields>
            <name>status1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Action Required - Print Shop Task&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Print_Shop_Task_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Print_Shop_Task_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action_Print_Shop_Task</name>
                    <choiceReferences>Submit_To_Print</choiceReferences>
                    <choiceReferences>Cancel_Request</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Print_Shop_Task_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Print_Shop_Task_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Print_Shop_Task_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Requester_Review</name>
        <label>Screen Requester Review</label>
        <locationX>1416</locationX>
        <locationY>520</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Back_to_requester</targetReference>
        </connector>
        <fields>
            <name>Screen_Requester_Review_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Requester_Review_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action5</name>
                    <choiceReferences>Submit_Again</choiceReferences>
                    <choiceReferences>Cancel</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Commentszzz</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Requester_Review_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Requester_Review_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Requester_Review_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Task_Reassignment_Approval</name>
        <label>Screen Task Reassignment Approval</label>
        <locationX>1979</locationX>
        <locationY>446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Decision_Division_Approval</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_status2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;Action Required - &lt;/strong&gt;&lt;strong&gt;Task Reassignment Approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_Task_Reassignment_Approval_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_Task_Reassignment_Approval_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action_Task_Reassignment_Approval</name>
                    <choiceReferences>Approve</choiceReferences>
                    <choiceReferences>Reject</choiceReferences>
                    <choiceReferences>Reassign</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Task_Reassignment_Approval_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReassignUser_Task_Reassignment_Approval</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>LastModifiedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pick a user</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ActionDivisionApproval</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Reassign</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Task_Reassignment_Approval_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_Task_Reassignment_Approval_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1347</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
