force-app/main/default/flows/COM_PTR_Screen_Flow_One_to_Many.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FW_Navigate_to_Case_Record</name>
        <label>FW Navigate to Case Record</label>
        <locationX>1096</locationX>
        <locationY>2279</locationY>
        <actionName>c:navigateTo</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navigateto</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>APP_ApplicationURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FW_Submit_for_Approval</name>
        <label>FW_Submit for Approval</label>
        <locationX>1094</locationX>
        <locationY>1944</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>FW_Case_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>APP_Approval_Process</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>FW_CaseRecordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>FW_Assign_Another_User_ID_Val</name>
        <label>FW_Assign Another User ID Val</label>
        <locationX>964</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>FW_UserIdVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FW_EmployeeIdLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FW_Fetching_Myuser_Details_From_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FW_Assign_User_ID_Val</name>
        <label>FW_Assign User ID Val</label>
        <locationX>1228</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>FW_UserIdVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FW_Fetching_Myuser_Details_From_Employee</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FW_Another_User</name>
        <choiceText>Another User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another User</stringValue>
        </value>
    </choices>
    <choices>
        <name>FW_MySelf</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MySelf</stringValue>
        </value>
    </choices>
    <decisions>
        <name>FW_User_Type_Identifier</name>
        <label>FW_User Type Identifier</label>
        <locationX>1085</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>FW_Assign_User_ID_Val</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FW_Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FW_Another_User_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FW_I_am_completing_this_request_on_behalf_of</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FW_Another_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FW_Assign_Another_User_ID_Val</targetReference>
            </connector>
            <label>FW_Another User Type</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PublicationTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PublicationType__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ThisActivityOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PriorApprovalReceived__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>APP_CustomApp_RecordData_To_CaseDescriptionSummary</name>
        <dataType>String</dataType>
        <expression>&quot;Publication Type: &quot; +{!Publication_Type} &amp;BR()
&amp;&quot;Target Publication: &quot; +{!Target_Publication} &amp;BR()
&amp;&quot;Conference Title: &quot; +{!Conference_Title} &amp;BR()
&amp;&quot;Submission Deadline: &quot; +TEXT({!Submission_Deadline}) &amp;BR()
&amp;&quot;Article Title: &quot; +{!Article_Title} &amp;BR()
&amp;&quot;Authors: &quot; +{!Authors} &amp;BR()
&amp;&quot;Abstract: &quot; +{!Abstract} &amp;BR()
&amp;&quot;Authors Comments: &quot; +{!Authors_Comments} &amp;BR()
&amp;&quot;Reviewed By Outside DOHMH: &quot; +IF({!Reviewed_By_Outside_DOHMH}, &quot;YES&quot;, &quot;No&quot;) &amp;BR()
&amp;&quot;This activity: &quot; +{!This_activity} &amp;BR()</expression>
    </formulas>
    <interviewLabel>COM PTR Screen Flow One to Many {!$Flow.CurrentDateTime}</interviewLabel>
    <label>COM PTR Screen Flow_One to Many</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>APP_Create_Record_In_Custom_App_Object</name>
        <label>APP Create Record In Custom App Object</label>
        <locationX>1093</locationX>
        <locationY>1413</locationY>
        <assignRecordIdToReference>FW_CustomAppObjectRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>APP_Get_App_Record_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>APP_Record__c</field>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_Abstract__c</field>
            <value>
                <elementReference>Abstract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_ArticleTitle__c</field>
            <value>
                <elementReference>Article_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_AuthorsComments__c</field>
            <value>
                <elementReference>Authors_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_Authors__c</field>
            <value>
                <elementReference>Authors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_ConferenceTitle__c</field>
            <value>
                <elementReference>Conference_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_PriorApprovalReceived__c</field>
            <value>
                <elementReference>This_activity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_PublicationType__c</field>
            <value>
                <elementReference>Publication_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_ReviewerByOutsideDOHMH__c</field>
            <value>
                <elementReference>Reviewed_By_Outside_DOHMH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_SubmissionDeadline__c</field>
            <value>
                <elementReference>Submission_Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_TargetPublication__c</field>
            <value>
                <elementReference>Target_Publication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case_ID__c</field>
            <value>
                <elementReference>FW_Get_Case_Details.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <object>COM__c</object>
    </recordCreates>
    <recordCreates>
        <name>FW_Create_Case</name>
        <label>FW Create Case</label>
        <locationX>1098</locationX>
        <locationY>902</locationY>
        <assignRecordIdToReference>FW_CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>FW_Get_Case_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>APP_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FW_GetRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Object__c</field>
            <value>
                <elementReference>APP_Related_Object</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>APP_ApprovalProcess_FirstStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>APP_Application_type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordDeletes>
        <name>FW_DeleteCaseRecord</name>
        <label>FW_DeleteCaseRecord</label>
        <locationX>709</locationX>
        <locationY>1507</locationY>
        <connector>
            <targetReference>FW_Rollback_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_CaseRecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <name>APP_Get_App_Record_Details</name>
        <label>APP_Get App Record Details</label>
        <locationX>1096</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APP_Update_Related_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_CustomAppObjectRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>COM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FW_Fetching_Myuser_Details_From_Employee</name>
        <label>FW_Fetching Myuser Details From Employee</label>
        <locationX>1096</locationX>
        <locationY>662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FW_GetRecordTypeID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_UserIdVal</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FW_Get_Case_Details</name>
        <label>FW Get Case Details</label>
        <locationX>1098</locationX>
        <locationY>1064</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APP_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_CaseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FW_GetRecordTypeID</name>
        <label>FW_GetRecordTypeID</label>
        <locationX>1299</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FW_Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>APP_RecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>FW_Rollback_AfterCaseUpdate</name>
        <label>FW_Rollback_AfterCaseUpdate</label>
        <locationX>709</locationX>
        <locationY>1874</locationY>
        <connector>
            <targetReference>FW_DeleteCaseRecord</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>APP_Update_Related_Case_Record</name>
        <label>APP_Update Related Case Record</label>
        <locationX>1097</locationX>
        <locationY>1771</locationY>
        <connector>
            <targetReference>FW_Submit_for_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FW_Rollback_AfterCaseUpdate</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Get_Case_Details.CaseNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>APP_Application_type</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FW_ForCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>APP_Get_App_Record_Details.Reference_Number_Delete__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>APP_Request</name>
        <label>APP_Request</label>
        <locationX>1093</locationX>
        <locationY>1210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>APP_Create_Record_In_Custom_App_Object</targetReference>
        </connector>
        <fields>
            <name>APP_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_Employee_Full_Name</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Name: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_GetEmployeeBureaue</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Bureau: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.Bureau__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_GetWorkPhone</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Work Phone: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.WorkPhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_RequesterWorkUnit</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Requester Work Unit: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.Work_Unit__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_GetEmployeeDivision</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Division: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.Division__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_GetAddress</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Address: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.Work_Address__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_RequesterEmail</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Requester Email: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Publication_Type</name>
                    <choiceReferences>PublicationTypeOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Publication Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Target_Publication</name>
                    <dataType>String</dataType>
                    <fieldText>Target Publication</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Conference_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Conference Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Submission_Deadline</name>
                    <dataType>Date</dataType>
                    <fieldText>Submission Deadline</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Article_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Article Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Authors</name>
                    <dataType>String</dataType>
                    <fieldText>Authors</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Abstract</name>
                    <fieldText>Abstract</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Authors_Comments</name>
                    <fieldText>Authors Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reviewed_By_Outside_DOHMH</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Reviewed By Outside DOHMH</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>This_activity</name>
                    <choiceReferences>ThisActivityOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>This activity</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Reviewer_Display</name>
                    <fieldText>&lt;p&gt;Reviewer&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>DataTable_Reviewer</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>COM_PTR_Reviewer__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>c:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>maxNumberOfRows</name>
                        <value>
                            <numberValue>7.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>COM_PTR_Reviewer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_suppressBottomBar</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_navigateNextOnSave</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnFields</name>
                        <value>
                            <stringValue>Number__c,Reviewer__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cb_matchCaseOnFilters</name>
                        <value>
                            <stringValue>CB_FALSE</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columnWidths</name>
                        <value>
                            <stringValue>Number__c:995, Reviewer__c:990</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>FW_Attachment_Component</name>
                    <extensionName>c:fileUploadImproved</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>sessionKey</name>
                        <value>
                            <stringValue>{!$Flow.InterviewGuid}1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>allowMultiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Attachments</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>FW_CaseRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>renderFilesBelow</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>visibleToAllUsers</name>
                        <value>
                            <elementReference>APP_IsAttachmentRequired</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Case_Confirmation</name>
        <label>FW Case Confirmation</label>
        <locationX>1095</locationX>
        <locationY>2074</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Navigate_to_Case_Record</targetReference>
        </connector>
        <fields>
            <name>FW_Case_Confirmation_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Your case # {!APP_Get_App_Record_Details.Reference_Number_Delete__c} has been created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go to Case Record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_On_Behalf_of</name>
        <label>FW_On Behalf of</label>
        <locationX>1095</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FW_User_Type_Identifier</targetReference>
        </connector>
        <fields>
            <name>FW_On_Behalf_of_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FW_On_Behalf_of_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_I_am_completing_this_request_on_behalf_of</name>
                    <choiceReferences>FW_MySelf</choiceReferences>
                    <choiceReferences>FW_Another_User</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>I am completing this request on behalf of:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FW_EmployeeIdLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>UserId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FW_I_am_completing_this_request_on_behalf_of</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>FW_Another_User</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FW_On_Behalf_of_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Rollback_Confirmation</name>
        <label>FW_Rollback_Confirmation</label>
        <locationX>710</locationX>
        <locationY>1161</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FW_Rollback_Confirmation_Message</name>
            <fieldText>&lt;p&gt;Error on entry. Rollback complete!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FW_On_Behalf_of</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>APP_Application_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Publication Tracking Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApplicationURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>publication-tracking-request</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Approval_Process</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_EE_Default_Approval_Process</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApprovalProcess_FirstStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Submitted for Approval</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Initial_Assigned_Group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_EE_Default_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_IsAttachmentRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>APP_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>eForm</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>PTR</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Application Default</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Related_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>COM</stringValue>
        </value>
    </variables>
    <variables>
        <name>FW_CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FW_CustomAppObjectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FW_ForCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>APP_CustomApp_RecordData_To_CaseDescriptionSummary</elementReference>
        </value>
    </variables>
    <variables>
        <name>FW_UserIdVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
