force-app/main/default/flows/CPR_Funding_Source.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>APP_Assign_Current_Record_Data</name>
        <label>APP_Assign Current Record Data</label>
        <locationX>857</locationX>
        <locationY>400</locationY>
        <assignmentItems>
            <assignToReference>FundingSource.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FW_Fake_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingSource.FundingSource__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingSource.FundingDesign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Design</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingSource.FundingPrinting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Printing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingSource.FundingMailing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mailing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingSource.FundingStorage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Storage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingSource.FundingAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingSource.IsFundingFlexible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Funding_Flexible</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingSource.FundingDeadline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Funding_Deadline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FundingSource.Record_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!FW_CurrentIncrement}+1</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>APP_Assign_Current_Record_To_Record_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>APP_Assign_Current_Record_To_Record_Collection</name>
        <label>APP_Assign Current Record To Record Collection</label>
        <locationX>839</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>FundingSourceList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FundingSource</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FW_CurrentIncrement</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>APP_DataTable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>APP_Assign_Value</name>
        <label>APP Assign Value</label>
        <locationX>1327</locationX>
        <locationY>428</locationY>
        <assignmentItems>
            <assignToReference>FundingSourceList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APP_Remove_Selected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>APP_DataTable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clean_Data</name>
        <label>Clean Data</label>
        <locationX>1864</locationX>
        <locationY>277</locationY>
        <assignmentItems>
            <assignToReference>Loop_Data.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Data.Reference_Number_Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FW_ReferemceNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Data</name>
        <label>Save Data</label>
        <locationX>1866</locationX>
        <locationY>435</locationY>
        <assignmentItems>
            <assignToReference>FundingSourceList_ForSave</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Data</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Data</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>APP_Remove_Selected</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>APP Remove Selected</label>
        <locationX>1325</locationX>
        <locationY>543</locationY>
        <assignNextValueToReference>currentItem_APP_Remove_Selected</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>FundingSourceList</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_APP_Remove_Selected.Id</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <elementReference>DataTable.firstSelectedRow.Id</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>APP_Assign_Value</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>APP_Decision</name>
        <label>APP_Decision</label>
        <locationX>1090</locationX>
        <locationY>521</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btn_Add_New.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APP_Add_New</targetReference>
            </connector>
            <label>Add New</label>
        </rules>
        <rules>
            <name>Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btn_Delete.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APP_Remove_Selected</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>FW_NewOrSave</name>
        <label>FW NewOrSave</label>
        <locationX>1408</locationX>
        <locationY>167</locationY>
        <defaultConnector>
            <targetReference>APP_DataTable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SaveData_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FW_IsSave</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Data</targetReference>
            </connector>
            <label>SaveData Outcome</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OptionFundingSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FundingSource__c</picklistField>
        <picklistObject>OEA_CPR_OneToMany__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>FW_Fake_ID</name>
        <dataType>String</dataType>
        <expression>&quot;a0IBZ000000q&quot; &amp; LEFT(SUBSTITUTE(RIGHT(TEXT(NOW()), 9), &quot;:&quot;, &quot;&quot;),6)</expression>
    </formulas>
    <interviewLabel>OneTwoMany {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CPR Funding Source</label>
    <loops>
        <name>Loop_Data</name>
        <label>Loop Data</label>
        <locationX>1685</locationX>
        <locationY>273</locationY>
        <collectionReference>FundingSourceList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clean_Data</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>APP_Create_Funding_Source</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>APP_Create_Funding_Source</name>
        <label>APP_Create_Funding_Source</label>
        <locationX>1573</locationX>
        <locationY>428</locationY>
        <inputReference>FundingSourceList_ForSave</inputReference>
    </recordCreates>
    <screens>
        <name>APP_Add_New</name>
        <label>APP Add New</label>
        <locationX>846</locationX>
        <locationY>520</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>APP_Assign_Current_Record_Data</targetReference>
        </connector>
        <fields>
            <name>APP_Add_New_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Add_New_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Funding_Source</name>
                    <choiceReferences>OptionFundingSource</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Funding Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Design</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Design</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Printing</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Printing</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Mailing</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Mailing</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Storage</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Storage</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Funding_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>Funding Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Is_Funding_Flexible</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Is Funding Flexible?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Funding_Deadline</name>
                    <dataType>Date</dataType>
                    <fieldText>Funding Deadline</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Add_New_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>APP_DataTable</name>
        <label>APP_DataTable</label>
        <locationX>1097</locationX>
        <locationY>396</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>APP_Decision</targetReference>
        </connector>
        <fields>
            <name>DataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OEA_CPR_OneToMany__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Funding Information</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>FundingSourceList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FundingSource__c&quot;,&quot;guid&quot;:&quot;column-9e6a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Source&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;FundingSource&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FundingDesign__c&quot;,&quot;guid&quot;:&quot;column-6462&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Design&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;FundingDesign&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingPrinting__c&quot;,&quot;guid&quot;:&quot;column-e2ae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Printing&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;FundingPrinting&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingMailing__c&quot;,&quot;guid&quot;:&quot;column-b9ab&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Mailing&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;FundingMailing&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingStorage__c&quot;,&quot;guid&quot;:&quot;column-5eff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Storage&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;FundingStorage&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingAmount__c&quot;,&quot;guid&quot;:&quot;column-4df5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Amount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;FundingAmount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;IsFundingFlexible__c&quot;,&quot;guid&quot;:&quot;column-e2af&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Is Funding Flexible&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;IsFundingFlexible&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingDeadline__c&quot;,&quot;guid&quot;:&quot;column-a1cf&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Deadline&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;FundingDeadline&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>APP_DataTable_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_DataTable_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>btn_Add_New</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Add New&quot;,&quot;value&quot;:&quot;Add New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_DataTable_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_DataTable_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_DataTable_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>btn_Delete</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>right</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Delete&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>DataTable.firstSelectedRow.Id</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue></stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FW_NewOrSave</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>APP_OneToMany_For_Case_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currentItem_APP_Remove_Selected</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OEA_CPR_OneToMany__c</objectType>
    </variables>
    <variables>
        <name>FundingSource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OEA_CPR_OneToMany__c</objectType>
    </variables>
    <variables>
        <name>FundingSourceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OEA_CPR_OneToMany__c</objectType>
    </variables>
    <variables>
        <name>FundingSourceList_ForSave</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OEA_CPR_OneToMany__c</objectType>
    </variables>
    <variables>
        <name>FW_CurrentIncrement</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FW_IsSave</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>FW_ReferemceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
