force-app/main/default/flows/customer_satisfaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>pageNamesInOrder_Assignment</name>
        <label>pageNamesInOrder_Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>surveyQuestionPage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_117ad888_bf14_4c0a_b18e_32acd3e1a760</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>p_a19c1321_e5c6_437b_846d_a983c4a420da</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pageNamesInOrder</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>thank_you_page</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>surveyQuestionPage</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>c_143134fb_ac96_4a81_933e_6816c67ab4bc</name>
        <choiceText>Look and Feel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Look and Feel</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_63794c09_179e_485e_af6a_367d2eb0790e</name>
        <choiceText>Ease of use</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ease of use</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_650698f0_f85c_48d1_af90_7d38b21b5813</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_91e65ec0_41c6_480e_85c7_5a504168fe04</name>
        <choiceText>Quality of Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Quality of Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e5ad2e68_1d09_4e15_8bb5_0489056e7c2c</name>
        <choiceText>7</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e7a3c5a7_b9e1_48c0_b5b2_c38f83feb04d</name>
        <choiceText>5</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_e91473b2_b79c_4a72_9442_370b64de1558</name>
        <choiceText>6</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_1330f07a_4690_4eec_b0aa_45fc36edcacd</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_330226ec_6a3b_4048_be49_20f7eb823747</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_6f85fb0c_00ab_464d_9d98_3579a3c72bd4</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_a02563a5_18e7_4196_b924_2ad24d5c5873</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>S_c82be32a_b020_4129_90a6_fea14d9b97a7</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <interviewLabel>Customer Satisfaction</interviewLabel>
    <label>Customer Satisfaction</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>sb_customer_satisfaction_6_8d513318_4d24_4452_b933_394ebfac0ee0</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>advanceThankYouPageEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_117ad888_bf14_4c0a_b18e_32acd3e1a760</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a19c1321_e5c6_437b_846d_a983c4a420da</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_979c3d66_d785_461f_b161_10e458849870</name>
            <choiceReferences>c_63794c09_179e_485e_af6a_367d2eb0790e</choiceReferences>
            <choiceReferences>c_91e65ec0_41c6_480e_85c7_5a504168fe04</choiceReferences>
            <choiceReferences>c_143134fb_ac96_4a81_933e_6816c67ab4bc</choiceReferences>
            <choiceReferences>c_650698f0_f85c_48d1_af90_7d38b21b5813</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;We&apos;re striving to improve. What can we do better?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a19c1321_e5c6_437b_846d_a983c4a420da</name>
        <label>Page 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5e98c0de_0f5e_4338_98ed_25c44a6e5875</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;What features of the Portal do you like best?&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>surveyQuestionPage</name>
        <label>Customer Feedback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_117ad888_bf14_4c0a_b18e_32acd3e1a760</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_0b7c84d6_824e_45fa_80ce_7eba4848a7da_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_0b7c84d6_824e_45fa_80ce_7eba4848a7da</name>
            <choiceReferences>S_c82be32a_b020_4129_90a6_fea14d9b97a7</choiceReferences>
            <choiceReferences>S_6f85fb0c_00ab_464d_9d98_3579a3c72bd4</choiceReferences>
            <choiceReferences>S_a02563a5_18e7_4196_b924_2ad24d5c5873</choiceReferences>
            <choiceReferences>S_1330f07a_4690_4eec_b0aa_45fc36edcacd</choiceReferences>
            <choiceReferences>c_e7a3c5a7_b9e1_48c0_b5b2_c38f83feb04d</choiceReferences>
            <choiceReferences>c_e91473b2_b79c_4a72_9442_370b64de1558</choiceReferences>
            <choiceReferences>c_e5ad2e68_1d09_4e15_8bb5_0489056e7c2c</choiceReferences>
            <choiceReferences>S_330226ec_6a3b_4048_be49_20f7eb823747</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;How would you rate our Portal?&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>To pick up where you left off, refresh this page, or open the survey again.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>pageNamesInOrder_Assignment</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Thank you very much for your participation! Your feedback is important to us and we appreciate you taking the time to share it.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>pageNamesInOrder</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_0b7c84d6_824e_45fa_80ce_7eba4848a7da_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
