force-app/main/default/flows/FW_Create_Case_V2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <formulas>
        <name>FW_CASE_URL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260},FIND(&apos;/&apos;,{!$Api.Enterprise_Server_URL_260},9)) &amp; &apos;employees/s/case/&apos;</expression>
    </formulas>
    <formulas>
        <name>FW_ReferenceNoFormula</name>
        <dataType>String</dataType>
        <expression>{!APP_Record} 
&amp;&apos;-&apos; &amp; 
TEXT(YEAR(TODAY()))  &amp;  LPAD(TEXT(MONTH(TODAY())), 2, &apos;0&apos;) &amp; LPAD(TEXT(DAY(TODAY())), 2, &apos;0&apos;)  &amp;  
MID( TEXT(NOW()), FIND(&quot; &quot;, TEXT(NOW()))+1, FIND(&quot;:&quot;, TEXT(NOW())) - 1 -FIND(&quot; &quot;, TEXT(NOW()))) 
&amp; MID( TEXT(NOW()) , FIND(&quot;:&quot;, TEXT(NOW()))+1, 2) 
&amp; MID( TEXT(NOW()) , FIND(&quot;:&quot;, TEXT(NOW()), FIND(&quot;:&quot;, TEXT(NOW()))+1)+1, 2) 
&amp; 
IF(CONTAINS({!$User.Email}, &quot;@&quot;) ,
IF(CONTAINS(UPPER({!$User.Email}), &quot;@HEALTH.NYC.GOV&quot;) ,&quot;-&quot; &amp; UPPER(MID({!$User.Email}, 0, FIND(&quot;@&quot;, {!$User.Email}) - 1)),&quot;-&quot;&amp;TRIM(UPPER({!$User.Email})))
,&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>FW Create Case V2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FW Create Case V2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>FW_Create_Case</name>
        <label>FW Create Case</label>
        <locationX>1096</locationX>
        <locationY>410</locationY>
        <assignRecordIdToReference>FW_CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>FW_Get_Case_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>APP_CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>APP_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FW_GetRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>FW_ReferenceNoFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Object__c</field>
            <value>
                <elementReference>APP_Related_Object</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_URL__c</field>
            <value>
                <elementReference>FW_CASE_URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>APP_Requester</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>APP_Application_type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>FW_Get_Case_Details</name>
        <label>FW Get Case Details</label>
        <locationX>1096</locationX>
        <locationY>617</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_CaseRecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>Case</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <queriedFields>Reference_Number__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>FW_GetRecordTypeID</name>
        <label>FW_GetRecordTypeID</label>
        <locationX>1097</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FW_Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>APP_RecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FW_GetRecordTypeID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>APP_Application_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Business Card Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_CaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>APP_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>eForm</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>APP_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Application Default</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Related_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ADM</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Requester</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>FW_CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>00GBZ000000ZREJ2A4</stringValue>
        </value>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
