force-app/main/default/flows/FW_On_Behalf_Of.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>FW_Assign_Another_User_ID_Val</name>
        <label>FW_Assign Another User ID Val</label>
        <locationX>964</locationX>
        <locationY>445</locationY>
        <assignmentItems>
            <assignToReference>FW_UserIdVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FW_EmployeeIdLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FW_Fetching_Myuser_Details_From_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FW_Assign_User_ID_Val</name>
        <label>FW_Assign User ID Val</label>
        <locationX>1318</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>FW_UserIdVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Myself_Employee_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FW_Fetching_Myuser_Details_From_Employee</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FW_Another_User</name>
        <choiceText>Another User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another User</stringValue>
        </value>
    </choices>
    <choices>
        <name>FW_MySelf</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MySelf</stringValue>
        </value>
    </choices>
    <decisions>
        <name>FW_User_Type_Identifier</name>
        <label>FW_User Type Identifier</label>
        <locationX>1085</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>Get_Myself_Employee_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FW_Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FW_Another_User_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FW_I_am_completing_this_request_on_behalf_of</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FW_Another_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FW_Assign_Another_User_ID_Val</targetReference>
            </connector>
            <label>FW_Another User Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FW OnBehalf {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FW On Behalf Of</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>FW_Fetching_Myuser_Details_From_Employee</name>
        <label>FW_Fetching Myuser Details From Employee</label>
        <locationX>1096</locationX>
        <locationY>659</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_UserIdVal</elementReference>
            </value>
        </filters>
        <object>Employee</object>
        <outputReference>Employee</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Bureau__c</queriedFields>
        <queriedFields>WorkPhone</queriedFields>
        <queriedFields>Work_Unit__c</queriedFields>
        <queriedFields>Division__c</queriedFields>
        <queriedFields>Work_Address__c</queriedFields>
        <queriedFields>UserId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Myself_Employee_ID</name>
        <label>Get Myself Employee ID</label>
        <locationX>1321</locationX>
        <locationY>315</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FW_Assign_User_ID_Val</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>FW_On_Behalf_of</name>
        <label>FW_On Behalf of</label>
        <locationX>1095</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FW_User_Type_Identifier</targetReference>
        </connector>
        <fields>
            <name>FW_On_Behalf_of_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FW_On_Behalf_of_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_I_am_completing_this_request_on_behalf_of</name>
                    <choiceReferences>FW_MySelf</choiceReferences>
                    <choiceReferences>FW_Another_User</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>FW_MySelf</defaultSelectedChoiceReference>
                    <fieldText>I am completing this request on behalf of:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FW_EmployeeIdLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Requester__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FW_I_am_completing_this_request_on_behalf_of</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>FW_Another_User</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FW_On_Behalf_of_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FW_On_Behalf_of</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Employee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <name>FW_UserIdVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
