force-app/main/default/flows/FW_TEST.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>X11</name>
        <label>1</label>
        <locationX>1101</locationX>
        <locationY>375</locationY>
        <actionName>c:fsc_openUrl</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>replace</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>RedirectURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>RedirectURL</name>
        <dataType>String</dataType>
        <expression>{!OrgApplicationURL} &amp; {!GetCaseIdFromApplicationDashboard.Case__r.Id} &amp;&apos;/detail&apos;</expression>
    </formulas>
    <formulas>
        <name>url</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260},FIND(&apos;/&apos;,{!$Api.Enterprise_Server_URL_260},9)) &amp; &apos;employees/s/case/&apos;</expression>
    </formulas>
    <formulas>
        <name>url_2</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <interviewLabel>FW_TEST {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FW_TEST</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetCaseIdFromApplicationDashboard</name>
        <label>GetCaseIdFromApplicationDashboard</label>
        <locationX>1129</locationX>
        <locationY>196</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ADid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_Dashboard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetCaseIdFromApplicationDashboard</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ADid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrgApplicationURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>https://dohmhee--dohmhdev.sandbox.my.site.com/employees/s/case/</stringValue>
        </value>
    </variables>
</Flow>
