force-app/main/default/flows/IIT_ITPT_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_case_id_to_parent_id</name>
        <label>Set case id to parent id</label>
        <locationX>733</locationX>
        <locationY>334</locationY>
        <assignmentItems>
            <assignToReference>CaseID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case.ParentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ITPT_Data</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Analysis</name>
        <choiceText>Analysis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Analysis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Design</name>
        <choiceText>Design</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Design</stringValue>
        </value>
    </choices>
    <choices>
        <name>Development</name>
        <choiceText>Development</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Development</stringValue>
        </value>
    </choices>
    <choices>
        <name>High1</name>
        <choiceText>🟥 1 - High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>🟥 1 - High</stringValue>
        </value>
    </choices>
    <choices>
        <name>High_1</name>
        <choiceText>🟥 1 - High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>🟥 1 - High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Implementation</name>
        <choiceText>Implementation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Implementation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low3</name>
        <choiceText>🟦 3 - Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>🟦 3 - Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maintenance</name>
        <choiceText>Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium2</name>
        <choiceText>🟨 2- Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>🟨 2- Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Planning</name>
        <choiceText>Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planning</stringValue>
        </value>
    </choices>
    <choices>
        <name>Testing</name>
        <choiceText>Testing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Testing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>BannerWithStatusReportLink</name>
        <label>BannerWithStatusReportLink</label>
        <locationX>1720</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>IT_Banner_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WithLink</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BannerWithStatusReport</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ITPT_Banner</targetReference>
            </connector>
            <label>WithLink</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Record_Type</name>
        <label>Case Record Type</label>
        <locationX>1304</locationX>
        <locationY>460</locationY>
        <defaultConnector>
            <targetReference>Check_User_RIghts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ITPT_Status_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT_Project_Tracker_Status_Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_case_id_to_parent_id</targetReference>
            </connector>
            <label>ITPT Status Report</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_RIghts</name>
        <label>Check User RIghts</label>
        <locationX>1150</locationX>
        <locationY>560</locationY>
        <defaultConnector>
            <targetReference>s1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllowEdit</name>
            <conditionLogic>(1 AND 2) OR ( (3 OR 4 OR 5) AND  (6 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ITPT_Data.ITPT_ProjectLead_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CASESAFEID_UserID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved - Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ITPT_Data.ITPT_ResponsibleDirector_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CASESAFEID_UserID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_ITPT_Data.ITPT_AccountableSeniorLeader_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CASESAFEID_UserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s2</targetReference>
            </connector>
            <label>AllowEdit</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIsBanner</name>
        <label>CheckIsBanner</label>
        <locationX>1473</locationX>
        <locationY>308</locationY>
        <defaultConnector>
            <targetReference>Case_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIsBanner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsBanner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetLastestApprovedChildRecord</targetReference>
            </connector>
            <label>YesIsBanner</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>GRiskPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_Urgency__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PL_ProjectType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_ProjectType__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_DivisionPriority__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProjectDivisionChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_ProjectDivision__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RAG</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_Overall_RAG__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RiskChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_StaffingRisk__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CASESAFEID_UserID</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>F_AIDR_ID</name>
        <dataType>String</dataType>
        <expression>IF({!ProjectType}= &apos;System Project&apos;, {!AIDR_ID_R}, {!AIDR_ID})</expression>
    </formulas>
    <formulas>
        <name>F_ITPIR</name>
        <dataType>String</dataType>
        <expression>IF({!ExistsInITPIR}={!Yes}, {!ITPIR_R}, {!ITPIR})</expression>
    </formulas>
    <interviewLabel>IIT ITPT {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IIT ITPT Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1201</locationX>
        <locationY>244</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIsBanner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ITPT_Data</name>
        <label>Get ITPT Data</label>
        <locationX>1096</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IIT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetLastestApprovedChildRecord</name>
        <label>GetLastestApprovedChildRecord</label>
        <locationX>1662</locationX>
        <locationY>238</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BannerWithStatusReportLink</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Custom_object</name>
        <label>Update Custom object</label>
        <locationX>950</locationX>
        <locationY>784</locationY>
        <connector>
            <targetReference>Get_ITPT_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ITPT_Data.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ITPT_AIDR_ID__c</field>
            <value>
                <elementReference>F_AIDR_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_AccountableSeniorLeader_User__c</field>
            <value>
                <elementReference>Accountable_Senior_Leader.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_BusinessImportance__c</field>
            <value>
                <elementReference>Business_Importance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_BusinessSponsor__c</field>
            <value>
                <elementReference>Business_Sponsor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_CommunicationComplexity__c</field>
            <value>
                <elementReference>Communication_Complexity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ContractRisk__c</field>
            <value>
                <elementReference>Contract_Risk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_DivisionPriority__c</field>
            <value>
                <elementReference>Division_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ExistsInITPIR__c</field>
            <value>
                <elementReference>ExistsInITPIR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_FundingRisk__c</field>
            <value>
                <elementReference>Funding_Risk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ITPIR__c</field>
            <value>
                <elementReference>F_ITPIR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ManagementVisibility__c</field>
            <value>
                <elementReference>Management_Visibility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_Overall_RAG__c</field>
            <value>
                <elementReference>Overall_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_PriorityScore__c</field>
            <value>
                <elementReference>Priority_Score.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectDescription__c</field>
            <value>
                <elementReference>Project_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectDivision__c</field>
            <value>
                <elementReference>Project_Division</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectLead_User__c</field>
            <value>
                <elementReference>Project_Lead.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectName__c</field>
            <value>
                <elementReference>Project_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectType__c</field>
            <value>
                <elementReference>ProjectType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ResponsibleDirector_User__c</field>
            <value>
                <elementReference>Responsible_Drector.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_RiskScore__c</field>
            <value>
                <elementReference>Risk_Score.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_SDLC_Phase__c</field>
            <value>
                <elementReference>SDLC_Phase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_StaffingRisk__c</field>
            <value>
                <elementReference>Staffing_Risk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_TechAndSecurityImportance__c</field>
            <value>
                <elementReference>Tech_and_Security_Importance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_TechnicalComplexity__c</field>
            <value>
                <elementReference>Technical_Complexity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_Urgency__c</field>
            <value>
                <elementReference>Urgency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_VendorName__c</field>
            <value>
                <elementReference>Vendor_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_VendorRisk__c</field>
            <value>
                <elementReference>Vendor_Risk</elementReference>
            </value>
        </inputAssignments>
        <object>IIT__c</object>
    </recordUpdates>
    <screens>
        <name>IT_Banner_1</name>
        <label>IT Banner 1</label>
        <locationX>1942</locationX>
        <locationY>387</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>IT_Banner_1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>IT_Banner_1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>b11</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Project Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_ITPT_Data.ITPT_ProjectName__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>IT_Banner_1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>b12</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Reference Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Case.Reference_Number__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>IT_Banner_1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>b13</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Status﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Case.Status}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>IT_Banner_1_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ITPT_Banner</name>
        <label>ITPT Banner</label>
        <locationX>1759</locationX>
        <locationY>644</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ITPT_Banner_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ITPT_Banner_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>b1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Project Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_ITPT_Data.ITPT_ProjectName__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ITPT_Banner_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>b2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Reference Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Case.Reference_Number__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ITPT_Banner_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>b3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Status﻿&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Case.Status}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ITPT_Banner_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>b4</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;Latest Status Report&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!GetLastestApprovedChildRecord.Related_Record_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Click Here&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s1</name>
        <label>Read Only</label>
        <locationX>1365</locationX>
        <locationY>685</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>s1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Project Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_ProjectName__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Description&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_ProjectDescription__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>t12</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Type of Project&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_ProjectType__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>t4</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;AIDR ID&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_AIDR_ID__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OverllRAG</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Overall RAG&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_Overall_RAG__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>t13</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Does this project exists in ITPIR&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_ExistsInITPIR__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>text13</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;ITPIR #&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_ITPIR__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SLDCPhase</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;SLDC Phase&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_SDLC_Phase__c}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>t2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Project Contacts&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s1_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text9</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Project Lead&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_ProjectLead_User__r.FirstName} {!Get_ITPT_Data.ITPT_ProjectLead_User__r.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>text10</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Responsible Director&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_ResponsibleDirector_User__r.FirstName} {!Get_ITPT_Data.ITPT_ResponsibleDirector_User__r.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>text11</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Accountable Senior Leader&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_AccountableSeniorLeader_User__r.FirstName}  {!Get_ITPT_Data.ITPT_AccountableSeniorLeader_User__r.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text12</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Business Sponsor&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_BusinessSponsor__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Project Division&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_ProjectDivision__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Vendor Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_VendorName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>text2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Priority and Risk Scores&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s1_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text3</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Priority Score&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_PriorityScore__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Division Priority&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_DivisionPriority__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Business Importance&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_BusinessImportance__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Tech and Security Importance&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_TechAndSecurityImportance__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Urgency&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_Urgency__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Management Visibility&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_ManagementVisibility__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text4</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Risk Score&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_RiskScore__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Staffing Risk&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_StaffingRisk__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Technical Complexity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_TechnicalComplexity__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Communication Complexity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_CommunicationComplexity__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Vendor Risk&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_VendorRisk__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Contract Risk&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_ContractRisk__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Funding Risk&lt;/p&gt;&lt;p&gt;{!Get_ITPT_Data.ITPT_FundingRisk__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s2</name>
        <label>Editable</label>
        <locationX>1007</locationX>
        <locationY>649</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Custom_object</targetReference>
        </connector>
        <fields>
            <name>s2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_ProjectName__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Project Name&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Description</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPT_Data.ITPT_ProjectDescription__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Project Description&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjectType</name>
                    <choiceReferences>PL_ProjectType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_ProjectType__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Type of Project&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>AIDR_ID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_AIDR_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;AIDR ID&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProjectType</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>System Project</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>AIDR_ID_R</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_AIDR_ID__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;AIDR ID&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ProjectType</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>System Project</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Overall_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_Overall_RAG__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Overall RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ExistsInITPIR</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_ExistsInITPIR__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Does this project exists in ITPIR?&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ITPIR</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_ITPIR__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;ITPIR #&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ExistsInITPIR</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ITPIR_R</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_ITPIR__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;ITPIR #&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ExistsInITPIR</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Yes</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SDLC_Phase</name>
                    <choiceReferences>Planning</choiceReferences>
                    <choiceReferences>Analysis</choiceReferences>
                    <choiceReferences>Design</choiceReferences>
                    <choiceReferences>Development</choiceReferences>
                    <choiceReferences>Testing</choiceReferences>
                    <choiceReferences>Implementation</choiceReferences>
                    <choiceReferences>Maintenance</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_SDLC_Phase__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;SDLC Phase&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>t</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Project Contacts&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s2_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Lead</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ITPT_ProjectLead_User__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Project Lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IIT__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_ITPT_Data.ITPT_ProjectLead_User__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Division</name>
                    <choiceReferences>ProjectDivisionChoices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_ProjectDivision__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Project Division&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Responsible_Drector</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ITPT_ResponsibleDirector_User__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Responsible Director</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IIT__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_ITPT_Data.ITPT_ResponsibleDirector_User__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Sponsor</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_BusinessSponsor__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Business Sponsor&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Accountable_Senior_Leader</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Accountable Senior Leader</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IIT__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_ITPT_Data.ITPT_AccountableSeniorLeader_User__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ITPT_AccountableSeniorLeader_User__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vendor_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_VendorName__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Vendor Name&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>t1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Priority and Risk Scores&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s2_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Priority_Score_Display</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Priority Score﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Priority_Score</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Scale</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_ITPT_Data.ITPT_PriorityScore__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_Score_Display</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Risk Score&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Risk_Score</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Scale</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>Get_ITPT_Data.ITPT_RiskScore__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Division_Priority</name>
                    <choiceReferences>PriorityChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_DivisionPriority__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Division Priority&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Business_Importance</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_BusinessImportance__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Business Importance&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Tech_and_Security_Importance</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_TechAndSecurityImportance__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Tech and Security Importance&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Urgency</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_Urgency__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Urgency&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Management_Visibility</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_ManagementVisibility__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Management Visibility&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Staffing_Risk</name>
                    <choiceReferences>RiskChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_StaffingRisk__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Staffing Risk&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Technical_Complexity</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_TechnicalComplexity__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Technical Complexity&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Communication_Complexity</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_CommunicationComplexity__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Communication Complexity&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section8_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vendor_Risk</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_VendorRisk__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Vendor Risk&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Contract_Risk</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_ContractRisk__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Contract Risk&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Funding_Risk</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPT_Data.ITPT_FundingRisk__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Funding Risk&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>btn</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Update&quot;,&quot;value&quot;:&quot;Update&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_ITPT_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BannerWithStatusReport</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsBanner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
