force-app/main/default/flows/IIT_ITPT_RS_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>analysis</name>
        <choiceText>Analysis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Analysis</stringValue>
        </value>
    </choices>
    <choices>
        <name>design</name>
        <choiceText>Design</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Design</stringValue>
        </value>
    </choices>
    <choices>
        <name>development</name>
        <choiceText>Development</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Development</stringValue>
        </value>
    </choices>
    <choices>
        <name>High</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(227, 243, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;🟥 1 - High&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>High1</name>
        <choiceText>🟥 1 - High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>🟥 1 - High</stringValue>
        </value>
    </choices>
    <choices>
        <name>implementation</name>
        <choiceText>Implementation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Implementation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low3</name>
        <choiceText>🟦 3 - Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>🟦 3 - Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maintenance</name>
        <choiceText>Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Medium2</name>
        <choiceText>🟨 2- Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>🟨 2- Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>planning</name>
        <choiceText>Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planning</stringValue>
        </value>
    </choices>
    <choices>
        <name>testing</name>
        <choiceText>Testing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Testing</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_User_RIghts</name>
        <label>Check_User_RIghts</label>
        <locationX>1091</locationX>
        <locationY>588</locationY>
        <defaultConnector>
            <targetReference>s1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AllowEdit</name>
            <conditionLogic>(3 OR 1) AND 2</conditionLogic>
            <conditions>
                <leftValueReference>Get_ITPTRS.ITPT_ProjectLead_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CASESAFEID_UserID</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Case.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CASESAFEID_UserID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s2</targetReference>
            </connector>
            <label>AllowEdit</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIsBanner</name>
        <label>CheckIsBanner</label>
        <locationX>1301</locationX>
        <locationY>448</locationY>
        <defaultConnector>
            <targetReference>Check_User_RIghts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesIsBanner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsBanner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Case</targetReference>
            </connector>
            <label>YesIsBanner</label>
        </rules>
    </decisions>
    <description>Add Banner</description>
    <dynamicChoiceSets>
        <name>CurrentStatusChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPTSR_CurrentStatus__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RAG</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPTSR_ContractRAG__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SDLC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_SDLC_Phase__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>CASESAFEID_UserID</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <interviewLabel>IIT ITPT RS Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IIT ITPT RS Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1101</locationX>
        <locationY>299</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Application_Dashboard</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ITPTRS</name>
        <label>Get ITPTRS</label>
        <locationX>1096</locationX>
        <locationY>204</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IIT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Application_Dashboard</name>
        <label>Get Parent Application Dashboard</label>
        <locationX>1101</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIsBanner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Application_Dashboard__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>1382</locationX>
        <locationY>308</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ITPTSR_Banner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateChild</name>
        <label>UpdateChild</label>
        <locationX>818</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>UpdateParent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ITPTSR_Accomplishments__c</field>
            <value>
                <elementReference>Accomplishments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CommunicationNotes__c</field>
            <value>
                <elementReference>Communication_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CommunicationRAG__c</field>
            <value>
                <elementReference>Communication_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_ContractNotes__c</field>
            <value>
                <elementReference>Contract_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_ContractRAG__c</field>
            <value>
                <elementReference>Contract_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CostNotes__c</field>
            <value>
                <elementReference>Cost_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CostRAG__c</field>
            <value>
                <elementReference>Cost_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CurrentStatus__c</field>
            <value>
                <elementReference>Current_Project_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_FundingNotes__c</field>
            <value>
                <elementReference>Funding_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_FundingRAG__c</field>
            <value>
                <elementReference>Funding_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_KeyIssues__c</field>
            <value>
                <elementReference>Key_issues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_LinktoProjectSchedule__c</field>
            <value>
                <elementReference>Link_to_Project_Schedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_PlannedTasks__c</field>
            <value>
                <elementReference>Planned_Tasks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_QualityNotes__c</field>
            <value>
                <elementReference>Quality_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_QualityRAG__c</field>
            <value>
                <elementReference>Quality_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_RiskNotes__c</field>
            <value>
                <elementReference>Risk_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_RiskRAG__c</field>
            <value>
                <elementReference>Risk_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_ScopeNotes__c</field>
            <value>
                <elementReference>Scope_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_ScopeRAG__c</field>
            <value>
                <elementReference>Scope_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_StaffingNotes__c</field>
            <value>
                <elementReference>Staffing_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_StaffingRAG__c</field>
            <value>
                <elementReference>Staffing_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_SummaryNotes__c</field>
            <value>
                <elementReference>Summary_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_TechnicalNotes__c</field>
            <value>
                <elementReference>Technical_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_TechnicalRAG__c</field>
            <value>
                <elementReference>Technical_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_UpcomingMilestonesDate__c</field>
            <value>
                <elementReference>Upcoming_Milestones_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_UpcomingMilestones__c</field>
            <value>
                <elementReference>Upcoming_Milestones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_VendorNotes__c</field>
            <value>
                <elementReference>Vendor_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_VendorRAG__c</field>
            <value>
                <elementReference>Vendor_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_Overall_RAG__c</field>
            <value>
                <elementReference>Overall_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_SDLC_Phase__c</field>
            <value>
                <elementReference>SDLC_Phase</elementReference>
            </value>
        </inputAssignments>
        <object>IIT__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParent</name>
        <label>UpdateParent</label>
        <locationX>811</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>Get_ITPTRS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ITPT_Overall_RAG__c</field>
            <value>
                <elementReference>Overall_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_SDLC_Phase__c</field>
            <value>
                <elementReference>SDLC_Phase</elementReference>
            </value>
        </inputAssignments>
        <object>IIT__c</object>
    </recordUpdates>
    <screens>
        <name>ITPTSR_Banner</name>
        <label>ITPTSR Banner</label>
        <locationX>1516</locationX>
        <locationY>515</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ITPTSR_Banner_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ITPTSR_Banner_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bt1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 20px;&quot;&gt;Parent Reference Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Get_Parent_Case.Related_Record_URL__c}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Parent_Case.Reference_Number__c}&lt;/a&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ITPTSR_Banner_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bt2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255)));&quot;&gt;Reference Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;{!Get_Case.Reference_Number__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ITPTSR_Banner_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>bt3</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 20px;&quot;&gt;Status&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;{!Get_Case.Status}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ITPTSR_Banner_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s1</name>
        <label>s1</label>
        <locationX>1437</locationX>
        <locationY>755</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>s1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjectName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Project Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Parent_Application_Dashboard.ITPT_ProjectName_c__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProjectStartDate</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Project Start Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Parent_Application_Dashboard.CreatedDate}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>t1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Overall RAG&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>OverAllRAG1</name>
                    <fieldText>&lt;p&gt;{!Get_ITPTRS.ITPT_Overall_RAG__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>t2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;SDLC Phase&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>SDLCPhase1</name>
                    <fieldText>&lt;p&gt;{!Get_ITPTRS.ITPT_SDLC_Phase__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Project Status Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text3</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Current Project Status&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_CurrentStatus__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Key issues for Management Attention&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_KeyIssues__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Summary Notes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_SummaryNotes__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Accomplishments (Since Last Report)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_Accomplishments__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Planned Tasks (For Next Report)&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_PlannedTasks__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Upcoming Milestones&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_UpcomingMilestones__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Upcoming Milestones Date&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_UpcomingMilestonesDate__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Link to Project Schedule&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_LinktoProjectSchedule__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Detailed RAG Status&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s1_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContractRAG</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Contract RAG&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_ContractRAG__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContractNotes1</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Contract Notes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_ContractNotes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Line</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(173, 171, 171);&quot;&gt;-------------------------------------------------------------------------------------------------------&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VendorRAG</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Vendor RAG&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_VendorRAG__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VendorNotes</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Vendor Notes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_VendorNotes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FundingRAG</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Funding RAG&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_FundingRAG__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FundingNotes</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Funding Notes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_FundingNotes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StaffingRAG</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Staffing RAG&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_StaffingRAG__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StaffingNotes</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Staffing Notes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_StaffingNotes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TechnicalRAG</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Technical RAG&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_TechnicalRAG__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TechnicalNotes</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Technical Notes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_TechnicalNotes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CommunicationRAG</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Communication RAG&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_CommunicationRAG__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CommunicationNotes</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Communication Notes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_CommunicationNotes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TimelineRAG</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Timeline RAG&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_TimelineRAG__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TimelineNotes</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Timeline Notes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_TimelineNotes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CostRAG</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Cost RAG&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_CostRAG__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CostNotes</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Cost Notes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_CostNotes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScopeRAG</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Scope RAG&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_ScopeRAG__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScopeNotes</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Scope Notes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_ScopeNotes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QualityRAG</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Quality RAG&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_QualityRAG__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QualityNotes</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Quality Notes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_QualityNotes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s1_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s1_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RiskRAG</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Risk RAG&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_RiskRAG__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s1_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RiskNotes</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Risk Notes&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_ITPTRS.ITPTSR_RiskNotes__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s2</name>
        <label>s2</label>
        <locationX>995</locationX>
        <locationY>768</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateChild</targetReference>
        </connector>
        <fields>
            <name>s2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Overall_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPT_Overall_RAG__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Overall RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SDLC_Phase</name>
                    <choiceReferences>SDLC</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPT_SDLC_Phase__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;SDLC Phase&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>t6</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Project Status Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Current_Project_Status</name>
                    <choiceReferences>CurrentStatusChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPTSR_CurrentStatus__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Current Project Status&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Key_issues</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_KeyIssues__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Key issues for Management Attention&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Summary_Notes</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_SummaryNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Summary Notes&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Accomplishments</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_Accomplishments__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Accomplishments (Since Last Report)&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Planned_Tasks</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_PlannedTasks__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Planned Tasks (For Next Report)&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Upcoming_Milestones</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_UpcomingMilestones__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Upcoming Milestones&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Upcoming_Milestones_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPTSR_UpcomingMilestonesDate__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Upcoming Milestones Date&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Link_to_Project_Schedule</name>
            <defaultValue>
                <stringValue>{!Get_ITPTRS.ITPTSR_LinktoProjectSchedule__c}</stringValue>
            </defaultValue>
            <fieldText>&lt;b&gt;Link to Project Schedule&lt;/b&gt;</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>t5</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Detailed RAG Status&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>s2_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPTSR_ContractRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Contract RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Notes</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_ContractNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Contract Notes&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vendor_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPTSR_VendorRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Vendor RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vendor_Notes</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_VendorNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Vendor Notes&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Funding_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPTSR_FundingRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Funding RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Funding_Notes</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_FundingNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Funding Notes&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Staffing_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPTSR_StaffingRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Staffing RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Staffing_Notes</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_StaffingNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Staffing Notes&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Technical_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPTSR_TechnicalRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Technical RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Technical_Notes</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_TechnicalNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Technical Notes&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Communication_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPTSR_CommunicationRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Communication RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Communication_Notes</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_CommunicationNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Communication Notes&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Timeline_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPTSR_TimelineRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Timeline RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Timeline_Notes</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_TimelineNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Timeline Notes&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPTSR_CostRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Cost RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Notes</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_CostNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Cost Notes&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scope_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPTSR_ScopeRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Scope RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scope_Notes</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_ScopeNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Scope Notes&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section12_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quality_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPTSR_QualityRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Quality RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quality_Notes</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_QualityNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Quality Notes&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section13_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>s2_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>s2_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_ITPTRS.ITPTSR_RiskRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Risk RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_Notes</name>
                    <defaultValue>
                        <stringValue>{!Get_ITPTRS.ITPTSR_RiskNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>&lt;b&gt;Risk Notes&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>7</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>s2_Section14_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_ITPTRS</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsBanner</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
