force-app/main/default/flows/IIT_ITPT_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FW_Email_Action</name>
        <label>FW Email Action</label>
        <locationX>700</locationX>
        <locationY>1286</locationY>
        <actionName>Case.FW_Default_Request_Update</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FW_Case_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FW_Email_Requester</name>
        <label>FW Email Requester</label>
        <locationX>700</locationX>
        <locationY>1166</locationY>
        <actionName>Case.FW_Default_Request_Submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FW_Email_Action</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FW_Navigate_to_Case_Record</name>
        <label>FW Navigate to Case Record</label>
        <locationX>700</locationX>
        <locationY>1526</locationY>
        <actionName>c:navigateTo</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navigateto</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>APP_ApplicationURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>Analysis</name>
        <choiceText>Analysis</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Analysis</stringValue>
        </value>
    </choices>
    <choices>
        <name>Design</name>
        <choiceText>Design</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Design</stringValue>
        </value>
    </choices>
    <choices>
        <name>Development</name>
        <choiceText>Development</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Development</stringValue>
        </value>
    </choices>
    <choices>
        <name>high1</name>
        <choiceText>🟥 1 - High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>🟥 1 - High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Implementation</name>
        <choiceText>Implementation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Implementation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low3</name>
        <choiceText>🟦 3 - Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>🟦 3 - Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Maintenance</name>
        <choiceText>Maintenance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maintenance</stringValue>
        </value>
    </choices>
    <choices>
        <name>medium2</name>
        <choiceText>🟨 2- Medium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>🟨 2- Medium</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>planning</name>
        <choiceText>Planning</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Planning</stringValue>
        </value>
    </choices>
    <choices>
        <name>Testing</name>
        <choiceText>Testing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Testing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>BtnValue</name>
        <label>BtnValue</label>
        <locationX>1096</locationX>
        <locationY>806</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Save_As_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bottom.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save As Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APP_Update_Related_Case_Record</targetReference>
            </connector>
            <label>Save As Draft</label>
        </rules>
        <rules>
            <name>Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>bottom.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_APP_Update_Related_Case_Record</targetReference>
            </connector>
            <label>Submit</label>
        </rules>
    </decisions>
    <description>Adding Overall RAG and SDLC Phase fields</description>
    <dynamicChoiceSets>
        <name>Division_Approver_List</name>
        <dataType>String</dataType>
        <displayField>FullName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Info.Division_DESC__c</elementReference>
            </value>
        </filters>
        <object>ADM_BCR_Division_Approver__c</object>
        <outputAssignments>
            <assignToReference>Division_Approver_List_SelectedFullName</assignToReference>
            <field>FullName__c</field>
        </outputAssignments>
        <valueField>UserID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GRiskPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_Urgency__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_DivisionPriority__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProjectDivisionChoices</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_ProjectDivision__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RAG</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPTSR_ContractRAG__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RiskChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_StaffingRisk__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StaffingRiskChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_StaffingRisk__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>APP_CustomApp_RecordData_To_CaseDescriptionSummary</name>
        <dataType>String</dataType>
        <expression>&apos;test&apos;</expression>
    </formulas>
    <interviewLabel>IIT ITPT Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IIT ITPT Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>APP_Create_Record_In_Custom_App_Object</name>
        <label>APP Create Record In Custom App Object</label>
        <locationX>1098</locationX>
        <locationY>683</locationY>
        <connector>
            <targetReference>BtnValue</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FW_Rollback_AfterCaseUpdate</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>APP_Record__c</field>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_AIDR_ID__c</field>
            <value>
                <elementReference>AIDR_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_AccountableSeniorLeader_User__c</field>
            <value>
                <elementReference>Accountable_Senior_Leader.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_BusinessImportance__c</field>
            <value>
                <elementReference>Business_Importance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_BusinessSponsor__c</field>
            <value>
                <elementReference>Business_Sponsor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_CommunicationComplexity__c</field>
            <value>
                <elementReference>Communication_Complexity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ContractRisk__c</field>
            <value>
                <elementReference>Contract_Risk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_DivisionPriority__c</field>
            <value>
                <elementReference>Division_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_FundingRisk__c</field>
            <value>
                <elementReference>Funding_Risk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ITPIR__c</field>
            <value>
                <elementReference>ITPIR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ManagementVisibility__c</field>
            <value>
                <elementReference>Management_Visibility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_Overall_RAG__c</field>
            <value>
                <elementReference>Overall_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_PriorityScore__c</field>
            <value>
                <elementReference>Priority_Score.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectDescription__c</field>
            <value>
                <elementReference>Project_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectDivision__c</field>
            <value>
                <elementReference>ProjectDivision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectLead_User__c</field>
            <value>
                <elementReference>Project_Lead.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectName__c</field>
            <value>
                <elementReference>Project_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ResponsibleDirector_User__c</field>
            <value>
                <elementReference>Responsible_Drector.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_RiskScore__c</field>
            <value>
                <elementReference>Risk_Score.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_SDLC_Phase__c</field>
            <value>
                <elementReference>SDLC_Phase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_StaffingRisk__c</field>
            <value>
                <elementReference>Staffing_Risk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_TechAndSecurityImportance__c</field>
            <value>
                <elementReference>Tech_and_Security_Importance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_TechnicalComplexity__c</field>
            <value>
                <elementReference>Technical_Complexity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_Urgency__c</field>
            <value>
                <elementReference>Urgency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_VendorName__c</field>
            <value>
                <elementReference>Vendor_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_VendorRisk__c</field>
            <value>
                <elementReference>Vendor_Risk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FW_Create_Case.Case.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case_ID__c</field>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>IIT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_My_Info</name>
        <label>Get My Info</label>
        <locationX>1096</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APP_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_OnBehalfOf.Employee.UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>FW_Rollback_AfterCaseUpdate</name>
        <label>FW_Rollback_AfterCaseUpdate</label>
        <locationX>756</locationX>
        <locationY>617</locationY>
        <connector>
            <targetReference>FW_Rollback_Confirmation</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>APP_Update_Related_Case_Record</name>
        <label>APP_Update Related Case Record</label>
        <locationX>700</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Approval_History</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FW_Rollback_AfterCaseUpdate</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ITPT_AccountableSeniorLeader__c</field>
            <value>
                <elementReference>Accountable_Senior_Leader.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectLead__c</field>
            <value>
                <elementReference>Project_Lead.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectName__c</field>
            <value>
                <elementReference>Project_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ResponsibleDirector__c</field>
            <value>
                <elementReference>Responsible_Drector.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_APP_Update_Related_Case_Record</name>
        <label>Copy 1 of APP_Update Related Case Record</label>
        <locationX>1275</locationX>
        <locationY>885</locationY>
        <connector>
            <targetReference>Approval_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ITPT_AccountableSeniorLeader__c</field>
            <value>
                <elementReference>Accountable_Senior_Leader.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectLead__c</field>
            <value>
                <elementReference>Project_Lead.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectName__c</field>
            <value>
                <elementReference>Project_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ResponsibleDirector__c</field>
            <value>
                <elementReference>Responsible_Drector.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Responsible_Drector.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>APP_Request</name>
        <label>APP_Request</label>
        <locationX>1100</locationX>
        <locationY>452</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Create_Case</targetReference>
        </connector>
        <fields>
            <name>APP_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_OnBehalfOf_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Requester &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Name:&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!FW_OnBehalfOf.Employee.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Email</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!FW_OnBehalfOf.Employee.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_WorkPhone</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Work Phone: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.WorkPhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Address</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Address: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Address__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_Space</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Division</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Division: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Division__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Bureau</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Bureau: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Bureau__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Unit</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Work Unit: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Unit__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 28px;&quot;&gt;Create New Project&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>APP_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Name</name>
                    <dataType>String</dataType>
                    <fieldText>&lt;div&gt;&lt;b&gt;Project Name&lt;/b&gt;&lt;/div&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ProjectDivision</name>
                    <choiceReferences>ProjectDivisionChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;strong&gt;Project Division&lt;/strong&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>APP_Request_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Description</name>
                    <fieldText>&lt;b&gt;Project Description&lt;/b&gt;</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>APP_Request_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AIDR_ID</name>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;AIDR ID&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ITPIR</name>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;ITPIR #&lt;/b&gt;</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>test2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Project Contacts&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>APP_Request_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Lead</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Project Lead</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IIT__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ITPT_ProjectLead_User__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Responsible_Drector</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ITPT_ProjectLead_User__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IIT__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Responsible Director</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Accountable_Senior_Leader</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ITPT_ProjectLead_User__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>IIT__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Accountable Senior Leader</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Sponsor</name>
                    <dataType>String</dataType>
                    <fieldText>Business Sponsor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Vendor_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Vendor Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>APP_Request_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Overall_RAG</name>
                    <choiceReferences>high1</choiceReferences>
                    <choiceReferences>medium2</choiceReferences>
                    <choiceReferences>Low3</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Overall RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SDLC_Phase</name>
                    <choiceReferences>planning</choiceReferences>
                    <choiceReferences>Analysis</choiceReferences>
                    <choiceReferences>Design</choiceReferences>
                    <choiceReferences>Development</choiceReferences>
                    <choiceReferences>Testing</choiceReferences>
                    <choiceReferences>Implementation</choiceReferences>
                    <choiceReferences>Maintenance</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;SDLC Phase&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>test3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Priority and Risk Scores&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>APP_Request_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PriorityScore</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(15, 15, 15);&quot;&gt;Priority Score&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Priority_Score</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>scale</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RiskScore</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(21, 1, 1);&quot;&gt;Risk Score&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Risk_Score</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>scale</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>APP_Request_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Division_Priority</name>
                    <choiceReferences>PriorityChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Division Priority&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Business_Importance</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Business Importance&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Tech_and_Security_Importance</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Tech and Security Importance&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Urgency</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Urgency&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Management_Visibility</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Management Visibility&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Staffing_Risk</name>
                    <choiceReferences>RiskChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Staffing Risk&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Technical_Complexity</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Technical Complexity&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Communication_Complexity</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Communication Complexity&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section8_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vendor_Risk</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Vendor Risk&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Contract_Risk</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Contract Risk&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Funding_Risk</name>
                    <choiceReferences>GRiskPriority</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Funding Risk&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>bottom</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Save As Draft&quot;,&quot;value&quot;:&quot;Save As Draft&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Submit&quot;,&quot;value&quot;:&quot;Submit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Case_Confirmation</name>
        <label>FW Case Confirmation</label>
        <locationX>700</locationX>
        <locationY>1406</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Navigate_to_Case_Record</targetReference>
        </connector>
        <fields>
            <name>FW_Case_Confirmation_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Your case # {!FW_Create_Case.Case.Reference_Number__c} has been created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go to Project Tracker Home</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Rollback_Confirmation</name>
        <label>FW_Rollback_Confirmation</label>
        <locationX>391</locationX>
        <locationY>588</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FW_Rollback_Confirmation_Message</name>
            <fieldText>&lt;p&gt;An error has occurred. The system admins have been notified of the error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FW_OnBehalfOf</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Approval_History</name>
        <label>Approval History</label>
        <locationX>700</locationX>
        <locationY>1046</locationY>
        <connector>
            <targetReference>FW_Email_Requester</targetReference>
        </connector>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FW_Create_Case</name>
        <label>FW Create Case</label>
        <locationX>1096</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>APP_Create_Record_In_Custom_App_Object</targetReference>
        </connector>
        <flowName>FW_Create_Case</flowName>
        <inputAssignments>
            <name>APP_Application_type</name>
            <value>
                <elementReference>APP_Application_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_ApprovalProcess_FirstStatus</name>
            <value>
                <elementReference>APP_ApprovalProcess_FirstStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Initial_Assigned_Group</name>
            <value>
                <elementReference>APP_Initial_Assigned_Group_API_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Origin</name>
            <value>
                <elementReference>APP_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Record</name>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_RecordType</name>
            <value>
                <elementReference>APP_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Related_Object</name>
            <value>
                <elementReference>APP_Related_Object</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Requester</name>
            <value>
                <elementReference>FW_OnBehalfOf.Employee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FW_ForCaseDescription</name>
            <value>
                <elementReference>FW_ForCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FW_OnBehalfOf</name>
        <label>FW OnBehalfOf</label>
        <locationX>1096</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>Get_My_Info</targetReference>
        </connector>
        <flowName>FW_On_Behalf_Of</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>ProjectLead</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Project Lead&lt;/strong&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>APP_Application_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>IT Project Tracker</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApplicationURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>it-project-tracker</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApprovalProcess_FirstStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Division Approval</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Initial_Assigned_Group_API_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_EE_Default_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>eForm</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ITPT</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>IT Project Tracker</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Related_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>IIT</stringValue>
        </value>
    </variables>
    <variables>
        <name>Division_Approver_List_SelectedFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FW_CustomAppObjectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FW_ForCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>APP_CustomApp_RecordData_To_CaseDescriptionSummary</elementReference>
        </value>
    </variables>
    <variables>
        <name>New_RequesterBureau</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_RequesterDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
