force-app/main/default/flows/IIT_ITPT_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FW_Email_Action</name>
        <label>FW Email Action</label>
        <locationX>1744</locationX>
        <locationY>1910</locationY>
        <actionName>Case.FW_Default_Request_Update</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assign</name>
        <choiceText>Assign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign</stringValue>
        </value>
    </choices>
    <choices>
        <name>Back_to_Division</name>
        <choiceText>Back to Division</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Back to Division</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel_Request</name>
        <choiceText>Cancel Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reassign</name>
        <choiceText>Reassign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reassign</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <choices>
        <name>Requester_Review</name>
        <choiceText>Requester Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Requester Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Return</name>
        <choiceText>Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>Save</name>
        <choiceText>Save</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Save</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit</name>
        <choiceText>Submit For Approval</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_Again</name>
        <choiceText>Submit Again</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit Again</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_To_Print</name>
        <choiceText>Submit To Print</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit To Print</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Current_Status</name>
        <label>Current Status</label>
        <locationX>1744</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Empty_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Status_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
        <rules>
            <name>Current_Status_Pending_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2</targetReference>
            </connector>
            <label>Pending Review</label>
        </rules>
        <rules>
            <name>Current_Status_Approved_Not_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S3</targetReference>
            </connector>
            <label>Approved - Not Started</label>
        </rules>
    </decisions>
    <decisions>
        <name>D1</name>
        <label>D1</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>D11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Submit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U11</targetReference>
            </connector>
            <label>Submit</label>
        </rules>
        <rules>
            <name>D12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cancel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U12</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>D13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Save</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U2</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>D2</name>
        <label>D2</label>
        <locationX>1502</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>D21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_InProgress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U21</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>D22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_InProgress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U22</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
        <rules>
            <name>D23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_InProgress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Return</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U23</targetReference>
            </connector>
            <label>Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>D3</name>
        <label>D3</label>
        <locationX>2514</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Approval_History_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>D31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Approved_Not_Started</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U31</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>D32</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Approved_Not_Started</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U32</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
        <rules>
            <name>D33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Approved_Not_Started</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Return</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approval_History_3</targetReference>
            </connector>
            <label>Send Back</label>
        </rules>
    </decisions>
    <decisions>
        <name>FW_IsCaseOwner_Decision</name>
        <label>FW_IsCaseOwner_Decision</label>
        <locationX>2525</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Empty_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FW_IsCaseOwner.ReturnValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Case</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>dasdasd</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityAndRiskChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_DivisionPriority__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RAGChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPTSR_ContractRAG__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Comments1n2</name>
        <dataType>String</dataType>
        <expression>{!Comments1}&amp; &quot;&quot; &amp;{!Comments2}</expression>
    </formulas>
    <formulas>
        <name>Comments3n4</name>
        <dataType>String</dataType>
        <expression>{!Comments3}&amp; &quot;&quot; &amp;{!Comments4}</expression>
    </formulas>
    <formulas>
        <name>Comments5n6</name>
        <dataType>String</dataType>
        <expression>{!Comments5}&amp; &quot;&quot; &amp;{!Comments6}</expression>
    </formulas>
    <interviewLabel>IIT ITPT Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IIT ITPT Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Status_Report_Custom_Object</name>
        <label>Create Status Report Custom Object</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Get_User_Employee_Info</targetReference>
        </connector>
        <inputAssignments>
            <field>APP_Record__c</field>
            <value>
                <stringValue>ITPTSR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CurrentStatus__c</field>
            <value>
                <stringValue>Approved - Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Create_Status_Report_Case.Case.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case_ID__c</field>
            <value>
                <elementReference>Create_Status_Report_Case.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>IIT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>1744</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ITPT_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Requester__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Employee_Info</name>
        <label>Get User Employee Info</label>
        <locationX>1106</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ITPT_Data.ITPT_ProjectLead_User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ITPT_Data</name>
        <label>ITPT Data</label>
        <locationX>1744</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IIT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>U11</name>
        <label>U11</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Approval_History_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ITPT_Data.ITPT_ResponsibleDirector_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>U12</name>
        <label>U12</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Approval_History_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ITPT_Data.ITPT_ProjectLead_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>U2</name>
        <label>U2</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Approval_History_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ITPTSR_ContractNotes__c</field>
            <value>
                <elementReference>Contract_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_ContractRAG__c</field>
            <value>
                <elementReference>Contract_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_VendorNotes__c</field>
            <value>
                <elementReference>Vendor_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_VendorRAG__c</field>
            <value>
                <elementReference>Vendor_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_DivisionPriority__c</field>
            <value>
                <elementReference>Division_Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_PriorityScore__c</field>
            <value>
                <elementReference>Priority_Score.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_RiskScore__c</field>
            <value>
                <elementReference>Risk_Score.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_StaffingRisk__c</field>
            <value>
                <elementReference>Staffing_Risk</elementReference>
            </value>
        </inputAssignments>
        <object>IIT__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>U21</name>
        <label>U21</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Create_Status_Report_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ITPT_Data.ITPT_ProjectLead_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved - Not Started</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>U22</name>
        <label>U22</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Approval_History_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ITPT_Data.ITPT_ProjectLead_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>U23</name>
        <label>U23</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Approval_History_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ITPT_Data.ITPT_ProjectLead_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>U31</name>
        <label>U31</label>
        <locationX>2162</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Approval_History_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ITPT_Data.ITPT_ProjectLead_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>U32</name>
        <label>U32</label>
        <locationX>2426</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Approval_History_3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ITPT_Data.ITPT_ProjectLead_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case</name>
        <label>Update Case</label>
        <locationX>1106</locationX>
        <locationY>1478</locationY>
        <connector>
            <targetReference>Approval_History_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Status_Report_Case.Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ITPT_Data.ITPT_ProjectLead_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>Get_User_Employee_Info.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Empty_Screen</name>
        <label>Empty Screen</label>
        <locationX>3042</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S1</name>
        <label>S1</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D1</targetReference>
        </connector>
        <fields>
            <name>status2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 20px;&quot;&gt;Action Required - &lt;/strong&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: 20px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Draft&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ActionDraft</name>
                    <choiceReferences>Submit</choiceReferences>
                    <choiceReferences>Cancel</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Comments1</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ActionDraft</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Submit</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Comments2</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>ActionDraft</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Cancel</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AssignUser</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>LastModifiedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select The Solution Director</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ActionDraft</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Hide</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>S1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Priority_Score</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Priority Score</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ITPT_Data.ITPT_PriorityScore__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Division_Priority</name>
                    <choiceReferences>PriorityAndRiskChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPT_DivisionPriority__c</elementReference>
                    </defaultValue>
                    <fieldText>Division Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_Score</name>
                    <extensionName>flowruntime:slider</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Risk Score</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>ITPT_Data.ITPT_RiskScore__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>max</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Staffing_Risk</name>
                    <choiceReferences>PriorityAndRiskChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPT_StaffingRisk__c</elementReference>
                    </defaultValue>
                    <fieldText>Staffing Risk</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>test1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Priority and Risk Scores&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>1</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S1_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S1_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_RAG</name>
                    <choiceReferences>RAGChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_ContractRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Vendor_RAG</name>
                    <choiceReferences>RAGChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_VendorRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Vendor RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_ContractNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Vendor_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_VendorNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Vendor Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>text2</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Detailed Status&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>1</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S2</name>
        <label>S2</label>
        <locationX>1502</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D2</targetReference>
        </connector>
        <fields>
            <name>status1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Action Required - Pending Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action_InProgress</name>
                    <choiceReferences>Approve</choiceReferences>
                    <choiceReferences>Reject</choiceReferences>
                    <choiceReferences>Return</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Comments3</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Action_InProgress</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Approve</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Comments4</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Action_InProgress</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Reject</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Action_InProgress</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Return</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S2_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S2_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S3</name>
        <label>S3</label>
        <locationX>2514</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D3</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_status1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Action Required - Approved - Not Started&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S3_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S3_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action_Approved_Not_Started</name>
                    <choiceReferences>Approve</choiceReferences>
                    <choiceReferences>Reject</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Comments5</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Action_Approved_Not_Started</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Approve</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Comments6</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Action_Approved_Not_Started</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Reject</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Action_Approved_Not_Started</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Return</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S3_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S3_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S3_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2399</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FW_IsCaseOwner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Approval_History_1</name>
        <label>Approval History 1</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>FW_Email_Action</targetReference>
        </connector>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>ActionDraft</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Comments</name>
            <value>
                <elementReference>Comments1n2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <elementReference>Get_Case.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Approval_History_2</name>
        <label>Approval History 2</label>
        <locationX>1502</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>FW_Email_Action</targetReference>
        </connector>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_InProgress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Comments</name>
            <value>
                <elementReference>Comments3n4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <elementReference>Get_Case.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Approval_History_3</name>
        <label>Approval History 3</label>
        <locationX>2514</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>FW_Email_Action</targetReference>
        </connector>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_Approved_Not_Started</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Comments</name>
            <value>
                <elementReference>Comments5n6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <elementReference>Get_Case.Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Status_Report_Case</name>
        <label>Create Status Report Case</label>
        <locationX>1106</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Create_Status_Report_Custom_Object</targetReference>
        </connector>
        <flowName>FW_Create_Case</flowName>
        <inputAssignments>
            <name>APP_Application_type</name>
            <value>
                <stringValue>IT Project Tracker Status Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_ApprovalProcess_FirstStatus</name>
            <value>
                <stringValue>Division Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Initial_Assigned_Group</name>
            <value>
                <stringValue>DOHMH_EE_Default_Queue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Origin</name>
            <value>
                <stringValue>eForm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Record</name>
            <value>
                <stringValue>ITPTSR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_RecordType</name>
            <value>
                <stringValue>IT Project Tracker Status Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Related_Object</name>
            <value>
                <stringValue>IIT</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FW_IsCaseOwner</name>
        <label>FW_IsCaseOwner</label>
        <locationX>2525</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>FW_IsCaseOwner_Decision</targetReference>
        </connector>
        <flowName>FW_IsCaseOwner</flowName>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
