force-app/main/default/flows/IIT_ITPT_SR_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>AssignFileToCase</name>
        <label>AssignFileToCase</label>
        <locationX>899</locationX>
        <locationY>713</locationY>
        <actionName>FileUploadImprovedHelper</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>APP_Create_Record_In_Custom_App_Object</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>versIds</name>
            <value>
                <elementReference>fileUploader.contentVersionIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FW_Email_Action</name>
        <label>FW Email Action</label>
        <locationX>771</locationX>
        <locationY>1285</locationY>
        <actionName>Case.FW_Default_Request_Update</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FW_Case_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FW_Email_Requester</name>
        <label>FW Email Requester</label>
        <locationX>772</locationX>
        <locationY>1167</locationY>
        <actionName>Case.FW_Default_Request_Submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FW_Email_Action</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FW_Navigate_to_Case_Record</name>
        <label>FW Navigate to Case Record</label>
        <locationX>770</locationX>
        <locationY>1537</locationY>
        <actionName>c:navigateTo</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navigateto</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>APP_ApplicationURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>BtnValue</name>
        <label>BtnValue</label>
        <locationX>591</locationX>
        <locationY>912</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Save_As_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Btn.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save As Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>APP_Update_Related_Case_Record</targetReference>
            </connector>
            <label>Save As Draft</label>
        </rules>
        <rules>
            <name>Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Btn.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_2</targetReference>
            </connector>
            <label>Submit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Latest_Status_Report_Status</name>
        <label>Check Latest Status Report Status</label>
        <locationX>245</locationX>
        <locationY>289</locationY>
        <defaultConnector>
            <targetReference>s2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NotApproved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Latest_Status_Report_Status.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Status_Report_Status.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Latest_Status_Report_Status.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s3</targetReference>
            </connector>
            <label>NotApproved</label>
        </rules>
    </decisions>
    <decisions>
        <name>Show_Flow_Status_Report_Message_Or_Create_Report_Button</name>
        <label>Show Flow Status Report Message Or Create Report Button</label>
        <locationX>302</locationX>
        <locationY>172</locationY>
        <defaultConnector>
            <targetReference>Get_Latest_Status_Report_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Show_Blank_Screen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Parent_Case_Status.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved - Not Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Parent_Case_Status.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Screen</targetReference>
            </connector>
            <label>Show Blank Screen</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CurrentStatusChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPTSR_CurrentStatus__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Division_Approver_List</name>
        <dataType>String</dataType>
        <displayField>FullName__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Division__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_My_Info.Division_DESC__c</elementReference>
            </value>
        </filters>
        <object>ADM_BCR_Division_Approver__c</object>
        <outputAssignments>
            <assignToReference>Division_Approver_List_SelectedFullName</assignToReference>
            <field>FullName__c</field>
        </outputAssignments>
        <valueField>UserID__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RAG</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPTSR_ContractRAG__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SDLC</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPT_SDLC_Phase__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>APP_CustomApp_RecordData_To_CaseDescriptionSummary</name>
        <dataType>String</dataType>
        <expression>&apos;test&apos;</expression>
    </formulas>
    <formulas>
        <name>RelatedURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260},FIND(&apos;/&apos;,{!$Api.Enterprise_Server_URL_260},9)) &amp; &apos;employees/s/case/&apos; &amp;{!FW_Create_Case.Case.Id}&amp; &apos;/detail&apos;</expression>
    </formulas>
    <interviewLabel>IIT ITPT SR Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IIT ITPT SR Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>APP_Create_Record_In_Custom_App_Object</name>
        <label>APP Create Record In Custom App Object</label>
        <locationX>818</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>UpdateParent</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FW_Rollback_AfterCaseUpdate</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>APP_Record__c</field>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_Accomplishments__c</field>
            <value>
                <elementReference>Accomplishments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CommunicationNotes__c</field>
            <value>
                <elementReference>Communication_Notes1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CommunicationRAG__c</field>
            <value>
                <elementReference>Communication_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_ContractNotes__c</field>
            <value>
                <elementReference>Contract_Notes1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_ContractRAG__c</field>
            <value>
                <elementReference>Contract_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CostNotes__c</field>
            <value>
                <elementReference>Cost_Notes1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CostRAG__c</field>
            <value>
                <elementReference>Cost_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CurrentStatus__c</field>
            <value>
                <elementReference>Current_Project_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_FundingNotes__c</field>
            <value>
                <elementReference>Funding_Notes1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_FundingRAG__c</field>
            <value>
                <elementReference>Funding_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_KeyIssues__c</field>
            <value>
                <elementReference>Key_issues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_LinktoProjectSchedule__c</field>
            <value>
                <elementReference>Link_to_Project_Schedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_PlannedTasks__c</field>
            <value>
                <elementReference>Planned_Tasks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_QualityNotes__c</field>
            <value>
                <elementReference>Quality_Notes1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_QualityRAG__c</field>
            <value>
                <elementReference>Quality_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_RiskNotes__c</field>
            <value>
                <elementReference>Risk_Notes1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_RiskRAG__c</field>
            <value>
                <elementReference>Risk_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_ScopeNotes__c</field>
            <value>
                <elementReference>Scope_Notes1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_ScopeRAG__c</field>
            <value>
                <elementReference>Scope_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_StaffingNotes__c</field>
            <value>
                <elementReference>Staffing_Notes1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_StaffingRAG__c</field>
            <value>
                <elementReference>Staffing_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_SummaryNotes__c</field>
            <value>
                <elementReference>Summary_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_TechnicalNotes__c</field>
            <value>
                <elementReference>Technical_Notes1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_TechnicalRAG__c</field>
            <value>
                <elementReference>Technical_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_TimelineNotes__c</field>
            <value>
                <elementReference>Timeline_Notes1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_TimelineRAG__c</field>
            <value>
                <elementReference>Timeline_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_UpcomingMilestonesDate__c</field>
            <value>
                <elementReference>Upcoming_Milestones_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_UpcomingMilestones__c</field>
            <value>
                <elementReference>Upcoming_Milestones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_VendorNotes__c</field>
            <value>
                <elementReference>Vendor_Notes1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_VendorRAG__c</field>
            <value>
                <elementReference>Vendor_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_AccountableSeniorLeader_User__c</field>
            <value>
                <elementReference>Get_Parent_Data.ITPT_AccountableSeniorLeader_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_Overall_RAG__c</field>
            <value>
                <elementReference>Overall_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ProjectLead_User__c</field>
            <value>
                <elementReference>Get_Parent_Data.ITPT_ProjectLead_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_ResponsibleDirector_User__c</field>
            <value>
                <elementReference>Get_Parent_Data.ITPT_ResponsibleDirector_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_SDLC_Phase__c</field>
            <value>
                <elementReference>SDLC_Phase</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FW_Create_Case.Case.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case_ID__c</field>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>IIT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Employe_ID</name>
        <label>Get Employe ID</label>
        <locationX>602</locationX>
        <locationY>810</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BtnValue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Status_Report_Data.ITPT_ProjectLead_User__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Status_Report_Data</name>
        <label>Get Latest Status Report Data</label>
        <locationX>506</locationX>
        <locationY>582</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Parent_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Latest_Status_Reports_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IIT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Status_Report_Status</name>
        <label>Get Latest Status Report Status</label>
        <locationX>112</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Latest_Status_Report_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_Status_Reports_Case</name>
        <label>Get Latest Status Reports Case</label>
        <locationX>356</locationX>
        <locationY>591</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Latest_Status_Report_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_My_Info</name>
        <label>Get My Info</label>
        <locationX>1030</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_OnBehalfOf.Employee.UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case_Status</name>
        <label>Get Parent Case Status</label>
        <locationX>467</locationX>
        <locationY>202</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_Flow_Status_Report_Message_Or_Create_Report_Button</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Data</name>
        <label>Get Parent Data</label>
        <locationX>630</locationX>
        <locationY>558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APP_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IIT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>FW_Rollback_AfterCaseUpdate</name>
        <label>FW_Rollback_AfterCaseUpdate</label>
        <locationX>1077</locationX>
        <locationY>912</locationY>
        <connector>
            <targetReference>FW_Rollback_Confirmation</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>APP_Update_Related_Case_Record</name>
        <label>APP_Update Related Case Record</label>
        <locationX>763</locationX>
        <locationY>975</locationY>
        <connector>
            <targetReference>Approval_History</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FW_Rollback_AfterCaseUpdate</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Parent_Data.ITPT_ProjectLead_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_URL__c</field>
            <value>
                <elementReference>RelatedURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>Get_Employe_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_2</name>
        <label>Update Case 2</label>
        <locationX>450</locationX>
        <locationY>980</locationY>
        <connector>
            <targetReference>Approval_History</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Parent_Data.ITPT_ResponsibleDirector_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_URL__c</field>
            <value>
                <elementReference>RelatedURL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester__c</field>
            <value>
                <elementReference>Get_Employe_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateParent</name>
        <label>UpdateParent</label>
        <locationX>710</locationX>
        <locationY>753</locationY>
        <connector>
            <targetReference>Get_Employe_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ITPT_Overall_RAG__c</field>
            <value>
                <elementReference>Overall_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPT_SDLC_Phase__c</field>
            <value>
                <elementReference>SDLC_Phase</elementReference>
            </value>
        </inputAssignments>
        <object>IIT__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>APP_Request</name>
        <label>APP_Request</label>
        <locationX>792</locationX>
        <locationY>525</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Create_Case</targetReference>
        </connector>
        <fields>
            <name>APP_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_OnBehalfOf_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Requester &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Name:&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!FW_OnBehalfOf.Employee.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Email</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!FW_OnBehalfOf.Employee.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_WorkPhone</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Work Phone: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.WorkPhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Address</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Address: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Address__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_Space</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Division</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Division: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Division__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Bureau</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Bureau: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Bureau__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Unit</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Work Unit: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Unit__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>1</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>APP_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Overall_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;Overall RAG&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SDLC_Phase</name>
                    <choiceReferences>SDLC</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>&lt;b&gt;SDLC Phase&lt;/b&gt;</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Project Status Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Current_Project_Status</name>
            <choiceReferences>CurrentStatusChoice</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Latest_Status_Report_Data.ITPTSR_CurrentStatus__c</elementReference>
            </defaultValue>
            <fieldText>&lt;div&gt;&lt;b&gt;Current Project Status&lt;/b&gt;&lt;/div&gt;</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Key_issues</name>
            <defaultValue>
                <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_KeyIssues__c}</stringValue>
            </defaultValue>
            <fieldText>Key issues for Management Attention</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Summary_Notes</name>
            <defaultValue>
                <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_SummaryNotes__c}</stringValue>
            </defaultValue>
            <fieldText>Summary Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Accomplishments</name>
            <defaultValue>
                <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_Accomplishments__c}</stringValue>
            </defaultValue>
            <fieldText>Accomplishments (Since Last Report)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Planned_Tasks</name>
            <defaultValue>
                <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_PlannedTasks__c}</stringValue>
            </defaultValue>
            <fieldText>Planned Tasks (For Next Report)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Upcoming_Milestones</name>
                    <defaultValue>
                        <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_UpcomingMilestones__c}</stringValue>
                    </defaultValue>
                    <fieldText>Upcoming Milestones</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Upcoming_Milestones_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_UpcomingMilestonesDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Upcoming Milestones Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Link_to_Project_Schedule</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Latest_Status_Report_Data.ITPTSR_LinktoProjectSchedule__c</elementReference>
            </defaultValue>
            <fieldText>Link to Project Schedule</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Detailed RAG Status&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>APP_Request_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_ContractRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Notes1</name>
                    <defaultValue>
                        <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_ContractNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Contract Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vendor_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_VendorRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Vendor RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vendor_Notes1</name>
                    <defaultValue>
                        <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_VendorNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Vendor Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Staffing_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_StaffingRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Staffing RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Staffing_Notes1</name>
                    <defaultValue>
                        <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_StaffingNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Staffing Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Funding_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_FundingRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Funding RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Funding_Notes1</name>
                    <defaultValue>
                        <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_FundingNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Funding Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Technical_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_TechnicalRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Technical RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Technical_Notes1</name>
                    <defaultValue>
                        <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_TechnicalNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Technical Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Communication_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_CommunicationRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Communication RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Communication_Notes1</name>
                    <defaultValue>
                        <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_CommunicationNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Communication Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Timeline_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_TimelineRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Timeline RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Timeline_Notes1</name>
                    <defaultValue>
                        <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_TimelineNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Timeline Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_CostRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Notes1</name>
                    <defaultValue>
                        <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_CostNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Cost Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scope_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_ScopeRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Scope RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scope_Notes1</name>
                    <defaultValue>
                        <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_ScopeNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Scope Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section12_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quality_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_QualityRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Quality RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quality_Notes1</name>
                    <defaultValue>
                        <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_QualityNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Quality Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section13_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_RiskRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Risk RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risk_Notes1</name>
                    <defaultValue>
                        <stringValue>{!Get_Latest_Status_Report_Data.ITPTSR_RiskNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Risk Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section14_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_ContractNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Vendor_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_VendorNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Vendor Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Staffing_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_StaffingNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Staffing Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Funding_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_FundingNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Funding Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Technical_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_TechnicalNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Technical Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Communication_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_CommunicationNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Communication Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Timeline_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_TimelineNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Timeline Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cost_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_CostNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Scope_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_ScopeNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Scope Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Quality_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_QualityNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Quality Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Risk_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Latest_Status_Report_Data.ITPTSR_RiskNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Risk Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section15_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>1</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>text3</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Project Artifacts&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>fileUploader</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderFilesBelow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Btn</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Save As Draft&quot;,&quot;value&quot;:&quot;Save As Draft&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Submit&quot;,&quot;value&quot;:&quot;Submit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Empty_Screen</name>
        <label>Empty Screen</label>
        <locationX>308</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Case_Confirmation</name>
        <label>FW Case Confirmation</label>
        <locationX>774</locationX>
        <locationY>1418</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Navigate_to_Case_Record</targetReference>
        </connector>
        <fields>
            <name>FW_Case_Confirmation_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Your case # {!FW_Create_Case.Case.Reference_Number__c} has been created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go to Case Record</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Rollback_Confirmation</name>
        <label>FW_Rollback_Confirmation</label>
        <locationX>1040</locationX>
        <locationY>1297</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FW_Rollback_Confirmation_Message</name>
            <fieldText>&lt;p&gt;An error has occurred. The system admins have been notified of the error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s2</name>
        <label>s2</label>
        <locationX>242</locationX>
        <locationY>520</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Latest_Status_Reports_Case</targetReference>
        </connector>
        <nextOrFinishButtonLabel>Create New Report</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s3</name>
        <label>s3</label>
        <locationX>486</locationX>
        <locationY>388</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text10</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;Your last status report is pending review.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>649</locationX>
        <locationY>181</locationY>
        <connector>
            <targetReference>Get_Parent_Case_Status</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Approval_History</name>
        <label>Approval History</label>
        <locationX>635</locationX>
        <locationY>1086</locationY>
        <connector>
            <targetReference>FW_Email_Requester</targetReference>
        </connector>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FW_Create_Case</name>
        <label>FW Create Case</label>
        <locationX>850</locationX>
        <locationY>619</locationY>
        <connector>
            <targetReference>AssignFileToCase</targetReference>
        </connector>
        <flowName>FW_Create_Case</flowName>
        <inputAssignments>
            <name>APP_Application_type</name>
            <value>
                <elementReference>APP_Application_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_ApprovalProcess_FirstStatus</name>
            <value>
                <elementReference>APP_ApprovalProcess_FirstStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Initial_Assigned_Group</name>
            <value>
                <elementReference>APP_Initial_Assigned_Group_API_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Origin</name>
            <value>
                <elementReference>APP_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Record</name>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_RecordType</name>
            <value>
                <elementReference>APP_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Related_Object</name>
            <value>
                <elementReference>APP_Related_Object</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Requester</name>
            <value>
                <elementReference>FW_OnBehalfOf.Employee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FW_ForCaseDescription</name>
            <value>
                <elementReference>FW_ForCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FW_OnBehalfOf</name>
        <label>FW OnBehalfOf</label>
        <locationX>1032</locationX>
        <locationY>342</locationY>
        <connector>
            <targetReference>Get_My_Info</targetReference>
        </connector>
        <flowName>FW_On_Behalf_Of</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>APP_Application_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>IT Project Tracker Status Report</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApplicationURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>it-project-tracker-status-report</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApprovalProcess_FirstStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Division Approval</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Initial_Assigned_Group_API_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_EE_Default_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>eForm</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ITPTSR</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>IT Project Tracker Status Report</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Related_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>IIT</stringValue>
        </value>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Division_Approver_List_SelectedFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FW_CustomAppObjectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FW_ForCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>APP_CustomApp_RecordData_To_CaseDescriptionSummary</elementReference>
        </value>
    </variables>
    <variables>
        <name>LatestStatusReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>New_RequesterBureau</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>New_RequesterDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StatusReport</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IIT__c</objectType>
    </variables>
</Flow>
