force-app/main/default/flows/IIT_ITPT_SR_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FW_Email_Action</name>
        <label>FW Email Action</label>
        <locationX>1436</locationX>
        <locationY>1766</locationY>
        <actionName>Case.FW_Default_Request_Update</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assign</name>
        <choiceText>Assign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assign</stringValue>
        </value>
    </choices>
    <choices>
        <name>Back_to_Division</name>
        <choiceText>Back to Division</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Back to Division</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel_Request</name>
        <choiceText>Cancel Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reassign</name>
        <choiceText>Reassign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reassign</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <choices>
        <name>Requester_Review</name>
        <choiceText>Requester Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Requester Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Return</name>
        <choiceText>Return</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Return</stringValue>
        </value>
    </choices>
    <choices>
        <name>Save</name>
        <choiceText>Save</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Save</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit</name>
        <choiceText>Submit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_Again</name>
        <choiceText>Submit Again</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit Again</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_To_Print</name>
        <choiceText>Submit To Print</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit To Print</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Current_Status</name>
        <label>Current Status</label>
        <locationX>1436</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Empty_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Current_Status_Draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S1</targetReference>
            </connector>
            <label>Draft</label>
        </rules>
        <rules>
            <name>Current_Status_Pending_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>S2</targetReference>
            </connector>
            <label>Pending Review</label>
        </rules>
    </decisions>
    <decisions>
        <name>D1</name>
        <label>D1</label>
        <locationX>446</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>D11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Submit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U11</targetReference>
            </connector>
            <label>Submit</label>
        </rules>
        <rules>
            <name>D12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cancel</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U12</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
        <rules>
            <name>D13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionDraft</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Save</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U2</targetReference>
            </connector>
            <label>Save</label>
        </rules>
    </decisions>
    <decisions>
        <name>D2</name>
        <label>D2</label>
        <locationX>1700</locationX>
        <locationY>878</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>D21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_InProgress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U21</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>D22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_InProgress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U22</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
        <rules>
            <name>D23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_InProgress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Return</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>U23</targetReference>
            </connector>
            <label>Return</label>
        </rules>
    </decisions>
    <decisions>
        <name>FW_IsCaseOwner_Decision</name>
        <label>FW_IsCaseOwner_Decision</label>
        <locationX>2063</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Empty_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FW_IsCaseOwner.ReturnValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Status</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>OnHold</name>
        <label>OnHold</label>
        <locationX>1238</locationX>
        <locationY>1118</locationY>
        <defaultConnector>
            <targetReference>Update_Parent_Status_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsOnHold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ITPT_Data.ITPTSR_CurrentStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Parent_Status</targetReference>
            </connector>
            <label>IsOnHold</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CurrentStatusChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPTSR_CurrentStatus__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>dasdasd</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RAG</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ITPTSR_ContractRAG__c</picklistField>
        <picklistObject>IIT__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Comments1n2</name>
        <dataType>String</dataType>
        <expression>{!Comments1}&amp; &quot;&quot; &amp;{!Comments2}</expression>
    </formulas>
    <formulas>
        <name>Comments3n4</name>
        <dataType>String</dataType>
        <expression>{!Comments3}&amp; &quot;&quot; &amp;{!Comments4}</expression>
    </formulas>
    <interviewLabel>IIT ITPT SR Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IIT ITPT SR Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Status</name>
        <label>Get Status</label>
        <locationX>1436</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ITPT_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>CaseCreatedBy</assignToReference>
            <field>CreatedById</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ParentCaseID</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>ITPT_Data</name>
        <label>ITPT Data</label>
        <locationX>1436</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Current_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IIT__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>U11</name>
        <label>U11</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Approval_History_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ITPT_Data.ITPT_ResponsibleDirector_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Pending Review</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>U12</name>
        <label>U12</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Approval_History_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ITPT_Data.ITPT_ProjectLead_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>U2</name>
        <label>U2</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ITPTSR_Accomplishments__c</field>
            <value>
                <elementReference>Accomplishments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CommunicationNotes__c</field>
            <value>
                <elementReference>Communication_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CommunicationRAG__c</field>
            <value>
                <elementReference>Communication_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_ContractNotes__c</field>
            <value>
                <elementReference>Contract_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_ContractRAG__c</field>
            <value>
                <elementReference>Contract_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CostNotes__c</field>
            <value>
                <elementReference>Cost_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CostRAG__c</field>
            <value>
                <elementReference>Cost_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_CurrentStatus__c</field>
            <value>
                <elementReference>Current_Project_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_FundingNotes__c</field>
            <value>
                <elementReference>Funding_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_FundingRAG__c</field>
            <value>
                <elementReference>Funding_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_KeyIssues__c</field>
            <value>
                <elementReference>Key_issues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_LinktoProjectSchedule__c</field>
            <value>
                <elementReference>Link_to_Project_Schedule</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_PlannedTasks__c</field>
            <value>
                <elementReference>Planned_Tasks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_QualityNotes__c</field>
            <value>
                <elementReference>Quality_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_QualityRAG__c</field>
            <value>
                <elementReference>Quality_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_RiskNotes__c</field>
            <value>
                <elementReference>Risk_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_RiskRAG__c</field>
            <value>
                <elementReference>Risk_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_ScopeNotes__c</field>
            <value>
                <elementReference>Scope_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_ScopeRAG__c</field>
            <value>
                <elementReference>Scope_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_StaffingNotes__c</field>
            <value>
                <elementReference>Staffing_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_StaffingRAG__c</field>
            <value>
                <elementReference>Staffing_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_SummaryNotes__c</field>
            <value>
                <elementReference>Summary_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_TechnicalNotes__c</field>
            <value>
                <elementReference>Technical_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_TechnicalRAG__c</field>
            <value>
                <elementReference>Technical_RAG</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_UpcomingMilestonesDate__c</field>
            <value>
                <elementReference>Upcoming_Milestones_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_UpcomingMilestones__c</field>
            <value>
                <elementReference>Upcoming_Milestones</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_VendorNotes__c</field>
            <value>
                <elementReference>Vendor_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ITPTSR_VendorRAG__c</field>
            <value>
                <elementReference>Vendor_RAG</elementReference>
            </value>
        </inputAssignments>
        <object>IIT__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>U21</name>
        <label>U21</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>OnHold</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ITPT_Data.ITPT_ProjectLead_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>U22</name>
        <label>U22</label>
        <locationX>1634</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Approval_History_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ITPT_Data.ITPT_ProjectLead_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>U23</name>
        <label>U23</label>
        <locationX>1898</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Approval_History_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ITPT_Data.ITPT_ProjectLead_User__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Status</name>
        <label>Update Parent Status</label>
        <locationX>1106</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Approval_History_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent_Status_2</name>
        <label>Update Parent Status 2</label>
        <locationX>1370</locationX>
        <locationY>1238</locationY>
        <connector>
            <targetReference>Approval_History_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ParentCaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>ITPT_Data.ITPTSR_CurrentStatus__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Empty_Screen</name>
        <label>Empty Screen</label>
        <locationX>2426</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S1</name>
        <label>S1</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D1</targetReference>
        </connector>
        <fields>
            <name>status2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;Action Required - &lt;/strong&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem); background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Draft&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ActionDraft</name>
                    <choiceReferences>Submit</choiceReferences>
                    <choiceReferences>Cancel</choiceReferences>
                    <choiceReferences>Save</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Comments1</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ActionDraft</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Submit</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Comments2</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>ActionDraft</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Cancel</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AssignUser</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>LastModifiedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select The Solution Director</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ActionDraft</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>1</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>S1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>t</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Project Status Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Current_Project_Status</name>
                    <choiceReferences>CurrentStatusChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_CurrentStatus__c</elementReference>
                    </defaultValue>
                    <fieldText>Current Project Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Key_issues</name>
                    <defaultValue>
                        <stringValue>{!ITPT_Data.ITPTSR_KeyIssues__c}</stringValue>
                    </defaultValue>
                    <fieldText>Key issues for Management Attention</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Summary_Notes</name>
                    <defaultValue>
                        <stringValue>{!ITPT_Data.ITPTSR_SummaryNotes__c}</stringValue>
                    </defaultValue>
                    <fieldText>Summary Notes</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Accomplishments</name>
                    <defaultValue>
                        <stringValue>{!ITPT_Data.ITPTSR_Accomplishments__c}</stringValue>
                    </defaultValue>
                    <fieldText>Accomplishments (Since Last Report)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Planned_Tasks</name>
                    <defaultValue>
                        <stringValue>{!ITPT_Data.ITPTSR_PlannedTasks__c}</stringValue>
                    </defaultValue>
                    <fieldText>Planned Tasks (For Next Report)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Link_to_Project_Schedule</name>
                    <defaultValue>
                        <stringValue>{!ITPT_Data.ITPTSR_LinktoProjectSchedule__c}</stringValue>
                    </defaultValue>
                    <fieldText>Link to Project Schedule</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>t1</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 20px;&quot;&gt;Detailed RAG Status&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>1</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S1_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S1_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Upcoming_Milestones</name>
                    <defaultValue>
                        <stringValue>{!ITPT_Data.ITPTSR_UpcomingMilestones__c}</stringValue>
                    </defaultValue>
                    <fieldText>Upcoming Milestones</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Upcoming_Milestones_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_UpcomingMilestonesDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Upcoming Milestones Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>1</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>S1_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S1_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_ContractRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Vendor_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_VendorRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Vendor RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Funding_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_FundingRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Funding RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Staffing_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_StaffingRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Staffing RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Technical_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_TechnicalRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Technical RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Communication_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_CommunicationRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Communication RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Timeline_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_TimelineRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Timeline RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cost_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_CostRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Scope_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_ScopeRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Scope RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Quality_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_QualityRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Quality RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Risk_RAG</name>
                    <choiceReferences>RAG</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_RiskRAG__c</elementReference>
                    </defaultValue>
                    <fieldText>Risk RAG</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contract_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_ContractNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Vendor_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_VendorNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Vendor Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Funding_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_FundingNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Funding Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Staffing_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_StaffingNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Staffing Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Technical_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_TechnicalNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Technical Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Communication_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_CommunicationNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Communication Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Timeline_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_TimelineNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Timeline Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cost_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_CostNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Cost Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Scope_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_ScopeNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Scope Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Quality_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_QualityNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Quality Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Risk_Notes</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ITPT_Data.ITPTSR_RiskNotes__c</elementReference>
                    </defaultValue>
                    <fieldText>Risk Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S1_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Approve</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>1</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>S2</name>
        <label>S2</label>
        <locationX>1700</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D2</targetReference>
        </connector>
        <fields>
            <name>status1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Action Required - Pending Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>S2_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S2_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action_InProgress</name>
                    <choiceReferences>Approve</choiceReferences>
                    <choiceReferences>Reject</choiceReferences>
                    <choiceReferences>Return</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Comments3</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Action_InProgress</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Approve</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Comments4</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Action_InProgress</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Reject</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Action_InProgress</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Return</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S2_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S2_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S2_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>S2_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>S2_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>S2_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1937</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FW_IsCaseOwner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Approval_History_1</name>
        <label>Approval History 1</label>
        <locationX>446</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>FW_Email_Action</targetReference>
        </connector>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>ActionDraft</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Comments</name>
            <value>
                <elementReference>Comments1n2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Approval_History_2</name>
        <label>Approval History 2</label>
        <locationX>1700</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>FW_Email_Action</targetReference>
        </connector>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_InProgress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Comments</name>
            <value>
                <elementReference>Comments3n4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FW_IsCaseOwner</name>
        <label>FW_IsCaseOwner</label>
        <locationX>2063</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>FW_IsCaseOwner_Decision</targetReference>
        </connector>
        <flowName>FW_IsCaseOwner</flowName>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CaseCreatedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
