force-app/main/default/flows/Installation_Issue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirecting_to_Case_Record_Page</name>
        <label>Redirecting to Case Record Page</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <actionName>c:navigateTo</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navigateto</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>case/{!CaseRecordIDVar}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Another_User_ID_Val</name>
        <label>Assign Another User ID Val</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>UserIdval</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeIdLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetching_Myuser_Details_From_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_ID_Val</name>
        <label>Assign User ID Val</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>UserIdval</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetching_Myuser_Details_From_Employee</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Another_User</name>
        <choiceText>Another User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another User</stringValue>
        </value>
    </choices>
    <choices>
        <name>Audio</name>
        <choiceText>Audio</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Installation</name>
        <choiceText>Installation</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>My_self</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Myself</stringValue>
        </value>
    </choices>
    <choices>
        <name>Permissions</name>
        <choiceText>Permissions</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Video</name>
        <choiceText>Video</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>User_Type_Identifier</name>
        <label>User Type Identifier</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_User_ID_Val</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Another_User_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_am_completing_this_request_on_behalf_of</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Another_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Another_User_ID_Val</targetReference>
            </connector>
            <label>Another User Type</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Installation Issue {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Installation Issue</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Case_for_Installation_Issue</name>
        <label>Create a Case for Installation Issue</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignRecordIdToReference>CaseRecordIDVar</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Case_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>response1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0123C000000gpsj</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Zoom Installation Issue</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Problem</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Fetching_Myuser_Details_From_Employee</name>
        <label>Fetching Myuser Details From Employee</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Installation_Issue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIdval</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Number</name>
        <label>Get Case Number</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordIDVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Case_Record_Type</name>
        <label>Get Case Record Type</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_sc_caseRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee</name>
        <label>Get Employee</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_a_Case_for_Installation_Issue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Case_Confirmation</name>
        <label>Case Confirmation</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Redirecting_to_Case_Record_Page</targetReference>
        </connector>
        <fields>
            <name>CaseConfirmation</name>
            <fieldText>&lt;p&gt;Your case #{!Get_Case_Number.CaseNumber} has been created successfully.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Installation_Issue</name>
        <label>Installation Issue</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Case_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Installation_Issue_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Installation_Issue_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employee_Full_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;Name: {!Fetching_Myuser_Details_From_Employee.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>GetEmployeeBureau</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Bureau: {!Fetching_Myuser_Details_From_Employee.Bureau__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>GetEmployeeDivision</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Division: {!Fetching_Myuser_Details_From_Employee.Division__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Installation_Issue_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Installation_Issue_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>What_type_of_issue_are_you_facing</name>
                    <choiceReferences>Video</choiceReferences>
                    <choiceReferences>Audio</choiceReferences>
                    <choiceReferences>Installation</choiceReferences>
                    <choiceReferences>Permissions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What type of issue are you facing?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Installation_Issue_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Installation_Issue_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>response1</name>
                    <fieldText>Please provide the information below regarding the issue</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Installation_Issues</name>
        <label>Installation Issue</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Type_Identifier</targetReference>
        </connector>
        <fields>
            <name>I_am_completing_this_request_on_behalf_of</name>
            <choiceReferences>My_self</choiceReferences>
            <choiceReferences>Another_User</choiceReferences>
            <dataType>String</dataType>
            <fieldText>I am completing this request on behalf of:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>EmployeeIdLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>UserId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Employee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Employee</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_am_completing_this_request_on_behalf_of</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Another_User</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Installation_Issues</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CaseRecordIDVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Myself</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Myself</stringValue>
        </value>
    </variables>
    <variables>
        <name>Response1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserIdval</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_sc_caseRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Installation</stringValue>
        </value>
    </variables>
</Flow>
