force-app/main/default/flows/MDR_Processing_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Approval_Email_Notification</name>
        <label>Send Approval Email Notification</label>
        <locationX>581</locationX>
        <locationY>1061</locationY>
        <actionName>IT_Mobile_Device_Request__c.Service_Request_Approved_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>get_Related_MDR.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send_Rejected_Email_Notification</name>
        <label>send Rejected Email Notification</label>
        <locationX>851</locationX>
        <locationY>1051</locationY>
        <actionName>IT_Mobile_Device_Request__c.Service_Request_Rejected_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>get_Related_MDR.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Approve_Or_Reject_Decision</name>
        <label>Approve Or Reject Decision</label>
        <locationX>714</locationX>
        <locationY>859</locationY>
        <defaultConnector>
            <targetReference>Update_Case_to_Rejected_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApproveRejectVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_to_Approved</targetReference>
            </connector>
            <label>Approved</label>
        </rules>
    </decisions>
    <description>05/18/2022
Adding condition to check the Actor ID=IT MDR Approvers, then only launch the flow</description>
    <dynamicChoiceSets>
        <name>GetAllTecSysRelatedRecords</name>
        <collectionReference>getAllTecsysRecords</collectionReference>
        <dataType>String</dataType>
        <displayField>TEXT__c</displayField>
        <object>Tecsys_Asset__c</object>
        <valueField>TEXT__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>MDR Processing Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>MDR Processing Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_Case_Data</name>
        <label>get Case Data</label>
        <locationX>716</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Related_MDR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case_Details.ProcessInstance.TargetObjectId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Case_Details</name>
        <label>get Case Details</label>
        <locationX>716</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Case_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActorId</field>
            <operator>Contains</operator>
            <value>
                <stringValue>IT MDR Approvers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstanceStep</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Related_MDR</name>
        <label>get Related MDR</label>
        <locationX>716</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TecSys_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Case_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case_Data.CaseNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IT_Mobile_Device_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_TecSys_Record_Details</name>
        <label>Get Selected TecSys Record Details</label>
        <locationX>949</locationX>
        <locationY>643</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Final_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TEXT__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Asset_ID_or_Serial_or_IMEI_No</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tecsys_Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TecSys_Data</name>
        <label>Get TecSys Data</label>
        <locationX>716</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MDR_Processing_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserName_Email_SF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Related_MDR.Requester_Email__c</elementReference>
            </value>
        </filters>
        <object>Tecsys_Asset__c</object>
        <outputReference>getAllTecsysRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TEXT__c</queriedFields>
        <queriedFields>AssetId__c</queriedFields>
        <queriedFields>SimOrCcid__c</queriedFields>
        <queriedFields>PhoneNum__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_to_Approved</name>
        <label>Update Case to Approved</label>
        <locationX>584</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Send_Approval_Email_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case_Data.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_to_Rejected_Status</name>
        <label>Update Case to Rejected Status</label>
        <locationX>848</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>send_Rejected_Email_Notification</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case_Data.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Final_Approval</name>
        <label>Final Approval</label>
        <locationX>1018</locationX>
        <locationY>790</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Approve_Or_Reject_Decision</targetReference>
        </connector>
        <fields>
            <name>Asset_ID_Selected_Record</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Selected_TecSys_Record_Details.AssetId__c</elementReference>
            </defaultValue>
            <fieldText>Asset ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SIM_or_CCID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Selected_TecSys_Record_Details.SimOrCcid__c</elementReference>
            </defaultValue>
            <fieldText>SIM or CCID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Phone_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Selected_TecSys_Record_Details.PhoneNum__c</elementReference>
            </defaultValue>
            <fieldText>Phone Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Serial_or_IMEI</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Selected_TecSys_Record_Details.SerialNumOrIMEI__c</elementReference>
            </defaultValue>
            <fieldText>Serial or IMEI</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Final_Approval_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Final_Approval_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>finalApprovalFooter</name>
                    <extensionName>c:lwc_GenericFlowFooterButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>nextAction</name>
                        <value>
                            <stringValue>Approve</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>rejectAction</name>
                        <value>
                            <stringValue>Reject</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>approveRejectIdentifier</name>
                        <value>
                            <elementReference>ApproveRejectVar</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showFooter</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ApproveRejectVar</assignToReference>
                        <name>approveRejectIdentifier</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MDR_Processing_Flow</name>
        <label>MDR Processing Flow</label>
        <locationX>715</locationX>
        <locationY>686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_TecSys_Record_Details</targetReference>
        </connector>
        <fields>
            <name>MDR_Processing_Flow_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MDR_Processing_Flow_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Case_Data.CaseNumber</elementReference>
                    </defaultValue>
                    <fieldText>Case Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Case_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Case_Data.SuppliedName</elementReference>
                    </defaultValue>
                    <fieldText>Case Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Case_Description1</name>
                    <defaultValue>
                        <stringValue>{!get_Case_Data.Description}</stringValue>
                    </defaultValue>
                    <fieldText>Case Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>MDR_Processing_Flow_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Case_Type</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Case_Data.Type</elementReference>
                    </defaultValue>
                    <fieldText>Case Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CaseOwner</name>
                    <fieldText>&lt;p&gt;Case Owner: {!get_Case_Data.Owner:User.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>MDR_Related_ID</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Related_MDR.Name</elementReference>
                    </defaultValue>
                    <fieldText>MDR Related ID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Asset_ID_or_Serial_or_IMEI_No</name>
            <choiceReferences>GetAllTecSysRelatedRecords</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asset ID or Serial or IMEI No</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>get_Case_Data.Status</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Waiting IT Mobile Team</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MDR_Processing_Flow_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>MDR_Processing_Flow_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_Next_button_Conditionally</name>
                    <extensionName>c:lwc_GenericFlowFooterButton</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>nextAction</name>
                        <value>
                            <stringValue>Next</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showFooter</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>approveRejectIdentifier</name>
                        <value>
                            <elementReference>ApproveRejectVar</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>ApproveRejectVar</assignToReference>
                        <name>approveRejectIdentifier</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>get_Case_Data.Status</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Waiting IT Mobile Team</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>get_Case_Data.Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>MDR Request</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>590</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_Case_Details</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>ApproveRejectVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getAllTecsysRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tecsys_Asset__c</objectType>
    </variables>
    <variables>
        <name>getSelectedRecordTextValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Asset_ID_or_Serial_or_IMEI_No</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
