force-app/main/default/flows/MDR_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_MDR_Record_Detail</name>
        <label>Navigate to MDR Record Detail</label>
        <locationX>711</locationX>
        <locationY>2111</locationY>
        <actionName>c:navigateTo</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navigateto</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>it-mobile-device-request</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval_Case</name>
        <label>Submit for Approval Case</label>
        <locationX>894</locationX>
        <locationY>2030</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Navigate_to_MDR_Record_Detail</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Approval_Process_for_MDR_Updated</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
            <value>
                <elementReference>nextApproverACDCId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>CaseRecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>{!Get_case_Details.Owner:User.Name} Submitted for Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>Get_case_Details.OwnerId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Another_User_ID_Val</name>
        <label>Assign Another User ID Val</label>
        <locationX>530</locationX>
        <locationY>318</locationY>
        <assignmentItems>
            <assignToReference>UserIdVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeIdLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetching_Myuser_Details_From_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_ID_Val</name>
        <label>Assign User ID Val</label>
        <locationX>848</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>UserIdVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetching_Myuser_Details_From_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Next_Approver_Id_Assign</name>
        <label>Next Approver Id Assign</label>
        <locationX>523</locationX>
        <locationY>2002</locationY>
        <assignmentItems>
            <assignToReference>nextApproverACDCId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getMDRName.Select_Your_Divisional_Approver_DC__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Submit_for_Approval_Case</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Android_Phone</name>
        <choiceText>Android Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Android Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Another_User</name>
        <choiceText>Another User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another User</stringValue>
        </value>
    </choices>
    <choices>
        <name>Apple_Phone</name>
        <choiceText>Apple Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Apple Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>AT_T</name>
        <choiceText>AT&amp;T</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AT&amp;T</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bring_Your_Own_Device_BYOD</name>
        <choiceText>Bring Your Own Device (BYOD)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bring Your Own Device (BYOD)</stringValue>
        </value>
    </choices>
    <choices>
        <name>CCEWIN</name>
        <choiceText>CCEWIN</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CCEWIN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Change_in_Features</name>
        <choiceText>Change in Features</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Change in Features</stringValue>
        </value>
    </choices>
    <choices>
        <name>Damage</name>
        <choiceText>Damage</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Damage</stringValue>
        </value>
    </choices>
    <choices>
        <name>DOHMH_Device</name>
        <choiceText>DOHMH Device</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DOHMH Device</stringValue>
        </value>
    </choices>
    <choices>
        <name>DOHMH_Location</name>
        <choiceText>DOHMH Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DOHMH Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>iPAD_Data_plan_only</name>
        <choiceText>iPAD (Data plan only)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>iPAD (Data plan only)</stringValue>
        </value>
    </choices>
    <choices>
        <name>iPhone_both_Device_Data_Plan</name>
        <choiceText>iPhone (both Device &amp; Data Plan)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>iPhone (both Device &amp; Data Plan)</stringValue>
        </value>
    </choices>
    <choices>
        <name>ISP_AirCard_both_device_data_plan</name>
        <choiceText>ISP AirCard (both device &amp; data plan)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ISP AirCard (both device &amp; data plan)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lost</name>
        <choiceText>Lost</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>MySelf</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MySelf</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Non_DOHMH_Location</name>
        <choiceText>Non DOHMH Location</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non DOHMH Location</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Replacement</name>
        <choiceText>Replacement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Replacement</stringValue>
        </value>
    </choices>
    <choices>
        <name>Samsung_Tablet_Data_Plan_only</name>
        <choiceText>Samsung Tablet (Data Plan only)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Samsung Tablet (Data Plan only)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sprint</name>
        <choiceText>Sprint</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sprint</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stolen</name>
        <choiceText>Stolen</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Stolen</stringValue>
        </value>
    </choices>
    <choices>
        <name>T_Mobile</name>
        <choiceText>T-Mobile</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>T-Mobile</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tablet</name>
        <choiceText>Tablet</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tablet</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upgrade</name>
        <choiceText>Upgrade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upgrade</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verizon_Flip_Phone_both_Device_cell_plan</name>
        <choiceText>Verizon Flip Phone (both Device &amp; cell plan)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verizon Flip Phone (both Device &amp; cell plan)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Verizon_Wirelesss</name>
        <choiceText>Verizon Wirelesss</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Verizon Wirelesss</stringValue>
        </value>
    </choices>
    <decisions>
        <name>DeviceRequestCheck</name>
        <label>DeviceRequestCheck</label>
        <locationX>905</locationX>
        <locationY>1042</locationY>
        <defaultConnector>
            <targetReference>Get_case_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Lost_or_Stolen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Reason_for_the_Replacement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lost</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_for_the_Replacement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Stolen</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attachements</targetReference>
            </connector>
            <label>Lost or Stolen</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Type_Identifier</name>
        <label>User Type Identifier</label>
        <locationX>716</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Assign_User_ID_Val</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Another_User_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_am_completing_this_request_on_behalf_of1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Another_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Another_User_ID_Val</targetReference>
            </connector>
            <label>Another User Type</label>
        </rules>
    </decisions>
    <description>Adding REGEX to the Phone field to accept only numeric values on Screen Element
v7: Getting MDR Case RecordType ID and assign it to the case record</description>
    <environments>Default</environments>
    <formulas>
        <name>getEmployeeFullName</name>
        <dataType>String</dataType>
        <expression>{!Fetching_Myuser_Details_From_Employee.Name}</expression>
    </formulas>
    <formulas>
        <name>NewCaseLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260},FIND(&apos;/&apos;,{!$Api.Enterprise_Server_URL_260},9)) &amp; &apos;employees/s/detail/&apos; &amp; {!Get_case_Details.Id}</expression>
    </formulas>
    <formulas>
        <name>NewMDRLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260},FIND(&apos;/&apos;,{!$Api.Enterprise_Server_URL_260},9)) &amp; &apos;employees/s/detail/&apos; &amp; {!getMDRRecordDetailsVar}</expression>
    </formulas>
    <formulas>
        <name>PolicyLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;https://www1.nyc.gov/site/doh/index.page&quot;, &quot;BYOD Policy&quot;,&quot;_self&quot;)</expression>
    </formulas>
    <formulas>
        <name>updateRelatedReacordDescriptionFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Requester Work Unit: &quot; +{!Requester_Work_Unit} &amp;BR()
&amp;&quot;Requester Email: &quot; +{!Requester_Email} &amp;BR()
&amp;&quot;Type of Request: &quot; +{!Type_of_request} &amp;BR()
&amp;&quot;Mobile Device Ownership: &quot; +{!Mobile_Device_Ownership} &amp;BR()
&amp;&quot;Reason for the Replacement: &quot; +{!Reason_for_the_Replacement} &amp;BR()
&amp;&quot;Incident Location: &quot; +{!Incident_Location} &amp;BR()
&amp;&quot;What mobile device are you requesting? &quot; +{!What_mobile_device_are_you_requesting} &amp;BR()
&amp;&quot;Mobile Phone Number: &quot; +{!MobilePhoneNumber.value}</expression>
    </formulas>
    <interviewLabel>MDR Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>MDR Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_for_MDR</name>
        <label>Create Case for MDR</label>
        <locationX>716</locationX>
        <locationY>931</locationY>
        <assignRecordIdToReference>CaseRecordIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>DeviceRequestCheck</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EmployeeUserID.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_MDR_Case_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted for Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>MDR Request</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_IT_MDR</name>
        <label>Create IT MDR</label>
        <locationX>715</locationX>
        <locationY>1478</locationY>
        <assignRecordIdToReference>getMDRRecordDetailsVar</assignRecordIdToReference>
        <connector>
            <targetReference>getMDRName</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_Back_to_Create_Records</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Accept__c</field>
            <value>
                <elementReference>SAFEGUARDING_DOHMH_ITASSETS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Address__c</field>
            <value>
                <elementReference>Fetching_Myuser_Details_From_Employee.Work_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Approval_Status__c</field>
            <value>
                <stringValue>Submitted for Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bureau__c</field>
            <value>
                <elementReference>Fetching_Myuser_Details_From_Employee.Bureau__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Completing_this_request_on_behalf_of__c</field>
            <value>
                <elementReference>I_am_completing_this_request_on_behalf_of1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Division__c</field>
            <value>
                <elementReference>Fetching_Myuser_Details_From_Employee.Division__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employee_Name__c</field>
            <value>
                <elementReference>Fetching_Myuser_Details_From_Employee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incident_Location__c</field>
            <value>
                <elementReference>Incident_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Deivce_Ownership__c</field>
            <value>
                <elementReference>Mobile_Device_Ownership</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile_Phone_Number__c</field>
            <value>
                <elementReference>MobilePhoneNumber.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_a_new_replacement_device__c</field>
            <value>
                <elementReference>Justification_for_a_new_or_replacement_device</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_the_Replacement__c</field>
            <value>
                <elementReference>Reason_for_the_Replacement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case_ID__c</field>
            <value>
                <elementReference>Get_case_Details.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case_URL__c</field>
            <value>
                <elementReference>NewCaseLinkFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester_Email__c</field>
            <value>
                <elementReference>Fetching_Myuser_Details_From_Employee.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requester_Work_Unit__c</field>
            <value>
                <elementReference>Fetching_Myuser_Details_From_Employee.Work_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Select_Your_Divisional_Approver_DC__c</field>
            <value>
                <elementReference>EmployeeUserID.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_Of_Request__c</field>
            <value>
                <elementReference>Type_of_request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>What_mobile_device_are_you_requesting__c</field>
            <value>
                <elementReference>What_mobile_device_are_you_requesting</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Phone__c</field>
            <value>
                <elementReference>Fetching_Myuser_Details_From_Employee.Work_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>IT_Mobile_Device_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>Fetching_Myuser_Details_From_Employee</name>
        <label>Fetching Myuser Details From Employee</label>
        <locationX>716</locationX>
        <locationY>662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mobile_Device_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIdVal</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_case_Details</name>
        <label>Get case Details</label>
        <locationX>716</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_IT_MDR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordIdVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MDR_Case_Record_Type</name>
        <label>Get MDR Case Record Type</label>
        <locationX>904</locationX>
        <locationY>833</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_for_MDR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IT Mobile Service Record Type</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMDRName</name>
        <label>getMDRName</label>
        <locationX>716</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Case_Record_with_MDR_Record_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getMDRRecordDetailsVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IT_Mobile_Device_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>Roll_back_to_Case_Record</name>
        <label>Roll back to Case Record</label>
        <locationX>1112</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Update_Case_Record_Error_Message</targetReference>
        </connector>
    </recordRollbacks>
    <recordRollbacks>
        <name>Roll_Back_to_Create_Records</name>
        <label>Roll Back to Create Records</label>
        <locationX>1376</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>MDR_Record_Insertion_Error</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>Update_Case_Record_with_MDR_Record_ID</name>
        <label>Update Case Record with MDR Record ID</label>
        <locationX>706</locationX>
        <locationY>1875</locationY>
        <connector>
            <targetReference>Next_Approver_Id_Assign</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Roll_back_to_Case_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MDR Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_case_Details.CaseNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>updateRelatedReacordDescriptionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MDR_Reason_for_the_Replacement__c</field>
            <value>
                <elementReference>Reason_for_the_Replacement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MDR_Type_oF_Request__c</field>
            <value>
                <elementReference>getMDRName.Type_Of_Request__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>EmployeeUserID.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>getMDRName.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_URL__c</field>
            <value>
                <elementReference>NewMDRLinkFormula</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Attachements</name>
        <label>Attachements</label>
        <locationX>718</locationX>
        <locationY>1238</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_case_Details</targetReference>
        </connector>
        <fields>
            <name>Attach_Police_Report</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <stringValue>{!$Flow.InterviewGuid}1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseRecordIdVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach DOHMH Police Report</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Incident_Location</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DOHMH_Location</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Attach_Local_and_DOHMH_PoliceReports</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <stringValue>{!$Flow.InterviewGuid}2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attach Local and DOHMH Police Report</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseRecordIdVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Incident_Location</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Non_DOHMH_Location</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>IT_Mobile_Device_Request</name>
        <label>IT Mobile Device Request</label>
        <locationX>718</locationX>
        <locationY>206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_Type_Identifier</targetReference>
        </connector>
        <fields>
            <name>IT_Mobile_Device_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>IT_Mobile_Device_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_am_completing_this_request_on_behalf_of1</name>
                    <choiceReferences>MySelf</choiceReferences>
                    <choiceReferences>Another_User</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>I am completing this request on behalf of:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>EmployeeIdLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>UserId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>I_am_completing_this_request_on_behalf_of1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Another_User</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>IT_Mobile_Device_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>MDR_Record_Insertion_Error</name>
        <label>MDR Record Insertion Error</label>
        <locationX>1376</locationX>
        <locationY>1718</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Back</backButtonLabel>
        <fields>
            <name>MDR_Record_Insert_Error</name>
            <fieldText>&lt;p&gt;We&apos;re sorry, but something went wrong. Please try again.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(234, 15, 15);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mobile_Device_Request</name>
        <label>Mobile Device Request</label>
        <locationX>717</locationX>
        <locationY>786</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Previous</backButtonLabel>
        <connector>
            <targetReference>Get_MDR_Case_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Mobile_Device_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mobile_Device_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employee_Full_Name</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Name: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>GetEmployeeBureaue</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Bureau: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.Bureau__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>GetWorkPhone</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Work Phone: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.WorkPhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RequesterWorkUnit</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Requester Work Unit: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.Work_Unit__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Mobile_Device_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GetEmployeeDivision</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Division: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.Division__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>GetAddress</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Address: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.Work_Address__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RequesterEmail</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Requester Email: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Mobile_Device_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mobile_Device_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Full_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getEmployeeFullName</elementReference>
                    </defaultValue>
                    <fieldText>Full Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>I_am_completing_this_request_on_behalf_of1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Another_User</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Division</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetching_Myuser_Details_From_Employee.Division__c</elementReference>
                    </defaultValue>
                    <fieldText>Division</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bureau</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetching_Myuser_Details_From_Employee.Bureau__c</elementReference>
                    </defaultValue>
                    <fieldText>Bureau</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Address</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetching_Myuser_Details_From_Employee.Work_Address__c</elementReference>
                    </defaultValue>
                    <fieldText>Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Work_Phone</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetching_Myuser_Details_From_Employee.Work_Phone__c</elementReference>
                    </defaultValue>
                    <fieldText>Work Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Requester_Email</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetching_Myuser_Details_From_Employee.Email</elementReference>
                    </defaultValue>
                    <fieldText>Requester Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Requester_Work_Unit</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Fetching_Myuser_Details_From_Employee.Work_Unit__c</elementReference>
                    </defaultValue>
                    <fieldText>Requester Work Unit:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>I_am_completing_this_request_on_behalf_of1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mobile_Device_Request_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mobile_Device_Request_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmployeeUserID</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>UserId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Your Divisional Approver/DC</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Mobile_Device_Ownership</name>
                    <choiceReferences>DOHMH_Device</choiceReferences>
                    <choiceReferences>Bring_Your_Own_Device_BYOD</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Mobile Device Ownership</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Type_of_request</name>
                    <choiceReferences>New</choiceReferences>
                    <choiceReferences>Replacement</choiceReferences>
                    <choiceReferences>Change_in_Features</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of request:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Mobile_Device_Ownership</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>DOHMH_Device</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>What_type_of_phone</name>
                    <choiceReferences>Apple_Phone</choiceReferences>
                    <choiceReferences>Android_Phone</choiceReferences>
                    <choiceReferences>Tablet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What type of phone?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Mobile_Device_Ownership</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Bring_Your_Own_Device_BYOD</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Reason_for_the_Replacement</name>
                    <choiceReferences>Upgrade</choiceReferences>
                    <choiceReferences>Lost</choiceReferences>
                    <choiceReferences>Stolen</choiceReferences>
                    <choiceReferences>Damage</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Reason for the Replacement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_request</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Replacement</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Incident_Location</name>
                    <choiceReferences>DOHMH_Location</choiceReferences>
                    <choiceReferences>Non_DOHMH_Location</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Incident Location:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Reason_for_the_Replacement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Lost</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Reason_for_the_Replacement</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Stolen</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Attach_DOHMH_Police_Report</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Attach DOHMH Police Report</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf, .png, .jpeg</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VarTContentDocumentIds</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Incident_Location</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>DOHMH_Location</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>MySelf</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>null</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Attach_Local_and_DOHMH_Police_Reports</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Attach Local and DOHMH Police Reports</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.pdf, .png, .jpeg</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VarTContentDocumentIds</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Incident_Location</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Non_DOHMH_Location</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>MySelf</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>null</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>What_mobile_device_are_you_requesting</name>
                    <choiceReferences>iPhone_both_Device_Data_Plan</choiceReferences>
                    <choiceReferences>iPAD_Data_plan_only</choiceReferences>
                    <choiceReferences>Samsung_Tablet_Data_Plan_only</choiceReferences>
                    <choiceReferences>CCEWIN</choiceReferences>
                    <choiceReferences>Verizon_Flip_Phone_both_Device_cell_plan</choiceReferences>
                    <choiceReferences>ISP_AirCard_both_device_data_plan</choiceReferences>
                    <choiceReferences>Other</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>What mobile device are you requesting?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_request</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>New</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Type_of_request</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Replacement</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Iphone_data_Plan</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Hardware cost: $199.99. monthly plan: $34.99. MDM cost: $24.40 (Price is subject to change without notice)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>What_mobile_device_are_you_requesting</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>iPhone_both_Device_Data_Plan</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IPDAt_Data_Plan</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Hardware cost: Please use IT Purchase Request. monthly data plan: $39.99. MDM cost: $24.40 (Price is subject to change without notice)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>What_mobile_device_are_you_requesting</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>iPAD_Data_plan_only</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Samsung_Data_Plan</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Hardware cost: Please use IT Purchase Request. monthly data plan: $39.99. MDM cost: $24.40 (Price is subject to change without notice)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>What_mobile_device_are_you_requesting</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Samsung_Tablet_Data_Plan_only</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CCEWIN_Data_Plan</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Hardware cost: $0. monthly plan: $39.99. MDM cost: $0 (Price is subject to change without notice)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>What_mobile_device_are_you_requesting</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CCEWIN</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Verizo_Data_Plan</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Hardware cost: $0. monthly plan: $16.99 w/Push-To-Talk, $14.99 voice, MDM cost: $0 (Price is subject to change without notice)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>What_mobile_device_are_you_requesting</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Verizon_Flip_Phone_both_Device_cell_plan</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>ISP_AirCard_Plan</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Hardware cost: $0. monthly plan: $39.99. MDM cost: $0 (Price is subject to change without notice)&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>What_mobile_device_are_you_requesting</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>ISP_AirCard_both_device_data_plan</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>MobilePhoneNumber</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone Number</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_request</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Replacement</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>What_type_of_phone</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Android_Phone</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>What_type_of_phone</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Apple_Phone</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Mobiel_Phone_Carrier</name>
                    <choiceReferences>Verizon_Wirelesss</choiceReferences>
                    <choiceReferences>AT_T</choiceReferences>
                    <choiceReferences>T_Mobile</choiceReferences>
                    <choiceReferences>Sprint</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Mobiel Phone Carrier</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>What_type_of_phone</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Android_Phone</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>What_type_of_phone</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Apple_Phone</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Phone_Number_that_need_to_change_feature</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Phone Number that need to change feature</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_request</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Change_in_Features</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>IMEI</name>
                    <dataType>String</dataType>
                    <fieldText>IMEI</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_request</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Change_in_Features</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>SIM_CCID</name>
                    <dataType>String</dataType>
                    <fieldText>SIM/CCID</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_request</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Change_in_Features</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Mobile_Device_Request_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Mobile_Device_Request_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mobile_Device_Request_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Justification_for_a_new_or_replacement_device</name>
                    <fieldText>Justification for a new or replacement device:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Type_of_request</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Mobile_Device_Request_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Mobile_Device_Request_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mobile_Device_Request_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BYOD_Policies</name>
                    <dataType>Boolean</dataType>
                    <fieldText>* I Agree to the terms and conditions</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(241, 10, 10);&quot;&gt;Please accept the terms to proceed&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!BYOD_Policies}=TRUE,TRUE,FALSE)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Mobile_Device_Ownership</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Bring_Your_Own_Device_BYOD</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BYOD_Policies_Link</name>
                    <extensionName>c:displayHTML</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>htmlContent</name>
                        <value>
                            <stringValue>&lt;a href=&quot;https://dohmhempexp--dohmhdev1--c.visualforce.com/resource/1652735395000/BYODPolicyandProcedure?&quot; target=&quot;_blank&quot;&gt; BYOD Policy&lt;/a&gt;</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Mobile_Device_Request_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Mobile_Device_Ownership</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Bring_Your_Own_Device_BYOD</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mobile_Device_Request_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mobile_Device_Request_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SAFEGUARDING_DOHMH_ITASSETS</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>VariableforSafeguardingITassets</elementReference>
                    </defaultValue>
                    <fieldText>* I Agree to the terms and conditions</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(235, 8, 8); background-color: rgb(255, 255, 255);&quot;&gt;Please accept the terms to proceed&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>IF({!SAFEGUARDING_DOHMH_ITASSETS}=TRUE,TRUE,FALSE)</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Mobile_Device_Ownership</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>DOHMH_Device</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>DOHMH_Assets_Policy</name>
                    <extensionName>c:displayHTML</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>htmlContent</name>
                        <value>
                            <stringValue>&lt;a href=&quot;https://dohmhempexp--dohmhdev1--c.visualforce.com/resource/1652735312000/SafeguardAgencyITAssets?&quot; target=&quot;_blank&quot;&gt; Safeguarding DOHMH IT Assets&lt;/a&gt;</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Mobile_Device_Request_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Mobile_Device_Ownership</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>DOHMH_Device</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Update_Case_Record_Error_Message</name>
        <label>Update Case Record Error Message</label>
        <locationX>1112</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UpdateCaseRecordError</name>
            <fieldText>&lt;p&gt;We&apos;re sorry, but something went wrong. Please try again.&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(237, 7, 7);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>590</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>IT_Mobile_Device_Request</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseRecordIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Fetching_Myuser_Details_From_Employee.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>getMDRRecordDetailsVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetMySelfEmployeeDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <name>MyUserRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextApproverACDCId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextApproverIdVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIdVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VariableforSafeguardingITassets</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarTContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
