force-app/main/default/flows/MDR_Record_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assigning_User_ID</name>
        <label>Assigning User ID</label>
        <locationX>530</locationX>
        <locationY>562</locationY>
        <assignmentItems>
            <assignToReference>MyselfOrAnotherIdVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getEmployeeRecord</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Another_User</name>
        <choiceText>Another User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another User</stringValue>
        </value>
    </choices>
    <choices>
        <name>MySelf</name>
        <choiceText>MySelf</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MySelf</stringValue>
        </value>
    </choices>
    <decisions>
        <name>CheckforMyselfOrAnother</name>
        <label>Check for Myself Or AnotherUser</label>
        <locationX>524</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Assigning_User_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Another_User_MDR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_am_completing_this_request_on_behalf_of</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Another_User</elementReference>
                </rightValue>
            </conditions>
            <label>Another User</label>
        </rules>
    </decisions>
    <formulas>
        <name>getEmployeeName</name>
        <dataType>String</dataType>
        <expression>CASE(IF(ISPICKVAL({!I_am_completing_this_request_on_behalf_of}, &quot;Myself&quot;), &quot;Employee.Name&quot;))</expression>
    </formulas>
    <interviewLabel>MDR Record Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MDR Record Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getEmployeeRecord</name>
        <label>getEmployeeRecord</label>
        <locationX>710</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Mobile_Device_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MyselfOrAnotherIdVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Mobile_Device_Request</name>
        <label>New Mobile Device Request</label>
        <locationX>545</locationX>
        <locationY>213</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>CheckforMyselfOrAnother</targetReference>
        </connector>
        <fields>
            <name>New_Mobile_Device_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Mobile_Device_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_am_completing_this_request_on_behalf_of</name>
                    <choiceReferences>MySelf</choiceReferences>
                    <choiceReferences>Another_User</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>I am completing this request on behalf of:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>EmployeeNameAnother</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>UserId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Employee Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>I_am_completing_this_request_on_behalf_of</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Another_User</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>EmployeeNameMyself</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>UserId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Employee Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>$User.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>I_am_completing_this_request_on_behalf_of</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>MySelf</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Division</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getEmployeeRecord.Division__c</elementReference>
                    </defaultValue>
                    <fieldText>Division</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>412</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>New_Mobile_Device_Request</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>EmployeeNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MyselfOrAnotherIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
