force-app/main/default/flows/MHY_ATDTS_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FW_Email_Action</name>
        <label>FW Email Action</label>
        <locationX>1304</locationX>
        <locationY>1430</locationY>
        <actionName>Case.FW_Default_Request_Update</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Back_to_Division</name>
        <choiceText>Back to Division</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Back to Division</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel</name>
        <choiceText>Cancel</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancel_Request</name>
        <choiceText>Cancel Request</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancel Request</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reassign</name>
        <choiceText>Reassign</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reassign</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <choices>
        <name>Requester_Review</name>
        <choiceText>Requester Review</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Requester Review</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_Again</name>
        <choiceText>Submit Again</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit Again</stringValue>
        </value>
    </choices>
    <choices>
        <name>Submit_To_Print</name>
        <choiceText>Submit To Print</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Submit To Print</stringValue>
        </value>
    </choices>
    <decisions>
        <name>APP_Current_Status</name>
        <label>APP Current Status</label>
        <locationX>1304</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Empty_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_New</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_In_Progress</targetReference>
            </connector>
            <label>In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Division_Approval</name>
        <label>Decision Division Approval</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Division_Approval_Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Approve_new</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>Division_Approval_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reject</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Rejected</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
        <rules>
            <name>Division_Approval_Reassign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActionNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Reassign</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Reassignment_Approval</targetReference>
            </connector>
            <label>Reassign</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_Print_Shop_Task</name>
        <label>Decision Print Shop Task</label>
        <locationX>1502</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InprogressApprove</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Inprogress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Approve</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Completed</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>Print_Shop_Task_Cancel_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Inprogress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Cancel_Request</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Print_Shop_Cancelled</targetReference>
            </connector>
            <label>Cancel_Request</label>
        </rules>
        <rules>
            <name>Print_Shop_Task_Back_To_Division</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Action_Inprogress</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Back_to_Division</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Completed</targetReference>
            </connector>
            <label>Back To Division</label>
        </rules>
    </decisions>
    <decisions>
        <name>FW_IsCaseOwner_Decision</name>
        <label>FW_IsCaseOwner_Decision</label>
        <locationX>1865</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Empty_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FW_IsCaseOwner.ReturnValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FW_Get_Status</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>dasdasd</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Comments1n2</name>
        <dataType>String</dataType>
        <expression>{!Comments1}&amp; &quot;&quot; &amp;{!Comments2}</expression>
    </formulas>
    <formulas>
        <name>Comments3n4</name>
        <dataType>String</dataType>
        <expression>{!Comments3}&amp; &quot;&quot; &amp;{!Comments4}</expression>
    </formulas>
    <interviewLabel>ADM BCR Action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MHY ATDTS Action</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>FW_Get_Status</name>
        <label>FW Get Status</label>
        <locationX>1304</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APP_Current_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>Status</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Approve_new</name>
        <label>Approve_new</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Approval_History_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Completed</name>
        <label>Completed</label>
        <locationX>1106</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Approval_History_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Completed</name>
        <label>Copy 1 of Completed</label>
        <locationX>1634</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0058y000001ORmY</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Division Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>New_Rejected</name>
        <label>New Rejected</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Approval_History_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Print_Shop_Cancelled</name>
        <label>Print Shop Cancelled</label>
        <locationX>1370</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Approval_History_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Task_Reassignment_Approval</name>
        <label>Task Reassignment Approval</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Approval_History_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Action_Comments__c</field>
            <value>
                <elementReference>Comments2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>ReassignUser.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Empty_Screen</name>
        <label>Empty Screen</label>
        <locationX>2162</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_In_Progress</name>
        <label>Screen In Progress</label>
        <locationX>1502</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Print_Shop_Task</targetReference>
        </connector>
        <fields>
            <name>status1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Action Required - In progress&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_In_Progress_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_In_Progress_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Action_Inprogress</name>
                    <choiceReferences>Approve</choiceReferences>
                    <choiceReferences>Cancel_Request</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Comments3</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Action_Inprogress</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Submit_To_Print</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Comments4</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Action_Inprogress</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Cancel_Request</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_In_Progress_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_In_Progress_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_In_Progress_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_New</name>
        <label>Screen New</label>
        <locationX>446</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_Division_Approval</targetReference>
        </connector>
        <fields>
            <name>status2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;Action Required - New&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_New_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_New_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ActionNew</name>
                    <choiceReferences>Approve</choiceReferences>
                    <choiceReferences>Reject</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Action</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Comments1</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ActionNew</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Approve</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Comments2</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>ActionNew</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Reject</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ActionNew</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Reassign</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_New_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ReassignUser</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>LastModifiedById</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Pick a user</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ActionNew</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Reassign</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_New_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_New_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1739</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>FW_IsCaseOwner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Approval_History_1</name>
        <label>Approval History 1</label>
        <locationX>446</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>FW_Email_Action</targetReference>
        </connector>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>ActionNew</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Comments</name>
            <value>
                <elementReference>Comments1n2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Approval_History_2</name>
        <label>Approval History 2</label>
        <locationX>1502</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>FW_Email_Action</targetReference>
        </connector>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Action_Inprogress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Comments</name>
            <value>
                <elementReference>Comments3n4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FW_IsCaseOwner</name>
        <label>FW_IsCaseOwner</label>
        <locationX>1865</locationX>
        <locationY>158</locationY>
        <connector>
            <targetReference>FW_IsCaseOwner_Decision</targetReference>
        </connector>
        <flowName>FW_IsCaseOwner</flowName>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
