force-app/main/default/flows/MHY_ATDTS_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FW_Email_Action</name>
        <label>FW Email Action</label>
        <locationX>771</locationX>
        <locationY>1154</locationY>
        <actionName>Case.FW_Default_Request_Update</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FW_Case_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FW_Create_Case_V2.Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FW_Email_Requester</name>
        <label>FW Email Requester</label>
        <locationX>766</locationX>
        <locationY>1040</locationY>
        <actionName>Case.FW_Default_Request_Submitted</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>FW_Email_Action</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>FW_Create_Case_V2.Case.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FW_Navigate_to_Case_Record</name>
        <label>FW Navigate to Case Record</label>
        <locationX>770</locationX>
        <locationY>1406</locationY>
        <actionName>c:navigateTo</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navigateto</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>APP_ApplicationURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <dynamicChoiceSets>
        <name>ActivationStatusChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ATDTS_ActivationStatus__c</picklistField>
        <picklistObject>MHY__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>APP_CaseDescription</name>
        <dataType>String</dataType>
        <expression>&quot;Device Name: &quot; +{!DeviceName}&amp;BR()</expression>
    </formulas>
    <interviewLabel>Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MHY ATDTS Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>APP_Create_Record_In_Custom_App_Object</name>
        <label>APP Create Record In Custom App Object</label>
        <locationX>774</locationX>
        <locationY>665</locationY>
        <connector>
            <targetReference>APP_Update_Related_Case_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FW_Rollback_AfterCaseUpdate</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>APP_Record__c</field>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATDTS_ActivationStatus__c</field>
            <value>
                <elementReference>ActivationStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATDTS_DeviceId__c</field>
            <value>
                <elementReference>DeviceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ATDTS_DeviceName__c</field>
            <value>
                <elementReference>DeviceName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FW_Create_Case_V2.Case.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case_ID__c</field>
            <value>
                <elementReference>FW_Create_Case_V2.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>MHY__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordRollbacks>
        <name>FW_Rollback_AfterCaseUpdate</name>
        <label>FW_Rollback_AfterCaseUpdate</label>
        <locationX>1040</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>FW_Rollback_Confirmation</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>APP_Update_Related_Case_Record</name>
        <label>APP_Update Related Case Record</label>
        <locationX>774</locationX>
        <locationY>808</locationY>
        <connector>
            <targetReference>FW_Approval_History</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FW_Rollback_AfterCaseUpdate</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Create_Case_V2.Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>APP_Request</name>
        <label>APP_Request</label>
        <locationX>769</locationX>
        <locationY>356</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Create_Case_V2</targetReference>
        </connector>
        <fields>
            <name>APP_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_OnBehalfOf_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Requester &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Name:&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!FW_OnBehalfOf.Employee.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Email</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!FW_OnBehalfOf.Employee.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_WorkPhone</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Work Phone: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.WorkPhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Address</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Address: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Address__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_Space</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Division</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Division: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Division__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Bureau</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Bureau: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Bureau__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Unit</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Work Unit: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Unit__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ActivationStatus</name>
            <choiceReferences>ActivationStatusChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>ActivationStatus</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DeviceId</name>
            <dataType>String</dataType>
            <fieldText>DeviceId</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DeviceName</name>
            <dataType>String</dataType>
            <fieldText>DeviceName</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Case_Confirmation</name>
        <label>FW Case Confirmation</label>
        <locationX>774</locationX>
        <locationY>1287</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Navigate_to_Case_Record</targetReference>
        </connector>
        <fields>
            <name>FW_Case_Confirmation_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Your case # {!FW_Create_Case_V2.Case.Reference_Number__c} has been created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go to Case Record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Rollback_Confirmation</name>
        <label>FW_Rollback_Confirmation</label>
        <locationX>1040</locationX>
        <locationY>1166</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FW_Rollback_Confirmation_Message</name>
            <fieldText>&lt;p&gt;An error has occurred. The system admins have been notified of the error.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FW_OnBehalfOf</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>FW_Approval_History</name>
        <label>FW Approval History</label>
        <locationX>773</locationX>
        <locationY>925</locationY>
        <connector>
            <targetReference>FW_Email_Requester</targetReference>
        </connector>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>FW_Create_Case_V2.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>FW_Create_Case_V2</name>
        <label>FW Create Case V2</label>
        <locationX>774</locationX>
        <locationY>504</locationY>
        <connector>
            <targetReference>APP_Create_Record_In_Custom_App_Object</targetReference>
        </connector>
        <flowName>FW_Create_Case_V2</flowName>
        <inputAssignments>
            <name>APP_Application_type</name>
            <value>
                <elementReference>APP_Application_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_CaseDescription</name>
            <value>
                <elementReference>APP_CaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Origin</name>
            <value>
                <elementReference>APP_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Record</name>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_RecordType</name>
            <value>
                <elementReference>APP_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Related_Object</name>
            <value>
                <elementReference>APP_Related_Object</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Requester</name>
            <value>
                <elementReference>FW_OnBehalfOf.Employee.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FW_OnBehalfOf</name>
        <label>FW OnBehalfOf</label>
        <locationX>770</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>APP_Request</targetReference>
        </connector>
        <flowName>FW_On_Behalf_Of</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>APP_Application_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Assistive Technology Devices Tracking System</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApplicationURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>assistive-technology-devices-tracking-system</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>eForm</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>ATDTS</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Assistive Technology Devices Tracking System</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Related_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>MHY</stringValue>
        </value>
    </variables>
</Flow>
