force-app/main/default/flows/OEA_WCR_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FW_Navigate_to_Case_Record</name>
        <label>FW Navigate to Case Record</label>
        <locationX>1096</locationX>
        <locationY>926</locationY>
        <actionName>c:navigateTo</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navigateto</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>APP_ApplicationURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FW_Submit_for_Approval</name>
        <label>FW_Submit for Approval</label>
        <locationX>1099</locationX>
        <locationY>714</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>FW_Case_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>APP_Approval_Process</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>FW_Another_User</name>
        <choiceText>Another User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another User</stringValue>
        </value>
    </choices>
    <choices>
        <name>FW_MySelf</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MySelf</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>HasParentCase</name>
        <label>HasParentCase</label>
        <locationX>934</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>APP_Create_Record_In_Custom_App_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHasParentCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APP_ParentCase</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>UpdateParentCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DivisionLiaisonPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WCR_DivisionLiaisonFullName__c</picklistField>
        <picklistObject>OEA__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PicklistWebPageLocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>WCR_WebPageLocation__c</picklistField>
        <picklistObject>OEA__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PublicationTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PublicationType__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ThisActivityOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PriorApprovalReceived__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>APP_CustomApp_RecordData_To_CaseDescriptionSummary</name>
        <dataType>String</dataType>
        <expression>&quot;Is the requester a division liaison?: &quot; +{!IsLiaison} &amp;BR()
&amp;&quot;Select your division liaison:: &quot; +{!Division_Liaison} &amp;BR()
&amp;&quot;Specify where you intend to get the web page: &quot; +{!Specify_where_you_intend_to_get_the_web_page} &amp;BR()
&amp;&quot;Permanent Request: &quot; +IF(!{!Permanent_Request}, &quot;Yes&quot;,&quot;No&quot;) &amp;BR()
&amp;&quot;Request End Date: &quot; +TEXT({!Request_End_Date}) &amp;BR()
&amp;&quot;Please specify if the request needs an update in 311 scripts?: &quot; +IF(!{!Please_specify_if_the_request_needs_an_update_in_311_scripts}, &quot;Yes&quot;,&quot;No&quot;)  &amp;BR()
&amp;&quot;Request Description: &quot; +{!Request_Description} &amp;BR()</expression>
    </formulas>
    <interviewLabel>OEA Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OEA WCR Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>APP_Create_Record_In_Custom_App_Object</name>
        <label>APP Create Record In Custom App Object</label>
        <locationX>1095</locationX>
        <locationY>602</locationY>
        <assignRecordIdToReference>FW_CustomAppObjectRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>FW_Submit_for_Approval</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FW_Rollback_AfterCaseUpdate</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>APP_Record__c</field>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FW_Create_Case.Case.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case_ID__c</field>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WCR_DivisionLiaisonFullName__c</field>
            <value>
                <elementReference>Division_Liaison</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WCR_IsLiaison__c</field>
            <value>
                <elementReference>IsLiaison</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WCR_RequestDesc__c</field>
            <value>
                <elementReference>Request_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WCR_Update311__c</field>
            <value>
                <elementReference>Please_specify_if_the_request_needs_an_update_in_311_scripts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WCR_WCREndDate__c</field>
            <value>
                <elementReference>Request_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WCR_WCRPermanent__c</field>
            <value>
                <elementReference>Permanent_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WCR_WebPageLocation__c</field>
            <value>
                <elementReference>PicklistWebPageLocation</elementReference>
            </value>
        </inputAssignments>
        <object>OEA__c</object>
    </recordCreates>
    <recordRollbacks>
        <name>FW_Rollback_AfterCaseUpdate</name>
        <label>FW_Rollback_AfterCaseUpdate</label>
        <locationX>1360</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>FW_Rollback_Confirmation</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>UpdateParentCase</name>
        <label>UpdateParentCase</label>
        <locationX>801</locationX>
        <locationY>592</locationY>
        <connector>
            <targetReference>APP_Create_Record_In_Custom_App_Object</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>APP_ParentCase</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>APP_Request</name>
        <label>APP_Request</label>
        <locationX>1096</locationX>
        <locationY>326</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Create_Case</targetReference>
        </connector>
        <fields>
            <name>APP_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_OnBehalfOf_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Requester Name:&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Email</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_WorkPhone</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Work Phone: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.WorkPhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Address</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Address: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Address__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>space</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Division</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Division: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Division__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Bureau</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Bureau: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Bureau__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Unit</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Work Unit: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Unit__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>APP_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>IsLiaison</name>
                    <choiceReferences>No</choiceReferences>
                    <choiceReferences>Yes</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
                    <fieldText>Is the requester a division liaison?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Division_Liaison</name>
                    <choiceReferences>DivisionLiaisonPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Division Liaison</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Specify_where_you_intend_to_get_the_web_page</name>
                    <choiceReferences>PicklistWebPageLocation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Specify where you intend to get the web page:</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Permanent_Request</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Permanent Request?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Request_End_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Request End Date:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Please_specify_if_the_request_needs_an_update_in_311_scripts</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Please specify if the request needs an update in 311 scripts?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Request_Description</name>
            <fieldText>Request Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Case_Confirmation</name>
        <label>FW Case Confirmation</label>
        <locationX>1096</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Navigate_to_Case_Record</targetReference>
        </connector>
        <fields>
            <name>FW_Case_Confirmation_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Your case # {!FW_Create_Case.Case.Reference_Number__c} has been created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go to Case Record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Rollback_Confirmation</name>
        <label>FW_Rollback_Confirmation</label>
        <locationX>1360</locationX>
        <locationY>806</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FW_Rollback_Confirmation_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;An error has occurred. The system admins have been notified of the error.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FW_OnBehalfOf</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>FW_Create_Case</name>
        <label>FW_Create_Case</label>
        <locationX>1101</locationX>
        <locationY>412</locationY>
        <connector>
            <targetReference>HasParentCase</targetReference>
        </connector>
        <flowName>FW_Create_Case</flowName>
        <inputAssignments>
            <name>APP_Application_type</name>
            <value>
                <elementReference>APP_Application_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Initial_Assigned_Group</name>
            <value>
                <elementReference>APP_Initial_Assigned_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Origin</name>
            <value>
                <elementReference>APP_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Record</name>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_RecordType</name>
            <value>
                <elementReference>APP_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Related_Object</name>
            <value>
                <elementReference>APP_Related_Object</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Requester</name>
            <value>
                <elementReference>FW_OnBehalfOf.Employee.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FW_ForCaseDescription</name>
            <value>
                <elementReference>APP_CustomApp_RecordData_To_CaseDescriptionSummary</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FW_OnBehalfOf</name>
        <label>FW_OnBehalfOf</label>
        <locationX>1096</locationX>
        <locationY>206</locationY>
        <connector>
            <targetReference>APP_Request</targetReference>
        </connector>
        <flowName>FW_On_Behalf_Of</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>APP_Application_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Webpage Change Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApplicationURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>webpage-change-request</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Approval_Process</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Webpage_Change_Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApprovalProcess_FirstStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Submitted for Approval</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Initial_Assigned_Group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_EE_Default_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_IsAttachmentRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>APP_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>eForm</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ParentCase</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>APP_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>WCR</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Application Default</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Related_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OEA</stringValue>
        </value>
    </variables>
    <variables>
        <name>FW_CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FW_CustomAppObjectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FW_ForCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>APP_CustomApp_RecordData_To_CaseDescriptionSummary</elementReference>
        </value>
    </variables>
    <variables>
        <name>FW_UserIdVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
