force-app/main/default/flows/OEA_CPR_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FW_Navigate_to_Case_Record</name>
        <label>FW Navigate to Case Record</label>
        <locationX>1239</locationX>
        <locationY>1530</locationY>
        <actionName>c:navigateTo</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navigateto</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <stringValue>communication-project-request</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FW_Submit_for_Approval</name>
        <label>FW_Submit for Approval</label>
        <locationX>1044</locationX>
        <locationY>1271</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>APP_Approval_Process</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Add_Loop_Data</name>
        <label>Add Loop Data</label>
        <locationX>660</locationX>
        <locationY>1136</locationY>
        <assignmentItems>
            <assignToReference>FundingSourceList_Final</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Funding_Source</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Funding_Source</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>APP_Store_Request_Data</name>
        <label>APP Store Request Data</label>
        <locationX>1094</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>APP_RequestData.CPR_ProjectName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APP_RequestData.CPR_ProjectType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Request_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APP_RequestData.CPR_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goal_of_Project_Request</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APP_RequestData.CPR_TargetAudience__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Target_Audience</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APP_RequestData.CPR_AreAllStakeholdersReviewed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Have_all_stakeholders_reviewed</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APP_RequestData.CPR_AreDraftsReady__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Are_the_drafts_ready</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APP_RequestData.CPR_DeadlineDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Deadline</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APP_RequestData.CPR_IsDeadlineFlexible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_the_deadline_flexible</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Buttons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Funding_Source</name>
        <label>Assign Funding Source</label>
        <locationX>690</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Loop_Funding_Source.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Funding_Source.OEA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>APP_Get_App_Record_Details.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Funding_Source.Reference_Number_Parent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FW_Create_Case.Case.Reference_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Loop_Data</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Buttons</name>
        <label>Buttons</label>
        <locationX>1087</locationX>
        <locationY>584</locationY>
        <defaultConnector>
            <targetReference>FW_Create_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Edit_Funding_Source</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btn_FundingSource.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit Funding Source</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPR_Funding_Source</targetReference>
            </connector>
            <label>Edit Funding Source</label>
        </rules>
    </decisions>
    <decisions>
        <name>FW_Add_Attachment</name>
        <label>FW_Add_Attachment</label>
        <locationX>1249</locationX>
        <locationY>1015</locationY>
        <defaultConnector>
            <targetReference>FW_Case_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FW_Add_Attachment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APP_AddAttachment</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FW_Attachment</targetReference>
            </connector>
            <label>FW Add Attachment Outcome</label>
        </rules>
    </decisions>
    <description>Move create case to the end
Remove Submit for approval</description>
    <dynamicChoiceSets>
        <name>OptionProjectType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CPR_ProjectType__c</picklistField>
        <picklistObject>OEA__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PublicationTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PublicationType__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ThisActivityOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PriorApprovalReceived__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>APP_CustomApp_RecordData_To_CaseDescriptionSummary</name>
        <dataType>String</dataType>
        <expression>&quot;Project Name: &quot; +{!Project_Name} &amp;BR()
&amp;&quot;Project Request Type: &quot; +{!Project_Request_Type} &amp;BR()
&amp;&quot;Goal of Project Request: &quot; +{!Goal_of_Project_Request} &amp;BR()
&amp;&quot;Target Audience: &quot; +{!Target_Audience} &amp;BR()
&amp;&quot;Have all stakeholders reviewed?: &quot; +{!Have_all_stakeholders_reviewed} &amp;BR()
&amp;&quot;Are the drafts ready?: &quot; +{!Are_the_drafts_ready} &amp;BR()
&amp;&quot;Deadline: &quot; +TEXT({!Deadline}) &amp;BR()
&amp;&quot;Is the deadline flexible?: &quot; +{!Is_the_deadline_flexible} &amp;BR()</expression>
    </formulas>
    <interviewLabel>ADM BCR Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OEA CPR Screen Flow</label>
    <loops>
        <name>Loop_Funding_Source</name>
        <label>Loop Funding Source</label>
        <locationX>834</locationX>
        <locationY>999</locationY>
        <collectionReference>FundingSourceList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Funding_Source</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>APP_Create_Funding_Source</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>APP_Create_Funding_Source</name>
        <label>APP Create Funding Source</label>
        <locationX>960</locationX>
        <locationY>1163</locationY>
        <inputReference>FundingSourceList_Final</inputReference>
    </recordCreates>
    <recordCreates>
        <name>APP_Create_Record_In_Custom_App_Object</name>
        <label>APP Create Record In Custom App Object</label>
        <locationX>1259</locationX>
        <locationY>693</locationY>
        <assignRecordIdToReference>FW_CustomAppObjectRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Funding_Source_Save_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FW_Rollback_AfterCaseUpdate</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>APP_Record__c</field>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_AreAllStakeholdersReviewed__c</field>
            <value>
                <elementReference>Have_all_stakeholders_reviewed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_AreDraftsReady__c</field>
            <value>
                <elementReference>Are_the_drafts_ready</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_DeadlineDate__c</field>
            <value>
                <elementReference>Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_Goal__c</field>
            <value>
                <elementReference>Goal_of_Project_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_IsDeadlineFlexible__c</field>
            <value>
                <elementReference>Is_the_deadline_flexible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_ProjectName__c</field>
            <value>
                <elementReference>Project_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_ProjectType__c</field>
            <value>
                <elementReference>Project_Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_TargetAudience__c</field>
            <value>
                <elementReference>Target_Audience</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FW_Create_Case.Case.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case_ID__c</field>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>OEA__c</object>
    </recordCreates>
    <recordDeletes>
        <name>FW_DeleteCaseRecord</name>
        <label>FW_DeleteCaseRecord</label>
        <locationX>1706</locationX>
        <locationY>718</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <name>APP_Get_App_Record_Details</name>
        <label>APP_Get App Record Details</label>
        <locationX>946</locationX>
        <locationY>819</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APP_Update_Related_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_CustomAppObjectRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OEA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>FW_Rollback_AfterCaseUpdate</name>
        <label>FW_Rollback_AfterCaseUpdate</label>
        <locationX>1568</locationX>
        <locationY>819</locationY>
        <connector>
            <targetReference>FW_Rollback_Confirmation</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>APP_Update_Related_Case_Record</name>
        <label>APP_Update Related Case Record</label>
        <locationX>943</locationX>
        <locationY>943</locationY>
        <connector>
            <targetReference>Loop_Funding_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Create_Case.Case.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FW_ForCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>APP_Request</name>
        <label>APP_Request</label>
        <locationX>1094</locationX>
        <locationY>307</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>APP_Store_Request_Data</targetReference>
        </connector>
        <fields>
            <name>APP_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_OnBehalfOf_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Requester Name:&amp;nbsp;&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Email</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Email: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_WorkPhone</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Work Phone: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.WorkPhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Address</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Address: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Address__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_Space</name>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Division</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Division: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Division__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Bureau</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Bureau: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!FW_OnBehalfOf.Employee.Bureau__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_OnBehalfOf_Work_Unit</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Work Unit: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!FW_OnBehalfOf.Employee.Work_Unit__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>msg</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(51, 51, 51);&quot;&gt;Before submitting a request, please refer to the&amp;nbsp;&lt;/strong&gt;&lt;a href=&quot;https://nycdohmh.sharepoint.com/sites/pol2/Pages/Comms-Style-Guidelines.aspx&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(23, 113, 183);&quot;&gt;&lt;strong&gt;Communications Guidelines&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;for information about standard practices and timelines for each of the sections below. New projects include requests to review, design, translate or print a new publication. Note: CPRs for projects due by 6/30 must be submitted no later than 1/15. Please also review the&amp;nbsp;&lt;/strong&gt;&lt;a href=&quot;https://nycdohmh.sharepoint.com/sites/HE/TCE/irp/SitePages/Home.aspx?RootFolder=%2Fsites%2FHE%2FTCE%2Firp%2FShared%20Documents%2FRace%20to%20Justice%20Action%20Tool%20Kit&amp;amp;FolderCTID=0x0120000B7D6FE0C7CE3A479C7812C12B9CFF59&amp;amp;View=%7BC46C6D48%2D95B8%2D44F6%2DBB7E%2DCF9BB850D8BE%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(23, 113, 183);&quot;&gt;&lt;strong&gt;Race to Justice Action Kit&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: &amp;quot;Helvetica Neue&amp;quot;, Helvetica, Arial, sans-serif; color: rgb(51, 51, 51);&quot;&gt;&amp;nbsp;for resources on how to incorporate racial equity and social justice principles while planning communications materials.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>APP_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>APP_RequestData.CPR_ProjectName__c</elementReference>
                    </defaultValue>
                    <fieldText>Project Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Project_Request_Type</name>
                    <choiceReferences>OptionProjectType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>APP_RequestData.CPR_ProjectType__c</elementReference>
                    </defaultValue>
                    <fieldText>Project Request Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Goal_of_Project_Request</name>
                    <defaultValue>
                        <stringValue>{!APP_RequestData.CPR_Goal__c}</stringValue>
                    </defaultValue>
                    <fieldText>Goal of Project Request</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Target_Audience</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>APP_RequestData.CPR_TargetAudience__c</elementReference>
                    </defaultValue>
                    <fieldText>Target Audience (e.g. Neighborhoods, providers, etc.)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Have_all_stakeholders_reviewed</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>APP_RequestData.CPR_AreAllStakeholdersReviewed__c</elementReference>
                    </defaultValue>
                    <fieldText>Have all stakeholders reviewed?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Are_the_drafts_ready</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>APP_RequestData.CPR_AreDraftsReady__c</elementReference>
                    </defaultValue>
                    <fieldText>Are the drafts ready?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_this_related_to_any_existing_materials_or_past_projects</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is this related to any existing materials or past projects? If so, please specify</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Deadline</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>APP_RequestData.CPR_DeadlineDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Deadline</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_the_deadline_flexible</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>APP_RequestData.CPR_IsDeadlineFlexible__c</elementReference>
                    </defaultValue>
                    <fieldText>Is the deadline flexible?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FundingSource</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OEA_CPR_OneToMany__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Funding Source</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>FundingSourceList</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FundingSource__c&quot;,&quot;guid&quot;:&quot;column-e0ec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Funding Source&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;FundingSource&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FundingDesign__c&quot;,&quot;guid&quot;:&quot;column-89eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Design&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;FundingDesign&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingMailing__c&quot;,&quot;guid&quot;:&quot;column-9d15&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Mailing&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;FundingMailing&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingPrinting__c&quot;,&quot;guid&quot;:&quot;column-6b2b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Printing&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;FundingPrinting&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingStorage__c&quot;,&quot;guid&quot;:&quot;column-6b83&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Storage&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;FundingStorage&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingAmount__c&quot;,&quot;guid&quot;:&quot;column-d1ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Funding Amount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;FundingAmount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;IsFundingFlexible__c&quot;,&quot;guid&quot;:&quot;column-71b3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Is Funding Flexible&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;IsFundingFlexible&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingDeadline__c&quot;,&quot;guid&quot;:&quot;column-5e09&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Funding Deadline&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;FundingDeadline&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>APP_Request_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>btn_FundingSource</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Edit Funding Source&quot;,&quot;value&quot;:&quot;Edit Funding Source&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Attachment</name>
        <label>FW_Attachment</label>
        <locationX>1463</locationX>
        <locationY>1113</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Case_Confirmation</targetReference>
        </connector>
        <fields>
            <name>FW_Attachment_Component1</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FW_Create_Case.Case.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attachments</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Case_Confirmation</name>
        <label>FW Case Confirmation</label>
        <locationX>1243</locationX>
        <locationY>1400</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Navigate_to_Case_Record</targetReference>
        </connector>
        <fields>
            <name>FW_Case_Confirmation_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Your case # {!FW_Create_Case.Case.Reference_Number__c} has been created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go to Case Record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Rollback_Confirmation</name>
        <label>FW_Rollback_Confirmation</label>
        <locationX>1850</locationX>
        <locationY>1011</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FW_Rollback_Confirmation_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, system-ui, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Web&amp;quot;, sans-serif;&quot;&gt;An error has occurred. The system admins have&amp;nbsp;been notified of the error.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FW_OnBehalfOf</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>CPR_Funding_Source</name>
        <label>CPR Funding Source</label>
        <locationX>839</locationX>
        <locationY>508</locationY>
        <connector>
            <targetReference>APP_Request</targetReference>
        </connector>
        <flowName>CPR_Funding_Source</flowName>
        <inputAssignments>
            <name>APP_OneToMany_For_Case_Description</name>
            <value>
                <elementReference>APP_OneToMany_For_Case_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FundingSourceList</name>
            <value>
                <elementReference>FundingSourceList</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>FundingSourceList</assignToReference>
            <name>FundingSourceList</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Funding_Source_Save_Data</name>
        <label>Funding Source Save Data</label>
        <locationX>1259</locationX>
        <locationY>846</locationY>
        <connector>
            <targetReference>FW_Add_Attachment</targetReference>
        </connector>
        <flowName>CPR_Funding_Source</flowName>
        <inputAssignments>
            <name>FundingSourceList</name>
            <value>
                <elementReference>FundingSourceList</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FW_IsSave</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FW_ReferemceNumber</name>
            <value>
                <elementReference>FW_Create_Case.Case.Reference_Number__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FW_Create_Case</name>
        <label>FW_Create_Case</label>
        <locationX>1261</locationX>
        <locationY>583</locationY>
        <connector>
            <targetReference>APP_Create_Record_In_Custom_App_Object</targetReference>
        </connector>
        <flowName>FW_Create_Case</flowName>
        <inputAssignments>
            <name>APP_Application_type</name>
            <value>
                <elementReference>APP_Application_type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_ApprovalProcess_FirstStatus</name>
            <value>
                <elementReference>APP_ApprovalProcess_FirstStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Initial_Assigned_Group</name>
            <value>
                <elementReference>APP_Initial_Assigned_Group</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Origin</name>
            <value>
                <elementReference>APP_Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Record</name>
            <value>
                <elementReference>APP_Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_RecordType</name>
            <value>
                <elementReference>APP_RecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APP_Related_Object</name>
            <value>
                <elementReference>APP_Related_Object</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FW_ForCaseDescription</name>
            <value>
                <elementReference>FW_ForCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>FW_OnBehalfOf</name>
        <label>FW OnBehalfOf</label>
        <locationX>1096</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>APP_Request</targetReference>
        </connector>
        <flowName>FW_On_Behalf_Of</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>APP_AddAttachment</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>APP_Application_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Communications Project Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApplicationURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>/communications-project-request</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Approval_Process</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_EE_Default_Approval_Process</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApprovalProcess_FirstStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Submitted for Approval</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Initial_Assigned_Group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_EE_Default_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <description>Concatenation One To Many Rows for Case Description</description>
        <name>APP_OneToMany_For_Case_Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>APP_Origin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>eForm</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Record</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CPR</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Application Default</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Related_Object</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>OEA</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_RequestData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OEA__c</objectType>
    </variables>
    <variables>
        <name>FundingSourceList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OEA_CPR_OneToMany__c</objectType>
    </variables>
    <variables>
        <name>FundingSourceList_Final</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OEA_CPR_OneToMany__c</objectType>
    </variables>
    <variables>
        <name>FW_CustomAppObjectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FW_ForCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>APP_CustomApp_RecordData_To_CaseDescriptionSummary</elementReference>
        </value>
    </variables>
</Flow>
