force-app/main/default/flows/OEA_CPR_Screen_Flow_For_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>OptionProjectType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CPR_ProjectType__c</picklistField>
        <picklistObject>OEA__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PublicationTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PublicationType__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ThisActivityOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PriorApprovalReceived__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>APP_CustomApp_RecordData_To_CaseDescriptionSummary</name>
        <dataType>String</dataType>
        <expression>&quot;Project Name: &quot; +{!Project_Name} &amp;BR()
&amp;&quot;Project Request Type: &quot; +{!Project_Request_Type} &amp;BR()
&amp;&quot;Goal of Project Request: &quot; +{!Goal_of_Project_Request} &amp;BR()
&amp;&quot;Target Audience: &quot; +{!Target_Audience} &amp;BR()
&amp;&quot;Have all stakeholders reviewed?: &quot; +{!Have_all_stakeholders_reviewed} &amp;BR()
&amp;&quot;Are the drafts ready?: &quot; +{!Are_the_drafts_ready} &amp;BR()
&amp;&quot;Deadline: &quot; +TEXT({!Deadline}) &amp;BR()
&amp;&quot;Is the deadline flexible?: &quot; +{!Is_the_deadline_flexible} &amp;BR()</expression>
    </formulas>
    <interviewLabel>OEA CPR Screen Flow For Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OEA CPR Screen Flow For Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Funding_Source</name>
        <label>Get Funding Source</label>
        <locationX>360</locationX>
        <locationY>522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_APP_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reference_Number_Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReferenceNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OEA_CPR_OneToMany__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reference_Number</name>
        <label>Get Reference Number</label>
        <locationX>776</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Request_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseID</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>ReferenceNumber</assignToReference>
            <field>Reference_Number__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Request_Data</name>
        <label>Get Request Data</label>
        <locationX>745</locationX>
        <locationY>389</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Funding_Source</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReferenceNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OEA__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Request_Data</name>
        <label>Update Request Data</label>
        <locationX>1083</locationX>
        <locationY>629</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Reference_Number_Delete_2__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ReferenceNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CPR_AreAllStakeholdersReviewed__c</field>
            <value>
                <elementReference>Have_all_stakeholders_reviewed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_AreDraftsReady__c</field>
            <value>
                <elementReference>Are_the_drafts_ready</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_DeadlineDate__c</field>
            <value>
                <elementReference>Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_Goal__c</field>
            <value>
                <elementReference>Goal_of_Project_Request</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_IsDeadlineFlexible__c</field>
            <value>
                <elementReference>Is_the_deadline_flexible</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_ProjectName__c</field>
            <value>
                <elementReference>Project_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_ProjectType__c</field>
            <value>
                <elementReference>Project_Request_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CPR_TargetAudience__c</field>
            <value>
                <elementReference>Target_Audience</elementReference>
            </value>
        </inputAssignments>
        <object>OEA__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>APP_Request</name>
        <label>APP_Request</label>
        <locationX>256</locationX>
        <locationY>629</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msg2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;CPR Detail:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>APP_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Project_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Request_Data.CPR_ProjectName__c</elementReference>
                    </defaultValue>
                    <fieldText>Project Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Project_Request_Type</name>
                    <choiceReferences>OptionProjectType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Request_Data.CPR_ProjectType__c</elementReference>
                    </defaultValue>
                    <fieldText>Project Request Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Goal_of_Project_Request</name>
                    <defaultValue>
                        <stringValue>{!Get_Request_Data.CPR_Goal__c}</stringValue>
                    </defaultValue>
                    <fieldText>Goal of Project Request</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Target_Audience</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Request_Data.CPR_TargetAudience__c</elementReference>
                    </defaultValue>
                    <fieldText>Target Audience (e.g. Neighborhoods, providers, etc.)</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Have_all_stakeholders_reviewed</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Request_Data.CPR_AreAllStakeholdersReviewed__c</elementReference>
                    </defaultValue>
                    <fieldText>Have all stakeholders reviewed?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Are_the_drafts_ready</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Request_Data.CPR_AreDraftsReady__c</elementReference>
                    </defaultValue>
                    <fieldText>Are the drafts ready?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Deadline</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Request_Data.CPR_DeadlineDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Deadline</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_the_deadline_flexible</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Request_Data.CPR_IsDeadlineFlexible__c</elementReference>
                    </defaultValue>
                    <fieldText>Is the deadline flexible?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FundingSource</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OEA_CPR_OneToMany__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Funding Source</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Funding_Source</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FundingSource__c&quot;,&quot;guid&quot;:&quot;column-e0ec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Funding Source&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;FundingSource&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FundingDesign__c&quot;,&quot;guid&quot;:&quot;column-89eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Design&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;FundingDesign&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingMailing__c&quot;,&quot;guid&quot;:&quot;column-9d15&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Mailing&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;FundingMailing&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingPrinting__c&quot;,&quot;guid&quot;:&quot;column-6b2b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Printing&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;FundingPrinting&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingStorage__c&quot;,&quot;guid&quot;:&quot;column-6b83&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Storage&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;FundingStorage&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingAmount__c&quot;,&quot;guid&quot;:&quot;column-d1ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Funding Amount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;FundingAmount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;IsFundingFlexible__c&quot;,&quot;guid&quot;:&quot;column-71b3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Is Funding Flexible&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;IsFundingFlexible&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingDeadline__c&quot;,&quot;guid&quot;:&quot;column-5e09&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Funding Deadline&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;FundingDeadline&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>APP_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>btn_FundingSource</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Edit Funding Source&quot;,&quot;value&quot;:&quot;Edit Funding Source&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Update</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_APP_Request</name>
        <label>Copy 1 of APP_Request</label>
        <locationX>712</locationX>
        <locationY>647</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Request_Data</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_msg2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;CPR Detail:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_APP_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_APP_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>f1</name>
                    <fieldText>&lt;p&gt;Project Name: {!Get_Request_Data.CPR_ProjectName__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>f2</name>
                    <fieldText>&lt;p&gt;Project Request Type: {!Get_Request_Data.CPR_ProjectType__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>f3</name>
                    <fieldText>&lt;p&gt;Goal of Project Request: {!Get_Request_Data.CPR_Goal__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>f4</name>
                    <fieldText>&lt;p&gt;Target Audience: {!Get_Request_Data.CPR_TargetAudience__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>f8</name>
                    <fieldText>&lt;p&gt;Have all stakeholders reviewed? {!Get_Request_Data.CPR_AreAllStakeholdersReviewed__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>f5</name>
                    <fieldText>&lt;p&gt;Are the drafts ready? {!Get_Request_Data.CPR_AreDraftsReady__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>f6</name>
                    <fieldText>&lt;p&gt;Deadline: {!Get_Request_Data.CPR_DeadlineDate__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>f7</name>
                    <fieldText>&lt;p&gt;Is the deadline flexible? {!Get_Request_Data.CPR_IsDeadlineFlexible__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_APP_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_FundingSource</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>OEA_CPR_OneToMany__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Funding Source</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Funding_Source</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FundingSource__c&quot;,&quot;guid&quot;:&quot;column-e0ec&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Funding Source&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;FundingSource&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FundingDesign__c&quot;,&quot;guid&quot;:&quot;column-89eb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Design&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;FundingDesign&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingMailing__c&quot;,&quot;guid&quot;:&quot;column-9d15&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Mailing&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;FundingMailing&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingPrinting__c&quot;,&quot;guid&quot;:&quot;column-6b2b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Printing&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;FundingPrinting&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingStorage__c&quot;,&quot;guid&quot;:&quot;column-6b83&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Storage&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;FundingStorage&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingAmount__c&quot;,&quot;guid&quot;:&quot;column-d1ea&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Funding Amount&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;FundingAmount&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;IsFundingFlexible__c&quot;,&quot;guid&quot;:&quot;column-71b3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Is Funding Flexible&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;IsFundingFlexible&quot;,&quot;type&quot;:&quot;boolean&quot;},{&quot;apiName&quot;:&quot;FundingDeadline__c&quot;,&quot;guid&quot;:&quot;column-5e09&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Funding Deadline&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;FundingDeadline&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Copy_1_of_APP_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Copy_1_of_APP_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Copy_1_of_APP_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>649</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Reference_Number</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>APP_RequestData</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OEA__c</objectType>
    </variables>
    <variables>
        <name>CaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferenceNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
