force-app/main/default/flows/Orchestration_Step_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>a1</name>
        <label>a1</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>S4Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Submitted for Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_stage_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>a2</name>
        <label>a2</label>
        <locationX>1106</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>S4Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_stage_4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>a3</name>
        <label>a3</label>
        <locationX>1370</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>S4Action</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requester Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_case_stage_4</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approve</name>
        <choiceText>Approve</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Approve</stringValue>
        </value>
    </choices>
    <choices>
        <name>Go_To_Stage_1</name>
        <choiceText>Go To Stage 1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Go to Stage 1</stringValue>
        </value>
    </choices>
    <choices>
        <name>Go_To_Stage_2</name>
        <choiceText>Go To Stage 2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Go To Stage 2</stringValue>
        </value>
    </choices>
    <choices>
        <name>Go_To_Stage_3</name>
        <choiceText>Go To Stage 3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Go To Stage 3</stringValue>
        </value>
    </choices>
    <choices>
        <name>Reject</name>
        <choiceText>Reject</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Reject</stringValue>
        </value>
    </choices>
    <decisions>
        <name>s4_Decision</name>
        <label>s4 Decision</label>
        <locationX>1238</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Update_case_stage_4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ToStage1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_4_Division_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Go_To_Stage_1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>a1</targetReference>
            </connector>
            <label>ToStage1</label>
        </rules>
        <rules>
            <name>ToStage2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_4_Division_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Go_To_Stage_2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>a2</targetReference>
            </connector>
            <label>ToStage2</label>
        </rules>
        <rules>
            <name>ToStage3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Step_4_Division_Approval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Go_To_Stage_3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>a3</targetReference>
            </connector>
            <label>ToStage3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Step</name>
        <label>Which Step</label>
        <locationX>930</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_1_Step_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s</targetReference>
            </connector>
            <label>Stage 1 Step 1</label>
        </rules>
        <rules>
            <name>Stage_2_Step_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s2</targetReference>
            </connector>
            <label>Stage 2 Step 1</label>
        </rules>
        <rules>
            <name>Stage_3_Step_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s3</targetReference>
            </connector>
            <label>Stage 3 Step 1</label>
        </rules>
        <rules>
            <name>Stage_4_Step_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Step</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>s4</targetReference>
            </connector>
            <label>Stage 4 Step 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Orchestration Step 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orchestration Step 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_queue</name>
        <label>Get queue</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_case_stage_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DOHMH_EE_Default_Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case_stage_1</name>
        <label>Update case stage 1</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>h1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_case_stage_2</name>
        <label>update case stage 2</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>h2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Requester Review</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_stage_3</name>
        <label>Update case stage 3</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>h3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Division Approval</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_case_stage_4</name>
        <label>Update case stage 4</label>
        <locationX>1238</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>h4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>S4Action</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>s</name>
        <label>s1</label>
        <locationX>50</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_case_stage_1</targetReference>
        </connector>
        <fields>
            <name>message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Step 1 Submitted for Approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_1_SubmittedforApproval</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Step 1 Submitted for Approval</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s2</name>
        <label>s2</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_queue</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Step 2 Processing&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_2_Processing</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Step 2 Processing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s3</name>
        <label>s3</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_case_stage_3</targetReference>
        </connector>
        <fields>
            <name>msg3</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Step 3 Requester Review&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_3_Requester_Review</name>
            <choiceReferences>Approve</choiceReferences>
            <choiceReferences>Reject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Step 3 Requester Review</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>s4</name>
        <label>s4</label>
        <locationX>1238</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>s4_Decision</targetReference>
        </connector>
        <fields>
            <name>msg4</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Step 4 Division Approval&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Step_4_Division_Approval</name>
            <choiceReferences>Go_To_Stage_1</choiceReferences>
            <choiceReferences>Go_To_Stage_2</choiceReferences>
            <choiceReferences>Go_To_Stage_3</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Step 4 Division Approval</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>804</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Step</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>h1</name>
        <label>h1</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Step_1_SubmittedforApproval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <stringValue>Submitted for Approval</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>h2</name>
        <label>h2</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Step_2_Processing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>h3</name>
        <label>h3</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Step_3_Requester_Review</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <stringValue>Requester Review</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>h4</name>
        <label>h4</label>
        <locationX>1238</locationX>
        <locationY>854</locationY>
        <flowName>FW_Approval_History</flowName>
        <inputAssignments>
            <name>Action</name>
            <value>
                <elementReference>Step_4_Division_Approval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CaseID</name>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Workflow</name>
            <value>
                <stringValue>Division Approval</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>S4Action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Stage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Step</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
