force-app/main/default/flows/PTR_Request_with_One_Many_Relation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Another_User_ID_Val</name>
        <label>Assign Another User ID Val</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>UserIdVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmployeeIdLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetching_Myuser_Details_From_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_ID_Val</name>
        <label>Assign User ID Val</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>UserIdVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fetching_Myuser_Details_From_Employee</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Another_User</name>
        <choiceText>Another User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another User</stringValue>
        </value>
    </choices>
    <choices>
        <name>MySelf</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MySelf</stringValue>
        </value>
    </choices>
    <constants>
        <name>Application_type</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Publication Tracking Request</stringValue>
        </value>
    </constants>
    <decisions>
        <name>User_Type_Identifier</name>
        <label>User Type Identifier</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Assign_User_ID_Val</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Another_User_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>I_am_completing_this_request_on_behalf_of1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Another_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Another_User_ID_Val</targetReference>
            </connector>
            <label>Another User Type</label>
        </rules>
    </decisions>
    <description>This is a POC flow to have the ability to add multiple child records.</description>
    <dynamicChoiceSets>
        <name>PublicationTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PublicationType__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ThisActivityOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PriorApprovalReceived__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>getEmployeeFullName</name>
        <dataType>String</dataType>
        <expression>{!Fetching_Myuser_Details_From_Employee.Name}</expression>
    </formulas>
    <formulas>
        <name>NewCaseLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260},FIND(&apos;/&apos;,{!$Api.Enterprise_Server_URL_260},9)) &amp; &apos;employees/s/detail/&apos; &amp; {!Get_case_Details.Id}</expression>
    </formulas>
    <formulas>
        <name>NewMDRLinkFormula</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_260},FIND(&apos;/&apos;,{!$Api.Enterprise_Server_URL_260},9)) &amp; &apos;employees/s/detail/&apos; &amp; {!getMDRRecordDetailsVar}</expression>
    </formulas>
    <formulas>
        <name>PolicyLink</name>
        <dataType>String</dataType>
        <expression>HYPERLINK(&quot;https://www1.nyc.gov/site/doh/index.page&quot;, &quot;BYOD Policy&quot;,&quot;_self&quot;)</expression>
    </formulas>
    <formulas>
        <name>Var_PTRDescriptionFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Publication Type: &quot; +{!Publication_Type} &amp;BR()
&amp;&quot;Target Publication: &quot; +{!Target_Publication} &amp;BR()
&amp;&quot;Conference Title: &quot; +{!Conference_Title} &amp;BR()
&amp;&quot;Submission Deadline: &quot; +TEXT({!Submission_Deadline}) &amp;BR()
&amp;&quot;Article Title: &quot; +{!Article_Title} &amp;BR()
&amp;&quot;Authors: &quot; +{!Authors} &amp;BR()
&amp;&quot;Abstract: &quot; +{!Abstract} &amp;BR()
&amp;&quot;Authors Comments: &quot; +{!Authors_Comments} &amp;BR()
&amp;&quot;Reviewed By Outside DOHMH: &quot; +IF({!Reviewed_By_Outside_DOHMH}, &quot;YES&quot;, &quot;No&quot;) &amp;BR()
&amp;&quot;This activity: &quot; +{!This_activity} &amp;BR()</expression>
    </formulas>
    <interviewLabel>PTR Request with One - Many Relation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PTR Request with One - Many Relation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_for_PTR</name>
        <label>Create Case for PTR</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignRecordIdToReference>CaseRecordIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>Get_case_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>eForm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Submitted for Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Application_type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_COM_record_for_PTR_request</name>
        <label>Create COM record for PTR request</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>VAR_getPTRRecordDetails</assignRecordIdToReference>
        <connector>
            <targetReference>Get_PTR_Record_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>PTR_Abstract__c</field>
            <value>
                <elementReference>Abstract</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_ArticleTitle__c</field>
            <value>
                <elementReference>Article_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_AuthorsComments__c</field>
            <value>
                <elementReference>Authors_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_Authors__c</field>
            <value>
                <elementReference>Authors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_ConferenceTitle__c</field>
            <value>
                <elementReference>Conference_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_PriorApprovalReceived__c</field>
            <value>
                <elementReference>This_activity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_PublicationType__c</field>
            <value>
                <elementReference>Publication_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_ReviewerByOutsideDOHMH__c</field>
            <value>
                <elementReference>Reviewed_By_Outside_DOHMH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_SubmissionDeadline__c</field>
            <value>
                <elementReference>Submission_Deadline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PTR_TargetPublication__c</field>
            <value>
                <elementReference>Target_Publication</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Case_ID__c</field>
            <value>
                <elementReference>Get_case_Details.CaseNumber</elementReference>
            </value>
        </inputAssignments>
        <object>COM__c</object>
    </recordCreates>
    <recordLookups>
        <name>Fetching_Myuser_Details_From_Employee</name>
        <label>Fetching Myuser Details From Employee</label>
        <locationX>182</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PTR_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIdVal</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Active_Reviewers_Records</name>
        <label>Get Active Reviewers Records</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Related_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>COM_PTR_Reviewer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_case_Details</name>
        <label>Get case Details</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Attachments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseRecordIdVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PTR_Record_Details</name>
        <label>Get PTR Record Details</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Reviewers_Subflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_getPTRRecordDetails</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>COM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Case_Record</name>
        <label>Update Related Case Record</label>
        <locationX>182</locationX>
        <locationY>1694</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_case_Details.CaseNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Publication Tracking Request</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Var_ForCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>Get_PTR_Record_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Attachments</name>
        <label>Attachments</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_COM_record_for_PTR_request</targetReference>
        </connector>
        <fields>
            <name>COM_PTR_Attachments</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <stringValue>{!$Flow.InterviewGuid}1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attachments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CaseRecordIdVar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>On_Behalf_of</name>
        <label>On Behalf of</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>User_Type_Identifier</targetReference>
        </connector>
        <fields>
            <name>On_Behalf_of_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>On_Behalf_of_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>I_am_completing_this_request_on_behalf_of1</name>
                    <choiceReferences>MySelf</choiceReferences>
                    <choiceReferences>Another_User</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>I am completing this request on behalf of:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>EmployeeIdLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>UserId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>I_am_completing_this_request_on_behalf_of1</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Another_User</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>On_Behalf_of_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>PTR_Request</name>
        <label>PTR Request</label>
        <locationX>182</locationX>
        <locationY>734</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_for_PTR</targetReference>
        </connector>
        <fields>
            <name>PTR_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PTR_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Employee_Full_Name</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Name: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>GetEmployeeBureaue</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Bureau: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.Bureau__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>GetWorkPhone</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Work Phone: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.WorkPhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RequesterWorkUnit</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Requester Work Unit: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.Work_Unit__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PTR_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>GetEmployeeDivision</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Division: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.Division__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>GetAddress</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Address: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.Work_Address__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>RequesterEmail</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Requester Email: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!Fetching_Myuser_Details_From_Employee.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>PTR_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PTR_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Publication_Type</name>
                    <choiceReferences>PublicationTypeOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Publication Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Target_Publication</name>
                    <dataType>String</dataType>
                    <fieldText>Target Publication</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Conference_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Conference Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Submission_Deadline</name>
                    <dataType>Date</dataType>
                    <fieldText>Submission Deadline</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Article_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Article Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Authors</name>
                    <dataType>String</dataType>
                    <fieldText>Authors</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Abstract</name>
                    <fieldText>Abstract</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Authors_Comments</name>
                    <fieldText>Authors Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reviewed_By_Outside_DOHMH</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Reviewed By Outside DOHMH</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>This_activity</name>
                    <choiceReferences>ThisActivityOptions</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>This activity</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>On_Behalf_of</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Add_Reviewers_Subflow</name>
        <label>Add Reviewers Subflow</label>
        <locationX>182</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Get_Active_Reviewers_Records</targetReference>
        </connector>
        <flowName>Add_Reviewers</flowName>
        <inputAssignments>
            <name>VAR_ParentRecordId_from_Mainflow</name>
            <value>
                <elementReference>Get_PTR_Record_Details.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CaseRecordIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>getFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Fetching_Myuser_Details_From_Employee.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>getMDRRecordDetailsVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>GetMySelfEmployeeDetails</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Employee</objectType>
    </variables>
    <variables>
        <name>MyUserRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>nextApproverACDCId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextApproverIdVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserIdVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_ForCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Var_PTRDescriptionFormula</elementReference>
        </value>
    </variables>
    <variables>
        <name>VAR_getPTRRecordDetails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VariableforSafeguardingITassets</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>VarTContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
