force-app/main/default/flows/TecSys_Data_for_Case_Object.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <description>1. Updated the Finish button label to Save</description>
    <dynamicChoiceSets>
        <name>getAllTecSysDataforCaseObject</name>
        <collectionReference>getTecSysDataofCaseOwner</collectionReference>
        <dataType>String</dataType>
        <displayField>TEXT__c</displayField>
        <object>Tecsys_Asset__c</object>
        <valueField>TEXT__c</valueField>
    </dynamicChoiceSets>
    <interviewLabel>TecSys Data fro Case Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TecSys Data for MDR Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Record_ID</name>
        <label>Get Case Record ID</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_TecSys_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetCaseRecordID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MDR_Related_Record_Details</name>
        <label>Get MDR Related Record Details</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_MDR_Record_with_TecSys_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record_ID.Reference_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IT_Mobile_Device_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_TecSys_Data_Record_Details</name>
        <label>Get Selected TecSys Data Record Details</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selected_Device_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TEXT__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Asset_ID_or_Serial_or_IMEI_No_Case_Object</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tecsys_Asset__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_TecSys_Data</name>
        <label>Get TecSys Data</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TecSys_Data</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserName_Email_SF__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record_ID.CreatedBy.Email</elementReference>
            </value>
        </filters>
        <object>Tecsys_Asset__c</object>
        <outputReference>getTecSysDataofCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>TEXT__c</queriedFields>
        <queriedFields>SimOrCcid__c</queriedFields>
        <queriedFields>PhoneNum__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_MDR_Record_with_TecSys_Data</name>
        <label>Update MDR Record with TecSys Data</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Thank_you</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case_Record_ID.Reference_Number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Asset_ID__c</field>
            <value>
                <elementReference>Asset_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SIM_CCID__c</field>
            <value>
                <elementReference>SIM_or_CCID</elementReference>
            </value>
        </inputAssignments>
        <object>IT_Mobile_Device_Request__c</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Selected_Device_Info</name>
        <label>Selected Device Info</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_MDR_Related_Record_Details</targetReference>
        </connector>
        <fields>
            <name>Asset_ID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Selected_TecSys_Data_Record_Details.AssetId__c</elementReference>
            </defaultValue>
            <fieldText>Asset ID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SIM_or_CCID</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_Selected_TecSys_Data_Record_Details.SimOrCcid__c</elementReference>
            </defaultValue>
            <fieldText>SIM or CCID</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>TecSys_Data</name>
        <label>TecSys Data</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Selected_TecSys_Data_Record_Details</targetReference>
        </connector>
        <fields>
            <name>Asset_ID_or_Serial_or_IMEI_No_Case_Object</name>
            <choiceReferences>getAllTecSysDataforCaseObject</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Asset ID or Serial or IMEI No</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Thank_you</name>
        <label>Thank you</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>thankyouScreen</name>
            <fieldText>&lt;p&gt;Thank you! Your request has been updated in &lt;b&gt;{!Get_MDR_Related_Record_Details.Name}&lt;/b&gt; record. P&lt;span style=&quot;font-size: 13px;&quot;&gt;lease approve or reject the request as required.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetCaseRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>getTecSysDataofCaseOwner</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Tecsys_Asset__c</objectType>
    </variables>
</Flow>
