force-app/main/default/flows/test123.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <constants>
        <name>Get_Queue_Name</name>
        <dataType>String</dataType>
    </constants>
    <interviewLabel>test123 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test123</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case_Object_Record_Type</name>
        <label>Get Case Object Record Type</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IIT_SC_Application_Deployment_Application_Hosting_Environment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service_Catalog</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue_Developer_Name</name>
        <label>Get Queue Developer Name</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Object_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IIT_DEV4</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue_Developer_Name</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>IIT_SC_Application_Deployment_Application_Hosting_Environment</name>
        <label>IIT SC Application Deployment-Application Hosting Environment</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <flowName>Default_SC_Sub_Flow</flowName>
        <inputAssignments>
            <name>Var_QueueNameID</name>
            <value>
                <elementReference>Get_Queue_Developer_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_RecordCategory</name>
            <value>
                <stringValue>Application Deployment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_RecordDivision</name>
            <value>
                <stringValue>IIT</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_RecordTypeID</name>
            <value>
                <elementReference>Get_Case_Object_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_RequestSubject</name>
            <value>
                <stringValue>Application Deployment Application Hosting Environment</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Var_RequestType</name>
            <value>
                <stringValue>Application Hosting Environment	</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>GetRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_RecordTypeId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
</Flow>
