force-app/main/default/flows/Test_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Contact_Values</name>
        <label>Assign Contact Values</label>
        <locationX>808</locationX>
        <locationY>553</locationY>
        <assignmentItems>
            <assignToReference>SingleContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_Accounts.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>From Flow</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_to_Accounts.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assigning_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assigning_to_Collection</name>
        <label>Assigning to Collection</label>
        <locationX>976</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CollectionofContact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Accounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_is_Contact</name>
        <label>Checking is Contact exist</label>
        <locationX>537</locationX>
        <locationY>504</locationY>
        <defaultConnector>
            <targetReference>Loop_to_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_if_the_contact_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contact_Values</targetReference>
            </connector>
            <label>Checking if the contact exists</label>
        </rules>
    </decisions>
    <interviewLabel>Test Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test Flow</label>
    <loops>
        <name>Loop_to_Accounts</name>
        <label>Loop to Accounts</label>
        <locationX>790</locationX>
        <locationY>358</locationY>
        <collectionReference>Get_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Contact_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact_Records</name>
        <label>Create Contact Records</label>
        <locationX>1131</locationX>
        <locationY>357</locationY>
        <inputReference>CollectionofContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>783</locationX>
        <locationY>195</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_to_Accounts</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>522</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_is_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_to_Accounts.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>650</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionofContact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SingleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
