force-app/main/default/flows/Test1_ADM_BCR_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>FW_Navigate_to_Case_Record</name>
        <label>FW Navigate to Case Record</label>
        <locationX>1096</locationX>
        <locationY>2239</locationY>
        <actionName>c:navigateTo</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>navigateto</name>
            <value>
                <stringValue>URL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>APP_ApplicationURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FW_Submit_for_Approval</name>
        <label>FW_Submit for Approval</label>
        <locationX>1094</locationX>
        <locationY>1944</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>FW_Case_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <elementReference>APP_Approval_Process</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>FW_CaseRecordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>FW_Assign_Another_User_ID_Val</name>
        <label>FW_Assign Another User ID Val</label>
        <locationX>964</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>FW_UserIdVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FW_EmployeeIdLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FW_Fetching_Myuser_Details_From_Employee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FW_Assign_User_ID_Val</name>
        <label>FW_Assign User ID Val</label>
        <locationX>1228</locationX>
        <locationY>446</locationY>
        <assignmentItems>
            <assignToReference>FW_UserIdVal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FW_Fetching_Myuser_Details_From_Employee</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FW_Another_User</name>
        <choiceText>Another User</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another User</stringValue>
        </value>
    </choices>
    <choices>
        <name>FW_MySelf</name>
        <choiceText>Myself</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MySelf</stringValue>
        </value>
    </choices>
    <decisions>
        <name>FW_Add_Attachment</name>
        <label>FW Add Attachment</label>
        <locationX>1088</locationX>
        <locationY>1173</locationY>
        <defaultConnector>
            <targetReference>APP_Create_Record_In_Custom_App_Object</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FW_Add_Attachment_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APP_IsAttachmentRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FW_Attachments</targetReference>
            </connector>
            <label>FW Add Attachment Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>FW_Decision_DeleteCase</name>
        <label>FW_Decision_DeleteCase</label>
        <locationX>608</locationX>
        <locationY>1705</locationY>
        <defaultConnector>
            <targetReference>FW_Rollback_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FW_Outcome_DeleteCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>APP_IsAttachmentRequired</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FW_Delete_Attachment</targetReference>
            </connector>
            <label>FW_Outcome_DeleteCase</label>
        </rules>
    </decisions>
    <decisions>
        <name>FW_User_Type_Identifier</name>
        <label>FW_User Type Identifier</label>
        <locationX>1085</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>FW_Assign_User_ID_Val</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FW_Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FW_Another_User_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FW_I_am_completing_this_request_on_behalf_of</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>FW_Another_User</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FW_Assign_Another_User_ID_Val</targetReference>
            </connector>
            <label>FW_Another User Type</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PublicationTypeOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PublicationType__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ThisActivityOptions</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PTR_PriorApprovalReceived__c</picklistField>
        <picklistObject>COM__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <formulas>
        <name>APP_CustomApp_RecordData_To_CaseDescriptionSummary</name>
        <dataType>String</dataType>
        <expression>&quot;Name on Card: &quot; +{!Name_on_Card} &amp;BR()
&amp;&quot;Job Title: &quot; +{!Job_Title} &amp;BR()
&amp;&quot;Work Address: &quot; +{!Work_Address} &amp;BR()
&amp;&quot;Cell Phone: &quot; +{!Cell_Phone} &amp;BR()
&amp;&quot;Fax: &quot; +{!Fax} &amp;BR()
&amp;&quot;Email: &quot; +{!Email} &amp;BR()
&amp;&quot;Comments: &quot; +{!Comments} &amp;BR()</expression>
    </formulas>
    <interviewLabel>Test1 ADM BCR Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test1 ADM BCR Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>APP_Create_Record_In_Custom_App_Object</name>
        <label>APP Create Record In Custom App Object</label>
        <locationX>1092</locationX>
        <locationY>1413</locationY>
        <assignRecordIdToReference>FW_CustomAppObjectRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>APP_Get_App_Record_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>BCR_Comments__c</field>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BCR_New_RequesterCellPhone__c</field>
            <value>
                <elementReference>Cell_Phone</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BCR_New_RequesterEmail__c</field>
            <value>
                <elementReference>Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BCR_New_RequesterJobTitle__c</field>
            <value>
                <elementReference>Job_Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BCR_New_RequesterName__c</field>
            <value>
                <elementReference>Name_on_Card</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BCR_New_RequesterWorkAddress__c</field>
            <value>
                <elementReference>Work_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BCR_New_RequesterWorkFax__c</field>
            <value>
                <elementReference>Fax</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BCR_New_RequesterWorkPhone__c</field>
            <value>
                <elementReference>Work_Phone</elementReference>
            </value>
        </inputAssignments>
        <object>ADM__c</object>
    </recordCreates>
    <recordCreates>
        <name>FW_Create_Case</name>
        <label>FW Create Case</label>
        <locationX>1098</locationX>
        <locationY>902</locationY>
        <assignRecordIdToReference>FW_CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>FW_Get_Case_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>eForm</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>FW_GetRecordTypeID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>APP_Application_type</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordDeletes>
        <name>FW_Delete_Attachment</name>
        <label>FW Delete Attachment</label>
        <locationX>326</locationX>
        <locationY>1629</locationY>
        <connector>
            <targetReference>FW_Rollback_AfterCaseUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_CaseRecordId</elementReference>
            </value>
        </filters>
        <object>Attachment</object>
    </recordDeletes>
    <recordDeletes>
        <name>FW_DeleteCaseRecord</name>
        <label>FW_DeleteCaseRecord</label>
        <locationX>472</locationX>
        <locationY>1436</locationY>
        <connector>
            <targetReference>FW_Rollback_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_CaseRecordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
    </recordDeletes>
    <recordLookups>
        <name>APP_Get_App_Record_Details</name>
        <label>APP_Get App Record Details</label>
        <locationX>1096</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APP_Update_Related_Case_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_CustomAppObjectRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>COM__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FW_Fetching_Myuser_Details_From_Employee</name>
        <label>FW_Fetching Myuser Details From Employee</label>
        <locationX>1096</locationX>
        <locationY>662</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>APP_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_UserIdVal</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FW_Get_Case_Details</name>
        <label>FW Get Case Details</label>
        <locationX>1096</locationX>
        <locationY>1022</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FW_Add_Attachment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_CaseRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FW_GetRecordTypeID</name>
        <label>FW_GetRecordTypeID</label>
        <locationX>1299</locationX>
        <locationY>838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FW_Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>APP_RecordType</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordRollbacks>
        <name>FW_Rollback_AfterCaseUpdate</name>
        <label>FW_Rollback_AfterCaseUpdate</label>
        <locationX>58</locationX>
        <locationY>1620</locationY>
        <connector>
            <targetReference>test11</targetReference>
        </connector>
    </recordRollbacks>
    <recordUpdates>
        <name>APP_Update_Related_Case_Record</name>
        <label>APP_Update Related Case Record</label>
        <locationX>1098</locationX>
        <locationY>1771</locationY>
        <connector>
            <targetReference>FW_Decision_DeleteCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FW_Get_Case_Details.CaseNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>APP_Application_type</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>FW_ForCaseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reference_Number__c</field>
            <value>
                <elementReference>APP_Get_App_Record_Details.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>APP_Request</name>
        <label>APP_Request</label>
        <locationX>1096</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_GetRecordTypeID</targetReference>
        </connector>
        <fields>
            <name>APP_Request_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_Employee_Full_Name</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Name: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_GetEmployeeBureaue</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Bureau: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.Bureau__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_GetWorkPhone</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Work Phone: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.WorkPhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_RequesterWorkUnit</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Requester Work Unit: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.Work_Unit__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_GetEmployeeDivision</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Division: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.Division__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_GetAddress</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Address: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.Work_Address__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>FW_RequesterEmail</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 13px;&quot;&gt;Requester Email: &lt;/b&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;{!FW_Fetching_Myuser_Details_From_Employee.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>APP_Request_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>APP_Request_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name_on_Card</name>
                    <dataType>String</dataType>
                    <fieldText>Name on Card</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Job_Title</name>
                    <dataType>String</dataType>
                    <fieldText>Job Title</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Work_Address</name>
                    <dataType>String</dataType>
                    <fieldText>Work Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Work_Phone</name>
                    <dataType>String</dataType>
                    <fieldText>Work Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Cell_Phone</name>
                    <dataType>String</dataType>
                    <fieldText>Cell Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fax</name>
                    <dataType>String</dataType>
                    <fieldText>Fax</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email</name>
                    <dataType>String</dataType>
                    <fieldText>Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Comments</name>
                    <fieldText>Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>APP_Request_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Attachments</name>
        <label>FW Attachments</label>
        <locationX>843</locationX>
        <locationY>1277</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>APP_Create_Record_In_Custom_App_Object</targetReference>
        </connector>
        <fields>
            <name>FW_Attachment_Component</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <stringValue>{!$Flow.InterviewGuid}1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Attachments</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>FW_CaseRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Case_Confirmation</name>
        <label>FW Case Confirmation</label>
        <locationX>1096</locationX>
        <locationY>2074</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>FW_Navigate_to_Case_Record</targetReference>
        </connector>
        <fields>
            <name>FW_Case_Confirmation_Display_Text</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Your case #{!FW_Get_Case_Details.CaseNumber} has been created successfully.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Go to Case Record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_On_Behalf_of</name>
        <label>FW_On Behalf of</label>
        <locationX>1095</locationX>
        <locationY>187</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FW_User_Type_Identifier</targetReference>
        </connector>
        <fields>
            <name>FW_On_Behalf_of_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FW_On_Behalf_of_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FW_I_am_completing_this_request_on_behalf_of</name>
                    <choiceReferences>FW_MySelf</choiceReferences>
                    <choiceReferences>FW_Another_User</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>I am completing this request on behalf of:</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>FW_EmployeeIdLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>UserId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Employee</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FW_I_am_completing_this_request_on_behalf_of</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>FW_Another_User</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FW_On_Behalf_of_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FW_Rollback_Confirmation</name>
        <label>FW_Rollback_Confirmation</label>
        <locationX>803</locationX>
        <locationY>1424</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FW_Rollback_Confirmation_Message</name>
            <fieldText>&lt;p&gt;Error on entry. Rollback complete!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>test11</name>
        <label>test11</label>
        <locationX>317</locationX>
        <locationY>1456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>FW_DeleteCaseRecord</targetReference>
        </connector>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>FW_On_Behalf_of</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>APP_Application_type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Business Card Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_ApplicationURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>business-card-request</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Approval_Process</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_EE_Default_Approval_Process</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_Initial_Assigned_Group</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_EE_Default_Queue</stringValue>
        </value>
    </variables>
    <variables>
        <name>APP_IsAttachmentRequired</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>APP_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Business Card Request</stringValue>
        </value>
    </variables>
    <variables>
        <name>FW_CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FW_CustomAppObjectRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FW_ForCaseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>APP_CustomApp_RecordData_To_CaseDescriptionSummary</elementReference>
        </value>
    </variables>
    <variables>
        <name>FW_UserIdVal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
