force-app/main/default/flows/Update_Case_Owner_to_DOHMH_Police.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Case_Owner_to_IT_Mobile_Approvers</name>
        <label>Assign Case Owner to IT Mobile Approvers</label>
        <locationX>550</locationX>
        <locationY>848</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_the_IT_Mobile_Approvers_Queues_Dev_Name.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Case_to_DOHMH_Police_Queue</name>
        <label>Assign Case to DOHMH Police Queue</label>
        <locationX>909</locationX>
        <locationY>833</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fetch_the_DOHMH_Police_Queues_Dev_Name.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Waiting DOHMH Police</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Replacement_Reason_Lost_or_Stolen</name>
        <label>Replacement Reason Lost or Stolen</label>
        <locationX>709</locationX>
        <locationY>438</locationY>
        <defaultConnector>
            <targetReference>Fetch_the_IT_Mobile_Approvers_Queues_Dev_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Case_to_DOHMH_Police</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MDR_Reason_for_the_Replacement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MDR_Reason_for_the_Replacement__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stolen</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Processing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fetch_the_DOHMH_Police_Queues_Dev_Name</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Assign Case to DOHMH Police</label>
        </rules>
    </decisions>
    <description>Adding one more Condition, which is when the case owner=DOHMH Police, then update case status=Waiting for DOHMH Police</description>
    <interviewLabel>Update Case Owner to DOHMH Police {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case Owner to DOHMH Police</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Fetch_the_DOHMH_Police_Queues_Dev_Name</name>
        <label>Fetch the DOHMH Police Queues Dev Name</label>
        <locationX>908</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_to_DOHMH_Police_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDOHMHPoliceQueueDevName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fetch_the_IT_Mobile_Approvers_Queues_Dev_Name</name>
        <label>Fetch the IT Mobile Approvers Queues Dev Name</label>
        <locationX>550</locationX>
        <locationY>623</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Case_Owner_to_IT_Mobile_Approvers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetITMobileTeamQueueDevName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>590</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Replacement_Reason_Lost_or_Stolen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MDR Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>IT_MDR_Approvers</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Processing</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>This variable will store the developer name of the Queue</description>
        <name>GetDOHMHPoliceQueueDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>DOHMH_Police</stringValue>
        </value>
    </variables>
    <variables>
        <description>This Variable fetches the developer name of the IT Mobile Approvers Queue</description>
        <name>GetITMobileTeamQueueDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>IT_MDR_Approvers</stringValue>
        </value>
    </variables>
</Flow>
