force-app/main/default/flows/wkdw__Service_Catalog_Create_Case_Fulfillment_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>APEX_CreateRequestCase</name>
        <label>Create Case</label>
        <locationX>468</locationX>
        <locationY>1070</locationY>
        <actionName>wkdw__RequestCaseCreationAction</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ADD_Created_Case_Id</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen_01</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>caseAccountId</name>
            <value>
                <elementReference>GET_Employee.RelatedPersonId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseContactId</name>
            <value>
                <elementReference>GET_Employee.RelatedPerson.PersonContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseDescription</name>
            <value>
                <elementReference>AdditionalQuestions</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseOrigin</name>
            <value>
                <elementReference>var_sc_caseOrigin</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>casePriority</name>
            <value>
                <elementReference>var_sc_casePriority</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseRecordTypeId</name>
            <value>
                <elementReference>GET_CaseRecordType.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseStatus</name>
            <value>
                <elementReference>var_sc_caseStatus</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseSubject</name>
            <value>
                <elementReference>var_caseSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>caseUseRequestCaseAssignmentRule</name>
            <value>
                <elementReference>var_useRequestCaseAssignmentRule</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <elementReference>queueID</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>ADD_Created_Case_Id</name>
        <label>Add Created Case Id</label>
        <locationX>468</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>SvcCatalogRelatedRecordIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>APEX_CreateRequestCase.caseId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Case_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SET_AssignmentRule</name>
        <label>Set Assignment Rule</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>var_useRequestCaseAssignmentRule</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>queueID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Queue_Details_0.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>APEX_CreateRequestCase</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Queue_Name</name>
        <label>Check Queue Name</label>
        <locationX>468</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>APEX_CreateRequestCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Empty Queue</defaultConnectorLabel>
        <rules>
            <name>With_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_sc_queueId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Queue_Details_0</targetReference>
            </connector>
            <label>With Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_QueueNameProvided</name>
        <label>Queue Name</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>APEX_CreateRequestCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CHECK_QueueNameProvided_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Queue_Details_0.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SET_AssignmentRule</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Create a case</description>
    <formulas>
        <name>var_caseSubject</name>
        <dataType>String</dataType>
        <expression>{!var_sc_caseSubject} + &apos; - &apos; + {!GET_Employee.EmployeeNumber}</expression>
    </formulas>
    <interviewLabel>Sample Service Catalog Create Case Fulfillment Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>[Sample] Service Catalog Create Case Fulfillment Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Case Number</description>
        <name>Get_Case_Number</name>
        <label>Get Case Number</label>
        <locationX>468</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>S01_CaseConfirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>APEX_CreateRequestCase.caseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_CaseRecordType</name>
        <label>Case Record Type</label>
        <locationX>468</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GET_Employee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_sc_caseRecordTypeName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GET_Employee</name>
        <label>Employee</label>
        <locationX>468</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Queue_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Queue_Details_0</name>
        <label>Queue Details</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CHECK_QueueNameProvided</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_sc_queueId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>490</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault_Message</name>
            <fieldText>&lt;p&gt;1st error -- {!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen_01</name>
        <label>Fault_Screen_01</label>
        <locationX>930</locationX>
        <locationY>1190</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Fault_Screen_01_DT</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>S01_CaseConfirmation</name>
        <label>Case Confirmation</label>
        <locationX>468</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>S01_DT01</name>
            <fieldText>&lt;p&gt;Your case {!Get_Case_Number.CaseNumber} was created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GET_CaseRecordType</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AdditionalQuestions</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>queueID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SvcCatalogRelatedRecordIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_sc_caseOrigin</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Web</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_sc_casePriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Medium</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_sc_caseRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>HR - General</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_sc_caseStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_sc_caseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_sc_queueId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>var_useRequestCaseAssignmentRule</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
